<!DOCTYPE html>
<html lang="en" data-ui-theme="dark">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Modals</title>
    <link rel="stylesheet" href="../../../dist/frost-ui.css" />
    <script src="../../../dist/frost-ui-bundle.js"></script>
</head>

<body>
    <div class="container">
        <h1>Modals</h1>
        <div class="mb-4">
            <button class="btn btn-primary ripple" data-ui-toggle="modal" data-ui-target="#modal" type="button">Open Modal</button>
        </div>
        <div class="modal" id="modal" tabindex="-1" role="dialog" aria-labelledby="modalTitle" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content shadow">
                    <div class="modal-header">
                        <h5 class="modal-title" id="modalTitle">Modal title</h5>
                        <button class="btn-close" data-ui-dismiss="modal" type="button" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <p>This is the body of the modal.</p>
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-success ripple mb-0" type="button">Save</button>
                        <button class="btn btn-secondary ripple mb-0" data-ui-dismiss="modal" type="button">Cancel</button>
                    </div>
                </div>
            </div>
        </div>

        <h4>Static Backdrop</h4>
        <div class="mb-4">
            <button class="btn btn-primary ripple" data-ui-toggle="modal" data-ui-target="#modalStatic" type="button">Open Modal</button>
        </div>
        <div class="modal" id="modalStatic" data-ui-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="modalStaticTitle" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content shadow">
                    <div class="modal-header">
                        <h5 class="modal-title" id="modalStaticTitle">Modal title</h5>
                        <button class="btn-close" data-ui-dismiss="modal" type="button" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <p>This is the body of the modal.</p>
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-success ripple mb-0" type="button">Save</button>
                        <button class="btn btn-secondary ripple mb-0" data-ui-dismiss="modal" type="button">Cancel</button>
                    </div>
                </div>
            </div>
        </div>

        <h4>Long Content</h4>
        <div class="mb-4">
            <button class="btn btn-primary ripple" data-ui-toggle="modal" data-ui-target="#modalLong" type="button">Open Modal</button>
        </div>
        <div class="modal" id="modalLong" tabindex="-1" role="dialog" aria-labelledby="modalLongTitle" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content shadow">
                    <div class="modal-header">
                        <h5 class="modal-title" id="modalLongTitle">Modal title</h5>
                        <button class="btn-close" data-ui-dismiss="modal" type="button" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Corrupti voluptas tenetur impedit
                            sit dolor, quasi voluptatem enim earum numquam perferendis nobis dolorem modi non, odio
                            deleniti quia, voluptates laborum commodi.</p>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi distinctio quaerat, hic quis
                            suscipit eligendi ratione ullam! Enim minima quia accusantium nihil itaque, hic eveniet
                            culpa quo inventore voluptas autem?</p>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Distinctio, ad rerum nulla libero
                            cupiditate aut, recusandae sequi voluptates fugiat sapiente ipsum, dignissimos laboriosam!
                            Dignissimos tempora aperiam autem id consequatur ratione.</p>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorem sapiente harum deleniti
                            hic, quibusdam cum, officiis ratione omnis totam accusantium corrupti mollitia in id unde
                            rem aliquam, corporis quia est.</p>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati, ipsum! Non tempora quo
                            ullam eligendi hic, nostrum quisquam sed est totam minus beatae dolorem, error et rem esse
                            perferendis voluptatibus!</p>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. In fuga adipisci excepturi quo,
                            similique saepe corporis porro inventore nihil, perferendis blanditiis, nesciunt ipsum
                            facilis natus. Enim cumque culpa quibusdam? A!</p>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quas exercitationem delectus
                            dolorem ratione doloribus molestias ipsum corrupti neque? Minus nemo nam rerum. Veniam
                            aliquid impedit similique delectus voluptas ipsum. Fuga!</p>
                        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eaque dolor voluptate maxime vero,
                            debitis tenetur hic ea vel veniam cupiditate numquam neque molestias nobis voluptatem
                            doloremque repellat. Quia, sint delectus?</p>
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-success ripple mb-0" type="button">Save</button>
                        <button class="btn btn-secondary ripple mb-0" data-ui-dismiss="modal" type="button">Cancel</button>
                    </div>
                </div>
            </div>
        </div>

        <h4>Scrollable</h4>
        <div class="mb-4">
            <button class="btn btn-primary ripple" data-ui-toggle="modal" data-ui-target="#modalScrollable" type="button">Open Modal</button>
        </div>
        <div class="modal" id="modalScrollable" tabindex="-1" role="dialog" aria-labelledby="modalScrollableTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-scrollable">
                <div class="modal-content shadow">
                    <div class="modal-header">
                        <h5 class="modal-title" id="modalScrollableTitle">Modal title</h5>
                        <button class="btn-close" data-ui-dismiss="modal" type="button" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Corrupti voluptas tenetur impedit
                            sit dolor, quasi voluptatem enim earum numquam perferendis nobis dolorem modi non, odio
                            deleniti quia, voluptates laborum commodi.</p>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi distinctio quaerat, hic quis
                            suscipit eligendi ratione ullam! Enim minima quia accusantium nihil itaque, hic eveniet
                            culpa quo inventore voluptas autem?</p>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Distinctio, ad rerum nulla libero
                            cupiditate aut, recusandae sequi voluptates fugiat sapiente ipsum, dignissimos laboriosam!
                            Dignissimos tempora aperiam autem id consequatur ratione.</p>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorem sapiente harum deleniti
                            hic, quibusdam cum, officiis ratione omnis totam accusantium corrupti mollitia in id unde
                            rem aliquam, corporis quia est.</p>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati, ipsum! Non tempora quo
                            ullam eligendi hic, nostrum quisquam sed est totam minus beatae dolorem, error et rem esse
                            perferendis voluptatibus!</p>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. In fuga adipisci excepturi quo,
                            similique saepe corporis porro inventore nihil, perferendis blanditiis, nesciunt ipsum
                            facilis natus. Enim cumque culpa quibusdam? A!</p>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quas exercitationem delectus
                            dolorem ratione doloribus molestias ipsum corrupti neque? Minus nemo nam rerum. Veniam
                            aliquid impedit similique delectus voluptas ipsum. Fuga!</p>
                        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eaque dolor voluptate maxime vero,
                            debitis tenetur hic ea vel veniam cupiditate numquam neque molestias nobis voluptatem
                            doloremque repellat. Quia, sint delectus?</p>
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-success ripple mb-0" type="button">Save</button>
                        <button class="btn btn-secondary ripple mb-0" data-ui-dismiss="modal" type="button">Cancel</button>
                    </div>
                </div>
            </div>
        </div>

        <h4>Vertically Centered</h4>
        <div class="mb-4">
            <button class="btn btn-primary ripple" data-ui-toggle="modal" data-ui-target="#modalCentered" type="button">Open Modal</button>
        </div>
        <div class="modal" id="modalCentered" tabindex="-1" role="dialog" aria-labelledby="modalCenteredTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content shadow">
                    <div class="modal-header">
                        <h5 class="modal-title" id="modalCenteredTitle">Modal title</h5>
                        <button class="btn-close" data-ui-dismiss="modal" type="button" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <p>This is the body of the modal.</p>
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-success ripple mb-0" type="button">Save</button>
                        <button class="btn btn-secondary ripple mb-0" data-ui-dismiss="modal" type="button">Cancel</button>
                    </div>
                </div>
            </div>
        </div>

        <h4>Tooltips/Popovers</h4>
        <div class="mb-4">
            <button class="btn btn-primary ripple" data-ui-toggle="modal" data-ui-target="#modalTooltips" type="button">Open Modal</button>
        </div>
        <div class="modal" id="modalTooltips" tabindex="-1" role="dialog" aria-labelledby="modalTooltipsTitle" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content shadow">
                    <div class="modal-header">
                        <h5 class="modal-title" id="modalTooltipsTitle">Modal title</h5>
                        <button class="btn-close" data-ui-dismiss="modal" type="button" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <h4>Tooltip</h4>
                        <button class="btn btn-secondary ripple" data-ui-toggle="tooltip" data-ui-title="This is a tooltip" type="button">Tooltip</button>
                        <h4>Popover</h4>
                        <button class="btn btn-secondary ripple" data-ui-toggle="popover" data-ui-content="Popover content would go here.. how cool!" type="button">Popover</button>
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-success ripple mb-0" type="button">Save</button>
                        <button class="btn btn-secondary ripple mb-0" data-ui-dismiss="modal" type="button">Cancel</button>
                    </div>
                </div>
            </div>
        </div>

        <h4>Dropdowns</h4>
        <div class="mb-4">
            <button class="btn btn-primary ripple" data-ui-toggle="modal" data-ui-target="#modalDropdown" type="button">Open Modal</button>
        </div>
        <div class="modal" id="modalDropdown" tabindex="-1" role="dialog" aria-labelledby="modalDropdownTitle" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content shadow">
                    <div class="modal-header">
                        <h5 class="modal-title" id="modalDropdownTitle">Modal title</h5>
                        <button class="btn-close" data-ui-dismiss="modal" type="button" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <div class="dropdown">
                            <button class="btn btn-primary ripple dropdown-toggle" id="dropdown" data-ui-toggle="dropdown" type="button" aria-haspopup="true" aria-expanded="false">Dropdown</button>
                            <div class="dropdown-menu shadow-sm" aria-labelledby="dropdown">
                                <button class="dropdown-item" type="button">Action</button>
                                <button class="dropdown-item" type="button">Action</button>
                                <button class="dropdown-item" type="button">Action</button>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-success ripple mb-0" type="button">Save</button>
                        <button class="btn btn-secondary ripple mb-0" data-ui-dismiss="modal" type="button">Cancel</button>
                    </div>
                </div>
            </div>
        </div>

        <h4>Stackable</h4>
        <div class="mb-4">
            <button class="btn btn-primary ripple" data-ui-toggle="modal" data-ui-target="#modalStack1" type="button">Open Modal</button>
        </div>
        <div class="modal" id="modalStack1" tabindex="-1" role="dialog" aria-labelledby="modalStack1Title" aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content shadow">
                    <div class="modal-header">
                        <h5 class="modal-title" id="modalStack1Title">Modal title</h5>
                        <button class="btn-close" data-ui-dismiss="modal" type="button" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <p>Modals can be stacked on top of each other.</p>
                        <p>This modal is larger and contains extra content, to demonstrate how backdrops overlay over other modals.</p>
                        <button class="btn btn-primary ripple" data-ui-toggle="modal" data-ui-target="#modalStack2" type="button">Open Modal</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal" id="modalStack2" tabindex="-1" role="dialog" aria-labelledby="modalStack2Title" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content shadow">
                    <div class="modal-header">
                        <h5 class="modal-title" id="modalStack2Title">Modal title</h5>
                        <button class="btn-close" data-ui-dismiss="modal" type="button" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <p>Modals stacking can go as deep as you want.</p>
                        <button class="btn btn-primary ripple" data-ui-toggle="modal" data-ui-target="#modalStack3" type="button">Open Modal</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal" id="modalStack3" tabindex="-1" role="dialog" aria-labelledby="modalStack3Title" aria-hidden="true">
            <div class="modal-dialog modal-sm">
                <div class="modal-content shadow">
                    <div class="modal-header">
                        <h5 class="modal-title" id="modalStack3Title">Modal title</h5>
                        <button class="btn-close" data-ui-dismiss="modal" type="button" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <p>This is the body of the modal.</p>
                    </div>
                </div>
            </div>
        </div>

        <h4>Sizes</h4>
        <div class="mb-4">
            <button class="btn btn-primary ripple mb-1" data-ui-toggle="modal" data-ui-target="#modalSmall" type="button">Small</button>
            <button class="btn btn-primary ripple mb-1" data-ui-toggle="modal" data-ui-target="#modalLarge" type="button">Large</button>
            <button class="btn btn-primary ripple mb-1" data-ui-toggle="modal" data-ui-target="#modalXL" type="button">Extra Large</button>
        </div>
        <div class="modal" id="modalSmall" tabindex="-1" role="dialog" aria-labelledby="modalSmallTitle" aria-hidden="true">
            <div class="modal-dialog modal-sm">
                <div class="modal-content shadow">
                    <div class="modal-header">
                        <h5 class="modal-title" id="modalSmallTitle">Modal title</h5>
                        <button class="btn-close" data-ui-dismiss="modal" type="button" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <p>This is the body of the modal.</p>
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-success ripple mb-0" type="button">Save</button>
                        <button class="btn btn-secondary ripple mb-0" data-ui-dismiss="modal" type="button">Cancel</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal" id="modalLarge" tabindex="-1" role="dialog" aria-labelledby="modalLargeTitle" aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content shadow">
                    <div class="modal-header">
                        <h5 class="modal-title" id="modalLargeTitle">Modal title</h5>
                        <button class="btn-close" data-ui-dismiss="modal" type="button" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <p>This is the body of the modal.</p>
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-success ripple mb-0" type="button">Save</button>
                        <button class="btn btn-secondary ripple mb-0" data-ui-dismiss="modal" type="button">Cancel</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal" id="modalXL" tabindex="-1" role="dialog" aria-labelledby="modalXLTitle" aria-hidden="true">
            <div class="modal-dialog modal-xl">
                <div class="modal-content shadow">
                    <div class="modal-header">
                        <h5 class="modal-title" id="modalXLTitle">Modal title</h5>
                        <button class="btn-close" data-ui-dismiss="modal" type="button" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <p>This is the body of the modal.</p>
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-success ripple mb-0" type="button">Save</button>
                        <button class="btn btn-secondary ripple mb-0" data-ui-dismiss="modal" type="button">Cancel</button>
                    </div>
                </div>
            </div>
        </div>

        <h4>Fullscreen</h4>
        <div class="mb-4">
            <button class="btn btn-primary ripple mb-1" data-ui-toggle="modal" data-ui-target="#modalFullscreen" type="button">Fullscreen</button>
            <button class="btn btn-primary ripple mb-1" data-ui-toggle="modal" data-ui-target="#modalFullscreenSm" type="button">Fullscreen SM</button>
            <button class="btn btn-primary ripple mb-1" data-ui-toggle="modal" data-ui-target="#modalFullscreenMd" type="button">Fullscreen MD</button>
            <button class="btn btn-primary ripple mb-1" data-ui-toggle="modal" data-ui-target="#modalFullscreenLg" type="button">Fullscreen LG</button>
            <button class="btn btn-primary ripple mb-1" data-ui-toggle="modal" data-ui-target="#modalFullscreenXl" type="button">Fullscreen XL</button>
            <button class="btn btn-primary ripple mb-1" data-ui-toggle="modal" data-ui-target="#modalFullscreenXxl" type="button">Fullscreen XXL</button>
        </div>
        <div class="modal" id="modalFullscreen" tabindex="-1" role="dialog" aria-labelledby="modalFullscreenTitle" aria-hidden="true">
            <div class="modal-dialog modal-fullscreen">
                <div class="modal-content shadow">
                    <div class="modal-header">
                        <h5 class="modal-title" id="modalFullscreenTitle">Modal title</h5>
                        <button class="btn-close" data-ui-dismiss="modal" type="button" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <p>This is the body of the modal.</p>
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-success ripple mb-0" type="button">Save</button>
                        <button class="btn btn-secondary ripple mb-0" data-ui-dismiss="modal" type="button">Cancel</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal" id="modalFullscreenSm" tabindex="-1" role="dialog" aria-labelledby="modalFullscreenSmTitle" aria-hidden="true">
            <div class="modal-dialog modal-fullscreen-sm-down">
                <div class="modal-content shadow">
                    <div class="modal-header">
                        <h5 class="modal-title" id="modalFullscreenSmTitle">Modal title</h5>
                        <button class="btn-close" data-ui-dismiss="modal" type="button" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <p>This is the body of the modal.</p>
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-success ripple mb-0" type="button">Save</button>
                        <button class="btn btn-secondary ripple mb-0" data-ui-dismiss="modal" type="button">Cancel</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal" id="modalFullscreenMd" tabindex="-1" role="dialog" aria-labelledby="modalFullscreenMdTitle" aria-hidden="true">
            <div class="modal-dialog modal-fullscreen-md-down">
                <div class="modal-content shadow">
                    <div class="modal-header">
                        <h5 class="modal-title" id="modalFullscreenMdTitle">Modal title</h5>
                        <button class="btn-close" data-ui-dismiss="modal" type="button" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <p>This is the body of the modal.</p>
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-success ripple mb-0" type="button">Save</button>
                        <button class="btn btn-secondary ripple mb-0" data-ui-dismiss="modal" type="button">Cancel</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal" id="modalFullscreenLg" tabindex="-1" role="dialog" aria-labelledby="modalFullscreenLgTitle" aria-hidden="true">
            <div class="modal-dialog modal-fullscreen-lg-down">
                <div class="modal-content shadow">
                    <div class="modal-header">
                        <h5 class="modal-title" id="modalFullscreenLgTitle">Modal title</h5>
                        <button class="btn-close" data-ui-dismiss="modal" type="button" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <p>This is the body of the modal.</p>
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-success ripple mb-0" type="button">Save</button>
                        <button class="btn btn-secondary ripple mb-0" data-ui-dismiss="modal" type="button">Cancel</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal" id="modalFullscreenXl" tabindex="-1" role="dialog" aria-labelledby="modalFullscreenXlTitle" aria-hidden="true">
            <div class="modal-dialog modal-fullscreen-xl-down">
                <div class="modal-content shadow">
                    <div class="modal-header">
                        <h5 class="modal-title" id="modalFullscreenXlTitle">Modal title</h5>
                        <button class="btn-close" data-ui-dismiss="modal" type="button" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <p>This is the body of the modal.</p>
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-success ripple mb-0" type="button">Save</button>
                        <button class="btn btn-secondary ripple mb-0" data-ui-dismiss="modal" type="button">Cancel</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal" id="modalFullscreenXxl" tabindex="-1" role="dialog" aria-labelledby="modalFullscreenXxlTitle" aria-hidden="true">
            <div class="modal-dialog modal-fullscreen-xxl-down">
                <div class="modal-content shadow">
                    <div class="modal-header">
                        <h5 class="modal-title" id="modalFullscreenXxlTitle">Modal title</h5>
                        <button class="btn-close" data-ui-dismiss="modal" type="button" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <p>This is the body of the modal.</p>
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-success ripple mb-0" type="button">Save</button>
                        <button class="btn btn-secondary ripple mb-0" data-ui-dismiss="modal" type="button">Cancel</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
        const tooltips = $.find('[data-ui-toggle="tooltip"]');
        for (const tooltip of tooltips) {
            UI.Tooltip.init(tooltip);
        }
        const popovers = $.find('[data-ui-toggle="popover"]');
        for (const popover of popovers) {
            UI.Popover.init(popovers);
        }
    </script>
</body>

</html>