<!DOCTYPE html>
<html lang="en" data-ui-theme="dark">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Navs</title>
    <link rel="stylesheet" href="../../../dist/frost-ui.css" />
    <script src="../../../dist/frost-ui-bundle.js"></script>
</head>

<body>
    <div class="container">
        <h1>Navs</h1>
        <div class="mb-4">
            <ul class="nav">
                <li class="nav-item">
                    <a class="nav-link active" href="#" aria-current="page">Active</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Link</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Link</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
                </li>
            </ul>
        </div>
        <div class="mb-4">
            <nav class="nav">
                <a class="nav-link active" href="#" aria-current="page">Active</a>
                <a class="nav-link" href="#">Link</a>
                <a class="nav-link" href="#">Link</a>
                <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
            </nav>
        </div>

        <h4>Alignment</h4>
        <div class="mb-4">
            <ul class="nav justify-content-center">
                <li class="nav-item">
                    <a class="nav-link active" href="#" aria-current="page">Active</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Link</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Link</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
                </li>
            </ul>
        </div>
        <div class="mb-4">
            <ul class="nav justify-content-end">
                <li class="nav-item">
                    <a class="nav-link active" href="#" aria-current="page">Active</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Link</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Link</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
                </li>
            </ul>
        </div>

        <h4>Vertical</h4>
        <div class="mb-4">
            <ul class="nav flex-column">
                <li class="nav-item">
                    <a class="nav-link active" href="#" aria-current="page">Active</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Link</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Link</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
                </li>
            </ul>
        </div>
        <div class="mb-4">
            <nav class="nav flex-column">
                <a class="nav-link active" href="#" aria-current="page">Active</a>
                <a class="nav-link" href="#">Link</a>
                <a class="nav-link" href="#">Link</a>
                <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
            </nav>
        </div>

        <h4>Tabs</h4>
        <div class="mb-4">
            <div class="nav nav-tabs">
                <a class="nav-link active" href="#" aria-current="page">Active</a>
                <a class="nav-link" href="#">Link</a>
                <a class="nav-link" href="#">Link</a>
                <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
            </div>
        </div>

        <h4>Pills</h4>
        <div class="mb-4">
            <div class="nav nav-pills">
                <a class="nav-link active" href="#" aria-current="page">Active</a>
                <a class="nav-link" href="#">Link</a>
                <a class="nav-link" href="#">Link</a>
                <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
            </div>
        </div>

        <h4>Underline</h4>
        <div class="mb-4">
            <div class="nav nav-underline">
                <a class="nav-link active" href="#" aria-current="page">Active</a>
                <a class="nav-link" href="#">Link</a>
                <a class="nav-link" href="#">Link</a>
                <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
            </div>
        </div>

        <h4>Fill &amp; Justify</h4>
        <div class="mb-4">
            <div class="nav nav-pills nav-fill">
                <a class="nav-link active" href="#" aria-current="page">Active</a>
                <a class="nav-link" href="#">Much Longer Link</a>
                <a class="nav-link" href="#">Link</a>
                <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
            </div>
        </div>
        <div class="mb-4">
            <div class="nav nav-pills nav-justified">
                <a class="nav-link active" href="#" aria-current="page">Active</a>
                <a class="nav-link" href="#">Much Longer Link</a>
                <a class="nav-link" href="#">Link</a>
                <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
            </div>
        </div>

        <h4>Dropdowns</h4>
        <div class="mb-4">
            <div class="nav nav-tabs">
                <a class="nav-link active" href="#" aria-current="page">Active</a>
                <a class="nav-link" href="#">Link</a>
                <div class="dropdown">
                    <a class="nav-link dropdown-toggle" id="tabDropdown" data-ui-toggle="dropdown" data-ui-spacing="0" href="#" aria-haspopup="true" aria-expanded="false">Dropdown</a>
                    <div class="dropdown-menu" aria-labelledby="tabDropdown">
                        <a class="dropdown-item" href="#">Link</a>
                        <a class="dropdown-item" href="#">Link</a>
                        <a class="dropdown-item" href="#">Link</a>
                    </div>
                </div>
                <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
            </div>
        </div>
        <div class="mb-4">
            <div class="nav nav-pills">
                <a class="nav-link active" href="#" aria-current="page">Active</a>
                <a class="nav-link" href="#">Link</a>
                <div class="dropdown">
                    <a class="nav-link dropdown-toggle" id="pillDropdown" data-ui-toggle="dropdown" data-ui-spacing="0" href="#" aria-haspopup="true" aria-expanded="false">Dropdown</a>
                    <div class="dropdown-menu" aria-labelledby="pillDropdown">
                        <a class="dropdown-item" href="#">Link</a>
                        <a class="dropdown-item" href="#">Link</a>
                        <a class="dropdown-item" href="#">Link</a>
                    </div>
                </div>
                <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
            </div>
        </div>

        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
    </div>
</body>

</html>