.btn-close {
    box-sizing: content-box;
    width: $btn-close-size;
    height: $btn-close-size;
    padding: $btn-close-padding-y $btn-close-padding-x;
    background: $btn-close-background;
    border: 0;
    border-radius: $btn-close-border-radius;
    opacity: $btn-close-opacity;

    &,
    &:hover,
    &:focus {
        text-decoration: none;
    }

    &:hover {
        opacity: $btn-close-hover-opacity;
    }

    &:focus {
        outline: 0;
        opacity: $btn-close-focus-opacity;
    }

    &.disabled,
    &:disabled {
        pointer-events: none;
        user-select: none;
        opacity: $btn-close-disabled-opacity;
    }
}

.btn-close-white {
    filter: $btn-close-white-filter;
}
