@each $name, $color in $color-link-variants {
    .link-#{"" + $name} {
        color: rgba(var(--ui-#{$name}-rgb), var(--ui-link-opacity, 1));
        text-decoration-color: rgba(var(--ui-#{$name}-rgb), var(--ui-link-underline-opacity, 1));

        &:hover,
        &:focus {
            color: rgba(var(--ui-#{$name}-emphasis-rgb), var(--ui-link-opacity, 1));
            text-decoration-color: rgba(var(--ui-#{$name}-emphasis-rgb), var(--ui-link-underline-opacity, 1));
        }
    }
}

.link-body-emphasis {
    color: rgba(var(--ui-emphasis-color-rgb), var(--ui-link-opacity, 1));
    text-decoration-color: rgba(var(--ui-emphasis-color-rgb), var(--ui-link-underline-opacity, 1));

    &:hover,
    &:focus {
        color: rgba(var(--ui-emphasis-color-rgb), var(--ui-link-opacity, .75));
        text-decoration-color: rgba(var(--ui-emphasis-color-rgb), var(--ui-link-underline-opacity, .75));
    }
}