.ripple {
    position: relative;
    overflow: hidden;
}

.ripple-effect {
    position: absolute;
    width: 2px;
    height: 2px;
    pointer-events: none;
    background-color: var(--ui-ripple-bg);
    border-radius: 50%;
}
