.alert {
    position: relative;
    padding: $alert-padding-y $alert-padding-x;
    margin-bottom: $alert-margin-bottom;
    color: var(--ui-alert-color);
    background-color: var(--ui-alert-bg);
    border: $alert-border-size $border-style $alert-border-color;
    @include border-radius($alert-border-radius);
}

.alert-heading {
    color: inherit;
}

.alert-link {
    font-weight: $alert-link-font-weight;
    color: var(--ui-alert-link-color);

    &:hover {
        color: var(--ui-alert-link-hover-color);
    }

    &:focus {
        color: var(--ui-alert-link-focus-color);
    }
}

.alert-dismissable {
    padding-right: $alert-dismissable-padding-right;

    .btn-close {
        position: absolute;
        top: 0;
        right: 0;
        padding: $alert-padding-y $alert-padding-x;
        color: inherit;
    }
}

@each $name, $color in $alert-variants {
    .alert-#{$name} {
        $background-color: tint($color, $alert-background-color-tint);
        $text-color: text-color-contrast($background-color, $color);
        $link-color: shade($text-color, $alert-link-color-shade);
        $link-hover-color: shade($link-color, $link-hover-color-shade);
        $link-focus-color: tint($link-color, $link-focus-color-tint);

        --ui-alert-color: #{$text-color};
        --ui-alert-bg: #{$background-color};
        --ui-alert-link-color: #{$link-color};
        --ui-alert-link-hover-color: #{$link-hover-color};
        --ui-alert-link-focus-color: #{$link-focus-color};
    }
}
