.alert {
    --ui-alert-padding-x: #{$alert-padding-x};
    --ui-alert-padding-y: #{$alert-padding-y};
    --ui-alert-margin-bottom: #{$alert-margin-bottom};
    --ui-alert-bg: transparent;
    --ui-alert-color: inherit;
    --ui-alert-link-color: inherit;
    --ui-alert-border-width: #{$alert-border-width};
    --ui-alert-border-color: transparent;
    --ui-alert-border-radius: #{$alert-border-radius};

    position: relative;
    padding: var(--ui-alert-padding-y) var(--ui-alert-padding-x);
    margin-bottom: var(--ui-alert-margin-bottom);
    color: var(--ui-alert-color);
    background-color: var(--ui-alert-bg);
    border: var(--ui-alert-border-width) var(--ui-border-style) var(--ui-alert-border-color);
    @include border-radius(var(--ui-alert-border-radius));
}

.alert-heading {
    color: inherit;
}

.alert-link {
    font-weight: $alert-link-font-weight;
    color: var(--ui-alert-link-color);
}

.alert-dismissable {
    padding-right: calc((var(--ui-alert-padding-x) * 2) + #{$btn-close-width});

    .btn-close {
        position: absolute;
        top: 0;
        right: 0;
        padding: var(--ui-alert-padding-y) var(--ui-alert-padding-x);
        color: inherit;
    }
}

@each $name, $color in $color-variants {
    .alert-#{$name} {
        --ui-alert-bg: var(--ui-#{$name}-subtle);
        --ui-alert-border-color: var(--ui-#{$name}-subtle-emphasis);
        --ui-alert-color: var(--ui-#{$name}-subtle-text);
        --ui-alert-link-color: var(--ui-#{$name}-subtle-text);
    }
}
