.badge {
    --ui-badge-padding-x: #{$badge-padding-x};
    --ui-badge-padding-y: #{$badge-padding-y};
    --ui-badge-font-size: #{$badge-font-size};
    --ui-badge-font-weight: #{$badge-font-weight};
    --ui-badge-color: #{$badge-color};
    --ui-badge-border-radius: #{$badge-border-radius};

    display: inline-block;
    padding: var(--ui-badge-padding-y) var(--ui-badge-padding-x);
    font-size: var(--ui-badge-font-size);
    font-weight: var(--ui-badge-font-weight);
    line-height: 1;
    vertical-align: baseline;
    color: var(--ui-badge-color);
    text-align: center;
    white-space: nowrap;
    @include border-radius(var(--ui-badge-border-radius));
}

.badge:empty {
    display: none;
}

.btn .badge {
    position: relative;
    top: calc(var(--ui-btn-border-width) * -1);
}
