.btn {
    --ui-btn-padding-x: #{$btn-padding-x};
    --ui-btn-padding-y: #{$btn-padding-y};
    --ui-btn-font-family: #{$btn-font-family};
    --ui-btn-font-size: #{$btn-font-size};
    --ui-btn-font-weight: #{$btn-font-weight};
    --ui-btn-line-height: #{$btn-line-height};
    --ui-btn-border-width: #{$btn-border-width};
    --ui-btn-border-color: #{$btn-border-color};
    --ui-btn-border-radius: #{$btn-border-radius};
    --ui-btn-hover-border-color: transparent;
    --ui-btn-active-border-color: transparent;
    --ui-btn-disabled-opacity: #{$btn-disabled-opacity};
    --ui-btn-focus-shadow-rgb: var(--ui-primary-rgb);
    --ui-btn-focus-box-shadow: #{$btn-focus-box-shadow};

    display: inline-block;
    padding: var(--ui-btn-padding-y) var(--ui-btn-padding-x);
    font-family: var(--ui-btn-font-family);
    font-size: var(--ui-btn-font-size);
    font-weight: var(--ui-btn-font-weight);
    line-height: var(--ui-btn-line-height);
    color: var(--ui-btn-color);
    text-align: center;
    text-decoration: none;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    user-select: none;
    background-color: var(--ui-btn-bg);
    border: var(--ui-btn-border-width) var(--ui-border-style) var(--ui-btn-border-color);
    transition: all $transition-time $transition-type;
    transition-property: color, background-color, border-color, box-shadow;
    @include border-radius(var(--ui-btn-border-radius));

    @at-root {

        #{&}:hover,
        .btn-check:focus-visible+#{&},
        #{&}:focus-visible {
            background-color: var(--ui-btn-hover-bg);
            border-color: var(--ui-btn-hover-border-color);
        }

        .btn-check:focus-visible+#{&},
        #{&}:focus-visible {
            outline: 0;
            box-shadow: var(--ui-btn-focus-box-shadow);
        }

        .btn-check:checked+#{&},
        #{&}.active {
            --ui-ripple-bg: var(--ui-active-ripple-bg);

            color: var(--ui-btn-active-color, var(--ui-btn-color));
            background-color: var(--ui-btn-active-bg);
            border-color: var(--ui-btn-active-border-color);
        }

        #{&}:disabled,
        #{&}.disabled,
        fieldset:disabled #{&} {
            pointer-events: none;
            opacity: var(--ui-btn-disabled-opacity);
        }
    }
}

.btn-lg {
    --ui-btn-padding-x: #{$btn-lg-padding-x};
    --ui-btn-padding-y: #{$btn-lg-padding-y};
    --ui-btn-font-size: #{$btn-lg-font-size};
    --ui-btn-border-radius: #{$btn-lg-border-radius};
}

.btn-sm {
    --ui-btn-padding-x: #{$btn-sm-padding-x};
    --ui-btn-padding-y: #{$btn-sm-padding-y};
    --ui-btn-font-size: #{$btn-sm-font-size};
    --ui-btn-border-radius: #{$btn-sm-border-radius};
}

.btn-link {
    --ui-btn-color: var(--ui-link-color);
    --ui-btn-border-color: transparent;
    --ui-btn-hover-border-color: transparent;
    --ui-btn-active-color: var(--ui-link-hover-color);
    --ui-btn-focus-shadow-rgb: var(--ui-link-color-rgb);

    text-decoration: var(--ui-link-decoration);

    &:hover {
        --ui-btn-color: var(--ui-link-hover-color);
        --ui-link-decoration: var(--ui-link-hover-decoration);
    }
}

@each $name, $color in $color-variants {
    .btn-#{$name} {
        --ui-btn-bg: var(--ui-#{$name});
        --ui-btn-border-color: var(--ui-#{$name});
        --ui-btn-color: var(--ui-#{$name}-contrast);
        --ui-btn-hover-bg: var(--ui-#{$name}-highlight);
        --ui-btn-hover-border-color: var(--ui-#{$name}-highlight);
        --ui-btn-active-bg: var(--ui-#{$name}-active);
        --ui-btn-active-border-color: var(--ui-#{$name}-active);
        --ui-ripple-bg: rgba(var(--ui-#{$name}-contrast-rgb), #{$btn-ripple-opacity});
        --ui-btn-focus-shadow-rgb: var(--ui-#{$name}-rgb);
    }

    .btn-outline-#{$name} {
        --ui-btn-color: var(--ui-#{$name});
        --ui-btn-border-color: var(--ui-#{$name});
        --ui-btn-hover-bg: rgba(var(--ui-#{$name}-rgb), #{$btn-outline-hover-opacity});
        --ui-btn-hover-border-color: var(--ui-#{$name});
        --ui-btn-active-bg: var(--ui-#{$name});
        --ui-btn-active-color: var(--ui-#{$name}-contrast);
        --ui-btn-active-border-color: var(--ui-#{$name});
        --ui-ripple-bg: rgba(var(--ui-#{$name}-rgb), #{$btn-ripple-opacity});
        --ui-active-ripple-bg: rgba(var(--ui-#{$name}-contrast-rgb), #{$btn-ripple-opacity});
        --ui-btn-focus-shadow-rgb: var(--ui-#{$name}-rgb);
    }
}
