.card {
    --ui-card-spacer-x: #{$card-spacer-x};
    --ui-card-spacer-y: #{$card-spacer-y};
    --ui-card-title-spacer-y: #{$card-title-spacer-y};
    --ui-card-border-width: #{$card-border-width};
    --ui-card-border-color: #{$card-border-color};
    --ui-card-border-radius: #{$card-border-radius};
    --ui-card-inner-border-radius: calc(var(--ui-card-border-radius) - var(--ui-card-border-width));
    --ui-card-bg: #{$card-bg};
    --ui-card-cap-padding-x: #{$card-cap-padding-x};
    --ui-card-cap-padding-y: #{$card-cap-padding-y};
    --ui-card-cap-bg: #{$card-cap-bg};
    --ui-card-img-overlay-padding: #{$card-img-overlay-padding};
    --ui-card-group-margin: #{$card-group-margin};

    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    color: var(--ui-body-color);
    word-wrap: break-word;
    background-color: var(--ui-card-bg);
    background-clip: border-box;
    border: var(--ui-card-border-width) var(--ui-border-style) var(--ui-card-border-color);
    @include border-radius(var(--ui-card-border-radius));

    >hr {
        margin-right: 0;
        margin-left: 0;
    }

    >.list-group {
        border-top: inherit;
        border-bottom: inherit;

        &:first-child {
            border-top-width: 0;
            @include border-top-radius(var(--ui-card-inner-border-radius));
        }

        &:last-child {
            border-bottom-width: 0;
            @include border-bottom-radius(var(--ui-card-inner-border-radius));
        }
    }

    >.card-header + .list-group,
    >.list-group + .card-footer {
        border-top: 0;
    }
}

.card-header {
    padding: var(--ui-card-cap-padding-y) var(--ui-card-cap-padding-x);
    margin-bottom: 0;
    background-color: var(--ui-card-cap-bg);
    border-bottom: var(--ui-card-border-width) var(--ui-border-style) var(--ui-card-border-color);

    &:first-child {
        $card-header-border-radius: var(--ui-card-inner-border-radius) var(--ui-card-inner-border-radius) 0 0;
        @include border-radius($card-header-border-radius);
    }
}

.card-footer {
    padding: var(--ui-card-cap-padding-y) var(--ui-card-cap-padding-x);
    background-color: var(--ui-card-cap-bg);
    border-top: var(--ui-card-border-width) var(--ui-border-style) var(--ui-card-border-color);

    &:last-child {
        $card-footer-border-radius: 0 0 var(--ui-card-inner-border-radius) var(--ui-card-inner-border-radius);
        @include border-radius($card-footer-border-radius);
    }
}

.card-body {
    flex: 1 1 auto;
    padding: var(--ui-card-spacer-y) var(--ui-card-spacer-x);
}

.card-title {
    margin-bottom: var(--ui-card-title-spacer-y);
}

.card-subtitle {
    margin-top: calc(var(--ui-card-title-spacer-y) * -.5);
    margin-bottom: 0;
}

.card-text:last-child {
    margin-bottom: 0;
}

.card-link + .card-link {
    margin-left: var(--ui-card-spacer-x);
}

.card-img-overlay {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    padding: var(--ui-card-img-overlay-padding);
    @include border-radius(var(--ui-card-inner-border-radius));
}

.card-img {
    width: 100%;
}

.card-img-top {
    @extend .card-img;
    @include border-top-radius(var(--ui-card-inner-border-radius));
}

.card-img-bottom {
    @extend .card-img;
    @include border-bottom-radius(var(--ui-card-inner-border-radius));
}
