.dropdown-menu {
    --ui-dropdown-z-index: #{$dropdown-z-index};
    --ui-dropdown-min-width: #{$dropdown-min-width};
    --ui-dropdown-padding-x: #{$dropdown-padding-x};
    --ui-dropdown-padding-y: #{$dropdown-padding-y};
    --ui-dropdown-color: #{$dropdown-color};
    --ui-dropdown-bg: #{$dropdown-bg};
    --ui-dropdown-border-width: #{$dropdown-border-width};
    --ui-dropdown-border-color: #{$dropdown-border-color};
    --ui-dropdown-border-radius: #{$dropdown-border-radius};
    --ui-dropdown-inner-border-radius: calc(var(--ui-border-radius) - var(--ui-border-width));
    --ui-dropdown-divider-margin-y: #{$dropdown-divider-margin-y};
    --ui-dropdown-divider-border-width: #{$dropdown-divider-border-width};
    --ui-dropdown-divider-border-color: #{$dropdown-divider-border-color};
    --ui-dropdown-link-color: #{$dropdown-link-color};
    --ui-dropdown-link-hover-color: #{$dropdown-link-hover-color};
    --ui-dropdown-link-hover-bg: #{$dropdown-link-hover-bg};
    --ui-dropdown-link-active-color: #{$dropdown-link-active-color};
    --ui-dropdown-link-active-bg: #{$dropdown-link-active-bg};
    --ui-dropdown-link-disabled-color: #{$dropdown-link-disabled-color};
    --ui-dropdown-item-padding-x: #{$dropdown-item-padding-x};
    --ui-dropdown-item-padding-y: #{$dropdown-item-padding-y};
    --ui-dropdown-header-padding-x: #{$dropdown-header-padding-x};
    --ui-dropdown-header-padding-y: #{$dropdown-header-padding-y};
    --ui-dropdown-header-color: #{$dropdown-header-color};

    position: absolute;
    z-index: var(--ui-dropdown-z-index);
    display: none;
    min-width: var(--ui-dropdown-min-width);
    padding: var(--ui-dropdown-padding-y) var(--ui-dropdown-padding-x);
    margin: 0;
    font-size: $dropdown-font-size;
    color: var(--ui-dropdown-color);
    text-align: left;
    list-style: none;
    background-color: var(--ui-dropdown-bg);
    border: var(--ui-dropdown-border-width) var(--ui-border-style) var(--ui-dropdown-border-color);
    @include border-radius(var(--ui-dropdown-border-radius));

    &.show {
        display: block;
        overflow: hidden;
    }
}

.dropdown-item {
    display: block;
    width: 100%;
    padding: var(--ui-dropdown-item-padding-y) var(--ui-dropdown-item-padding-x);
    clear: both;
    font-weight: $dropdown-item-font-weight;
    color: var(--ui-dropdown-link-color);
    text-align: inherit;
    text-decoration: none;
    white-space: nowrap;
    background-color: transparent;
    border: 0;

    &:hover,
    &:focus {
        color: var(--ui-dropdown-link-hover-color);
        background-color: var(--ui-dropdown-link-hover-bg);
    }

    &:focus {
        outline: 0;
    }

    &.active {
        color: var(--ui-dropdown-link-active-color);
        background-color: var(--ui-dropdown-link-active-bg);
    }

    &:disabled,
    &.disabled {
        color: var(--ui-dropdown-link-disabled-color);
        pointer-events: none;
        background-color: transparent;
    }
}

.dropdown-header {
    display: block;
    padding: var(--ui-dropdown-header-padding-y) var(--ui-dropdown-header-padding-x);
    margin-bottom: 0;
    font-size: $dropdown-header-font-size;
    color: var(--ui-dropdown-header-color);
    white-space: nowrap;
}

.dropdown-divider {
    height: 0;
    margin: var(--ui-dropdown-divider-margin-y) 0;
    overflow: hidden;
    border-top: var(--ui-dropdown-divider-border-width) var(--ui-border-style) var(--ui-dropdown-divider-border-color);
}

.dropdown-toggle {
    white-space: nowrap;
    @include caret();

    +.dropdown-menu {
        top: 100%;
    }

    &[data-ui-placement="top"] {
        +.dropdown-menu {
            top: auto;
            bottom: 100%;
        }

        @include caret(up);
    }

    &[data-ui-placement="right"] {
        +.dropdown-menu {
            top: 0;
            right: auto;
            left: 100%;
        }

        @include caret(end);
    }

    &[data-ui-placement="left"] {
        +.dropdown-menu {
            top: 0;
            right: 100%;
            left: auto;
        }

        @include caret(start);
    }
}

.dropdown-toggle-split::after {
    margin-left: 0;
}

.dropdown-toggle-split::before {
    margin-right: 0;
}
