.dropdown-menu {
    --ui-dropdown-color: #{$dropdown-menu-color};
    --ui-dropdown-bg: #{$dropdown-menu-background-color};
    --ui-dropdown-item-color: #{$dropdown-item-color};
    --ui-dropdown-item-focus-bg: #{$dropdown-item-focus-background-color};
    --ui-dropdown-header-color: #{$dropdown-header-color};
    --ui-dropdown-item-text-color: #{$dropdown-item-text-color};

    position: absolute;
    z-index: $dropdown-z-index;
    min-width: $dropdown-menu-min-width;
    padding: $dropdown-menu-padding-y 0;
    margin: 0;
    font-size: $dropdown-menu-font-size;
    color: var(--ui-dropdown-color);
    text-align: left;
    list-style: none;
    background-color: var(--ui-dropdown-bg);
    border: $dropdown-menu-border-size $border-style $dropdown-menu-border-color;
    @include border-radius($dropdown-menu-border-radius);

    &.show {
        overflow: hidden;
    }

    &:not(.show) {
        display: none;
    }
}

.dropdown-item {
    display: block;
    width: 100%;
    padding: $dropdown-item-padding-y $dropdown-item-padding-x;
    clear: both;
    font-weight: $dropdown-item-font-weight;
    text-align: inherit;
    white-space: nowrap;
    background-color: transparent;
    border: 0;

    &,
    &:hover,
    &:focus {
        color: var(--ui-dropdown-item-color);
        text-decoration: none;
    }

    &:first-child {
        @include border-top-radius(inherit);
    }

    &:last-child {
        @include border-bottom-radius(inherit);
    }

    &:hover,
    &:focus {
        background-color: var(--ui-dropdown-item-focus-bg);
    }

    &:focus {
        outline: 0;
    }

    &.active {
        color: $dropdown-item-active-color;
        background-color: $dropdown-item-active-background-color;

        &:focus {
            background-color: $dropdown-item-active-focus-background-color;
        }
    }

    &:disabled,
    &.disabled {
        pointer-events: none;
        opacity: $dropdown-item-disabled-opacity;
    }
}

.dropdown-menu-dark {
    --ui-dropdown-color: #{$dropdown-menu-dark-color};
    --ui-dropdown-bg: #{$dropdown-menu-dark-background-color};
    --ui-dropdown-item-color: #{$dropdown-menu-dark-item-color};
    --ui-dropdown-item-focus-bg: #{$dropdown-menu-dark-item-focus-background-color};
    --ui-dropdown-header-color: #{$dropdown-menu-dark-header-color};
    --ui-dropdown-item-text-color: #{$dropdown-menu-dark-item-text-color};
}

.dropdown-header {
    display: block;
    padding: $dropdown-header-padding-y $dropdown-header-padding-x;
    margin-bottom: 0;
    font-size: $dropdown-header-font-size;
    color: var(--ui-dropdown-header-color);
    white-space: nowrap;
}

.dropdown-divider {
    height: 0;
    margin: $dropdown-divider-margin-y 0;
    overflow: hidden;
    border-top: $dropdown-divider-border-size $border-style $dropdown-divider-border-color;
}

.dropdown-item-text {
    display: block;
    padding: $dropdown-item-text-padding-y $dropdown-item-text-padding-x;
    color: var(--ui-dropdown-text-color);
}

.dropdown-toggle {
    white-space: nowrap;
    @include caret();

    + .dropdown-menu {
        top: 100%;
    }

    &[data-ui-placement="top"] {
        + .dropdown-menu {
            top: auto;
            bottom: 100%;
        }

        @include caret(up);
    }

    &[data-ui-placement="right"] {
        + .dropdown-menu {
            top: 0;
            right: auto;
            left: 100%;
        }

        @include caret(end);
    }

    &[data-ui-placement="left"] {
        + .dropdown-menu {
            top: 0;
            right: 100%;
            left: auto;
        }

        @include caret(start);
    }
}

.dropdown-toggle-split::after {
    margin-left: 0;
}

.dropdown-toggle-split::before {
    margin-right: 0;
}
