.list-group {
    --ui-list-group-color: #{$list-group-color};
    --ui-list-group-bg: #{$list-group-bg};
    --ui-list-group-border-color: #{$list-group-border-color};
    --ui-list-group-border-width: #{$list-group-border-width};
    --ui-list-group-border-radius: #{$list-group-border-radius};
    --ui-list-group-item-padding-x: #{$list-group-item-padding-x};
    --ui-list-group-item-padding-y: #{$list-group-item-padding-y};
    --ui-list-group-item-disabled-color: #{$list-group-item-disabled-color};
    --ui-list-group-item-disabled-bg: #{$list-group-item-disabled-bg};
    --ui-list-group-action-color: #{$list-group-action-color};
    --ui-list-group-action-hover-color: #{$list-group-action-hover-color};
    --ui-list-group-action-hover-bg: #{$list-group-action-hover-bg};
    --ui-list-group-active-color: #{$list-group-active-color};
    --ui-list-group-active-bg: #{$list-group-active-bg};
    --ui-list-group-active-border-color: #{$list-group-active-border-color};

    display: flex;
    flex-direction: column;
    padding: 0;
    margin-bottom: 0;
    margin-left: 0;
    @include border-radius(var(--ui-list-group-border-radius));
}

.list-group-item-action {
    width: 100%;
    color: var(--ui-list-group-action-color);
    text-align: inherit;

    &:hover,
    &:focus {
        z-index: 1;
        color: var(--ui-list-group-action-hover-color);
        text-decoration: none;
        background-color: var(--ui-list-group-action-hover-bg);
    }

    &:focus {
        outline: 0;
        box-shadow: #{$list-group-action-focus-box-shadow};
    }
}

.list-group-item {
    position: relative;
    display: block;
    padding: var(--ui-list-group-item-padding-y) var(--ui-list-group-item-padding-x);
    color: var(--ui-list-group-color);
    text-decoration: none;
    background-color: var(--ui-list-group-bg);
    border: var(--ui-list-group-border-width) var(--ui-border-style) var(--ui-list-group-border-color);

    &:first-child {
        @include border-top-radius(inherit);
    }

    &:last-child {
        @include border-bottom-radius(inherit);
    }

    &:disabled,
    &.disabled {
        color: var(--ui-list-group-item-disabled-color);
        pointer-events: none;
        background-color: var(--ui-list-group-item-disabled-bg);
    }

    &.active {
        z-index: 2;
        color: var(--ui-list-group-active-color);
        background-color: var(--ui-list-group-active-bg);
        border-color: var(--ui-list-group-active-border-color);
    }

    & + & {
        border-top-width: 0;

        &.active {
            margin-top: calc(var(--ui-list-group-border-width) * -1);
            border-top-width: var(--ui-list-group-border-width);
        }
    }
}

.list-group-flush {
    @include border-radius(0);

    >.list-group-item {
        border-width: 0 0 var(--ui-list-group-border-width);

        &:last-child {
            border-bottom-width: 0;
        }
    }
}

.list-group-numbered {
    list-style-type: none;
    counter-reset: section;

    >li::before {
        content: counters(section, ".") ". ";
        counter-increment: section;
    }
}

@each $name, $color in $color-variants {
    .list-group-item-#{$name} {
        --ui-list-group-color: var(--ui-#{$name}-subtle-text);
        --ui-list-group-bg: var(--ui-#{$name}-subtle);
        --ui-list-group-border-color: var(--ui-#{$name}-subtle-emphasis);
        --ui-list-group-action-hover-color: var(--ui-#{$name}-subtle-text);
        --ui-list-group-action-hover-bg: var(--ui-#{$name}-subtle-emphasis);
        --ui-list-group-focus-shadow-rgb: var(--ui-#{$name}-rgb);
        --ui-list-group-active-color: var(--ui-#{$name}-contrast);
        --ui-list-group-active-bg: var(--ui-#{$name});
        --ui-list-group-active-border-color: var(--ui-#{$name});
    }
}

@each $breakpoint in map-keys($breakpoints) {
    $infix: breakpoint-infix($breakpoint);

    @include media-breakpoint-up($breakpoint) {
        .list-group-horizontal#{$infix} {
            flex-direction: row;

            .list-group-item-action {
                width: auto;
            }

            .list-group-item {

                &:first-child {
                    @include border-radius(var(--ui-list-group-border-radius) 0 0 var(--ui-list-group-border-radius));
                }

                &:last-child {
                    @include border-radius(0 var(--ui-list-group-border-radius) $list-group-border-radius 0);
                }


                +.list-group-item {
                    border-top-width: var(--ui-list-group-border-width);
                    border-left-width: 0;
                }

                &.active {
                    margin-top: 0;
                    margin-left: calc(var(--ui-list-group-border-width) * -1);
                    border-left-width: var(--ui-list-group-border-width);
                }
            }
        }
    }
}
