.modal-open {
    overflow: hidden;

    .modal {
        overflow-x: hidden;
        overflow-y: auto;
    }
}

.modal {
    --ui-modal-z-index: #{$modal-z-index};
    --ui-modal-width: #{$modal-md-max-width};
    --ui-modal-padding-x: #{$modal-padding-x};
    --ui-modal-padding-y: #{$modal-padding-y};
    --ui-modal-margin: #{$modal-margin};
    --ui-modal-bg: #{$modal-bg};
    --ui-modal-border-width: #{$modal-border-width};
    --ui-modal-border-color: #{$modal-border-color};
    --ui-modal-border-radius: #{$modal-border-radius};
    --ui-modal-inner-border-radius: calc(var(--ui-modal-border-radius) - var(--ui-modal-border-width));
    --ui-modal-header-padding-x: #{$modal-header-padding-x};
    --ui-modal-header-padding-y: #{$modal-header-padding-y};
    --ui-modal-header-border-width: #{$modal-header-border-width};
    --ui-modal-header-border-color: #{$modal-header-border-color};
    --ui-modal-title-line-height: #{$modal-title-line-height};
    --ui-modal-footer-gap: #{$model-footer-gap};
    --ui-modal-footer-border-width: #{$modal-footer-border-width};
    --ui-modal-footer-border-color: #{$modal-footer-border-color};

    position: fixed;
    top: 0;
    left: 0;
    z-index: var(--ui-modal-z-index);
    width: 100%;
    height: 100%;
    overflow: hidden;
    outline: 0;

    &:not(.show) {
        display: none;
    }
}

.modal-dialog {
    position: relative;
    width: auto;
    margin: var(--ui-modal-margin);
    pointer-events: none;
}

.modal-dialog-scrollable {
    max-height: calc(100vh - #{$modal-dialog-scrollable-gap});

    .modal-content {
        max-height: 100%;
        overflow: hidden;
    }

    .modal-body {
        overflow-y: auto;
    }
}

.modal-dialog-centered {
    display: flex;
    align-items: center;
    min-height: calc(100vh - #{$modal-dialog-centered-gap});
}

.modal-content {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    color: $modal-content-color;
    pointer-events: auto;
    background-color: var(--ui-modal-bg);
    background-clip: padding-box;
    border: var(--ui-modal-border-width) var(--ui-border-style) var(--ui-modal-border-color);
    @include border-radius(var(--ui-modal-border-radius));
    box-shadow: $modal-content-box-shadow;
}

.modal-backdrop {
    --ui-backdrop-z-index: #{$modal-backdrop-z-index};
    --ui-backdrop-bg: #{$modal-backdrop-bg};

    position: fixed;
    top: 0;
    left: 0;
    z-index: var(--ui-backdrop-z-index);
    width: 100vw;
    height: 100vh;
    background-color: var(--ui-backdrop-bg);
}

.modal-header {
    display: flex;
    flex-shrink: 0;
    align-items: flex-start;
    justify-content: space-between;
    padding: var(--ui-modal-header-padding-y) var(--ui-modal-header-padding-x);
    border-bottom: var(--ui-modal-header-border-width) var(--ui-border-style) var(--ui-modal-header-border-color);
    @include border-top-radius(var(--ui-modal-inner-border-radius));

    .btn-close {
        padding: calc(var(--ui-modal-header-padding-y) * .5) calc(var(--ui-modal-header-padding-x) * .5);
        margin-top: calc(var(--ui-modal-header-padding-y) * -.5);
        margin-right: calc(var(--ui-modal-header-padding-x) * -.5);
        margin-bottom: calc(var(--ui-modal-header-padding-y) * -.5);
    }
}

.modal-title {
    margin-bottom: 0;
    line-height: var(--ui-modal-title-line-height);
}

.modal-body {
    position: relative;
    flex: 1 1 auto;
    padding: var(--ui-modal-padding-y) var(--ui-modal-padding-x);
}

.modal-footer {
    display: flex;
    flex-shrink: 0;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-end;
    padding: var(--ui-modal-padding-y) var(--ui-modal-padding-x);
    border-bottom: var(--ui-modal-footer-border-width) var(--ui-border-style) var(--ui-modal-footer-border-color);
    @include border-bottom-radius(var(--ui-modal-inner-border-radius));

    >* {
        margin: calc(var(--ui-modal-footer-gap) * .5);
    }
}

@include media-breakpoint-up(sm) {
    .modal-dialog {
        max-width: $modal-md-max-width;
        margin: $modal-md-dialog-margin-y auto;
    }

    .modal-dialog-scrollable {
        height: calc(100% - #{$modal-md-dialog-margin-y * 2});
    }

    .modal-dialog-centered {
        min-height: calc(100% - #{$modal-md-dialog-margin-y * 2});
    }

    .modal-sm {
        max-width: $modal-sm-max-width;
    }
}

@include media-breakpoint-up(lg) {

    .modal-lg,
    .modal-xl {
        max-width: $modal-lg-max-width;
    }
}

@include media-breakpoint-up(xl) {
    .modal-xl {
        max-width: $modal-xl-max-width;
    }
}

@each $breakpoint in map-keys($breakpoints) {
    $infix: breakpoint-infix($breakpoint);
    $infix: if($infix != "", $infix + "-down", "");

    @include media-breakpoint-down($breakpoint) {
        .modal-fullscreen#{$infix} {
            width: 100vw;
            max-width: none;
            height: 100%;
            margin: 0;

            .modal-content {
                height: 100%;
                border: 0;
            }

            .modal-content,
            .modal-header,
            .modal-footer {
                @include border-radius(0);
            }

            .modal-body {
                overflow-y: auto;
            }
        }
    }
}
