.nav {
    --ui-nav-link-padding-x: #{$nav-link-padding-x};
    --ui-nav-link-padding-y: #{$nav-link-padding-y};
    --ui-nav-link-color: #{$nav-link-color};
    --ui-nav-link-hover-color: #{$nav-link-hover-color};
    --ui-nav-link-focus-box-shadow: #{$nav-link-focus-box-shadow};
    --ui-nav-link-disabled-color: #{$nav-link-disabled-color};

    display: flex;
    flex-wrap: wrap;
    padding: 0;
    margin-bottom: 0;
    margin-left: 0;
    list-style: none;
}

.nav-link {
    display: block;
    padding: var(--ui-nav-link-padding-y) var(--ui-nav-link-padding-x);
    color: var(--ui-nav-link-color);
    text-decoration: none;
    transition: all $transition-time $transition-type;
    transition-property: color, background-color, border-color;

    &:hover,
    &:focus {
        color: var(--ui-nav-link-hover-color);
        text-decoration: none;
    }

    &:focus-visible {
        outline: 0;
        box-shadow: $nav-link-focus-box-shadow;
    }

    &.disabled {
        color: var(--ui-nav-link-disabled-color);
        pointer-events: none;
        cursor: default;
    }
}

.nav-tabs {
    --ui-nav-tabs-border-width: #{$nav-tabs-border-width};
    --ui-nav-tabs-border-color: #{$nav-tabs-border-color};
    --ui-nav-tabs-border-radius: #{$nav-tabs-border-radius};
    --ui-nav-tabs-link-hover-border-color: #{$nav-tabs-link-hover-border-color};
    --ui-nav-tabs-link-active-color: #{$nav-tabs-link-active-color};
    --ui-nav-tabs-link-active-bg: #{$nav-tabs-link-active-bg};
    --ui-nav-tabs-link-active-border-color: #{$nav-tabs-link-active-border-color};

    border-bottom: var(--ui-nav-tabs-border-width) var(--ui-border-style) var(--ui-nav-tabs-border-color);

    .nav-link {
        margin-bottom: calc(var(--ui-nav-tabs-border-width) * -1);
        background-color: transparent;
        border: var(--ui-nav-tabs-border-width) var(--ui-border-style) transparent;
        @include border-top-radius(var(--ui-nav-tabs-border-radius));

        &:hover,
        &:focus {
            isolation: isolate;
            border-color: var(--ui-nav-tabs-link-hover-border-color) transparent;
        }

        &.disabled {
            color: var(--ui-nav-link-disabled-color);
            background-color: transparent;
            border-color: transparent;
        }
    }

    .nav-link.active,
    .nav-item.show .nav-link {
        color: var(--ui-nav-tabs-link-active-color);
        background-color: var(--ui-nav-tabs-link-active-bg);
        border-color: var(--ui-nav-tabs-link-active-border-color) transparent;
    }

    [data-ui-placement="bottom"] + .dropdown-menu {
        @include border-top-radius(0);
    }
}

.nav-pills {
    --ui-nav-pills-border-radius: #{$nav-pills-border-radius};
    --ui-nav-pills-link-active-color: #{$nav-pills-link-active-color};
    --ui-nav-pills-link-active-bg: #{$nav-pills-link-active-bg};

    .nav-link {
        background: none;
        border: 0;
        @include border-radius(var(--ui-nav-pills-border-radius));

        &:disabled {
            color: var(--ui-nav-link-disabled-color);
            background-color: transparent;
            border-color: transparent;
        }
    }

    .nav-link.active,
    .nav-item.show .nav-link {
        color: var(--ui-nav-pills-link-active-color);
        background-color: var(--ui-nav-pills-link-active-bg);
    }
}

.nav-underline {
    --ui-nav-underline-gap: #{$nav-underline-gap};
    --ui-nav-underline-border-width: #{$nav-underline-border-width};
    --ui-nav-underline-link-active-color: #{$nav-underline-link-active-color};

    gap: var(--ui-nav-underline-gap);

    .nav-link {
        padding-right: 0;
        padding-left: 0;
        border-bottom: var(--ui-nav-underline-border-width) solid transparent;

        &:focus,
        &:hover {
            border-bottom-color: currentcolor;
        }
    }

    .nav-link.active,
    .show>.nav-link {
        font-weight: map-get($font-weights, bold);
        color: var(--ui-nav-underline-link-active-color);
        border-bottom-color: currentcolor;
    }
}

.nav-fill {

    >.nav-link,
    .nav-item {
        flex: 1 1 auto;
        text-align: center;
    }
}

.nav-justified {

    >.nav-link,
    .nav-item {
        flex-basis: 0;
        flex-grow: 1;
        text-align: center;
    }
}

.tab-content {
    >.tab-pane {
        display: none;

        &.active {
            display: block;
        }
    }
}

.card-header-tabs {
    margin-right: calc(var(--ui-card-cap-padding-x) * -.5);
    margin-bottom: calc(var(--ui-card-cap-padding-y) * -1);
    margin-left: calc(var(--ui-card-cap-padding-x) * -.5);
    border-bottom: 0;
}

.card-header-pills {
    margin-right: calc(var(--ui-card-cap-padding-x) * -.5);
    margin-left: calc(var(--ui-card-cap-padding-x) * -.5);
}
