.navbar {
    --ui-navbar-padding-x: #{$navbar-padding-x};
    --ui-navbar-padding-y: #{$navbar-padding-y};
    --ui-navbar-color: #{$navbar-color};
    --ui-navbar-hover-color: #{$navbar-hover-color};
    --ui-navbar-active-color: #{$navbar-active-color};
    --ui-navbar-disabled-color: #{$navbar-disabled-color};
    --ui-navbar-brand-padding-y: #{$navbar-brand-padding-y};
    --ui-navbar-brand-margin-end: #{$navbar-brand-margin-end};
    --ui-navbar-brand-font-size: #{$navbar-brand-font-size};
    --ui-navbar-brand-color: #{$navbar-brand-color};
    --ui-navbar-brand-hover-color: #{$navbar-brand-hover-color};
    --ui-navbar-text-color: #{$navbar-text-color};
    --ui-navbar-nav-link-padding-x: #{$navbar-nav-link-padding-x};
    --ui-navbar-toggler-padding-x: #{$navbar-toggler-padding-x};
    --ui-navbar-toggler-padding-y: #{$navbar-toggler-padding-y};
    --ui-navbar-toggler-font-size: #{$navbar-toggler-font-size};
    --ui-navbar-toggler-icon-width: #{$navbar-toggler-icon-width};
    --ui-navbar-toggler-icon: #{$navbar-toggler-icon};
    --ui-navbar-toggler-border-color: #{$navbar-toggler-border-color};
    --ui-navbar-toggler-border-width: #{$navbar-toggler-border-width};
    --ui-navbar-toggler-border-radius: #{$navbar-toggler-border-radius};
    --ui-navbar-toggler-focus-box-shadow: #{$navbar-toggler-focus-box-shadow};

    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: var(--ui-navbar-padding-y) var(--ui-navbar-padding-x);

    >.container,
    >.container-fluid,
    %responsive-navbar-container {
        display: flex;
        flex-wrap: inherit;
        align-items: center;
        justify-content: space-between;
    }

    @each $breakpoint, $max-width in $containers {
        >.container-#{$breakpoint} {
            @extend %responsive-navbar-container;
        }
    }
}

.navbar-brand {
    padding-top: var(--ui-navbar-brand-padding-y);
    padding-bottom: var(--ui-navbar-brand-padding-y);
    margin-right: var(--ui-navbar-brand-margin-right);
    font-size: var(--ui-navbar-brand-font-size);
    color: var(--ui-navbar-brand-color);
    white-space: nowrap;
    text-decoration: none;

    &:hover,
    &:focus {
        color: var(--ui-navbar-brand-hover-color);
    }
}

.navbar-nav {
    --ui-nav-link-padding-x: #{$nav-link-padding-x};
    --ui-nav-link-padding-y: #{$nav-link-padding-y};
    --ui-nav-link-font-size: var(--ui-nav-link-font-size);
    --ui-nav-link-font-weight: var(--ui-nav-link-font-weight);
    --ui-nav-link-color: var(--ui-navbar-color);
    --ui-nav-link-hover-color: var(--ui-navbar-hover-color);
    --ui-nav-link-disabled-color: var(--ui-navbar-disabled-color);

    display: flex;
    flex-direction: column;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;

    .nav-link.active,
    .show > .nav-link {
        color: var(--ui-navbar-active-color);
    }

    .dropdown-menu {
        position: static;
    }
}

.navbar-text {
    padding-top: $nav-link-padding-y;
    padding-bottom: $nav-link-padding-y;
    color: var(--ui-navbar-text-color);
}

.navbar-nav-scroll {
    max-height: $navbar-nav-scroll-height;
    overflow-y: auto;
}

.navbar-collapse {
    flex-grow: 1;
    align-items: center;
    width: 100%;
}

.navbar-toggler {
    padding: var(--ui-navbar-toggler-padding-y) var(--ui-navbar-toggler-padding-x);
    font-size: var(--ui-navbar-toggler-font-size);
    line-height: map-get($line-heights, 1);
    color: var(--ui-navbar-color);
    background-color: transparent;
    border: var(--ui-navbar-toggler-border-width) var(--ui-border-style) var(--ui-navbar-toggler-border-color);
    @include border-radius(var(--ui-navbar-toggler-border-radius));

    &:hover {
        text-decoration: none;
    }

    &:focus {
        text-decoration: none;
        outline: 0;
        box-shadow: var(--ui-navbar-toggler-focus-box-shadow);
    }
}

.navbar-toggler-icon {
    display: inline-block;
    width: var(--ui-navbar-toggler-icon-width);
    height: var(--ui-navbar-toggler-icon-width);
    vertical-align: middle;
    background-color: currentcolor;
    mask-image: var(--ui-navbar-toggler-icon);
    mask-repeat: no-repeat;
    mask-size: var(--ui-navbar-toggler-icon-width);
}

@each $breakpoint in map-keys($breakpoints) {
    $infix: breakpoint-infix($breakpoint);

    @include media-breakpoint-up($breakpoint) {
        .navbar-expand#{$infix} {
            flex-wrap: nowrap;
            justify-content: flex-start;

            .navbar-collapse {
                display: flex !important;
                flex-basis: auto;
            }

            .navbar-toggler {
                display: none;
            }

            .navbar-nav {
                flex-direction: row;
                margin-right: 0;
                margin-left: 0;

                .dropdown-menu {
                    position: absolute;
                }

                .nav-link {
                    padding-right: var(--ui-navbar-nav-link-padding-x);
                    padding-left: var(--ui-navbar-nav-link-padding-x);
                }
            }

            .navbar-nav-scroll {
                overflow: visible;
            }

            .offcanvas {
                position: inherit;
                bottom: 0;
                z-index: 1000;
                visibility: visible !important;
                flex-grow: 1;
                background-color: transparent;
                border-right: 0;
                border-left: 0;
                transform: none;

                &:not(.show) {
                    display: flex;
                }
            }

            .offcanvas-top,
            .offcanvas-bottom {
                height: auto;
                border-top: 0;
                border-bottom: 0;
            }

            .offcanvas-header {
                display: none;
            }

            .offcanvas-body {
                display: flex;
                flex-grow: 0;
                padding: 0;
                overflow-y: visible;
            }
        }
    }
}
