.offcanvas {
    --ui-offcanvas-z-index: #{$offcanvas-z-index};
    --ui-offcanvas-width: #{$offcanvas-horizontal-width};
    --ui-offcanvas-height: #{$offcanvas-vertical-height};
    --ui-offcanvas-padding-x: #{$offcanvas-padding-x};
    --ui-offcanvas-padding-y: #{$offcanvas-padding-y};
    --ui-offcanvas-color: #{$offcanvas-color};
    --ui-offcanvas-bg: #{$offcanvas-bg};
    --ui-offcanvas-border-width: #{$offcanvas-border-width};
    --ui-offcanvas-border-color: #{$offcanvas-border-color};
    --ui-offcanvas-title-line-height: #{$offcanvas-title-line-height};

    position: fixed;
    bottom: 0;
    z-index: var(--ui-offcanvas-z-index);
    display: flex;
    flex-direction: column;
    max-width: 100%;
    color: var(--ui-offcanvas-color);
    outline: 0;
    background-color: var(--ui-offcanvas-bg);
    background-clip: padding-box;

    &:not(.show) {
        display: none;
    }
}

.offcanvas-header {
    display: flex;
    align-items: center;
    padding: var(--ui-offcanvas-padding-y) var(--ui-offcanvas-padding-x);

    .btn-close {
        padding: calc(var(--ui-offcanvas-padding-y) * .5) calc(var(--ui-offcanvas-padding-x) * .5);
        margin-top: calc(var(--ui-offcanvas-padding-y) * -.5);
        margin-right: calc(var(--ui-offcanvas-padding-x) * -.5);
        margin-bottom: calc(var(--ui-offcanvas-padding-y) * -.5);
        margin-left: auto;
    }
}

.offcanvas-title {
    margin-bottom: 0;
    line-height: var(--ui-offcanvas-title-line-height);
}

.offcanvas-body {
    flex-grow: 1;
    padding: var(--ui-offcanvas-padding-y) var(--ui-offcanvas-padding-x);
    overflow-y: auto;
}

.offcanvas-start {
    top: 0;
    left: 0;
    width: var(--ui-offcanvas-width);
    border-right: var(--ui-offcanvas-border-width) var(--ui-border-style) var(--ui-offcanvas-border-color);
}

.offcanvas-end {
    top: 0;
    right: 0;
    width: var(--ui-offcanvas-width);
    border-left: var(--ui-offcanvas-border-width) var(--ui-border-style) var(--ui-offcanvas-border-color);
}

.offcanvas-top {
    top: 0;
    right: 0;
    left: 0;
    height: var(--ui-offcanvas-height);
    max-height: 100%;
    border-bottom: var(--ui-offcanvas-border-width) var(--ui-border-style) var(--ui-offcanvas-border-color);
}

.offcanvas-bottom {
    right: 0;
    left: 0;
    height: var(--ui-offcanvas-height);
    max-height: 100%;
    border-top: var(--ui-offcanvas-border-width) var(--ui-border-style) var(--ui-offcanvas-border-color);
}

.offcanvas-backdrop::before {
    position: fixed;
    top: 0;
    left: 0;
    z-index: $offcanvas-z-index - 1;
    width: 100vw;
    height: 100vh;
    content: "";
    background-color: $offcanvas-backdrop-bg;
}
