@keyframes progress-bar-stripes {
    from {
        background-position: $progress-bar-striped-background-size-x 0;
    }

    to {
        background-position: 0 0;
    }
}

.progress {
    --ui-progress-height: #{$progress-height};
    --ui-progress-bg: #{$progress-bg};
    --ui-progress-border-radius: #{$progress-border-radius};
    --ui-progress-vertical-height: #{$progress-vertical-height};
    --ui-progress-vertical-width: #{$progress-vertical-width};
    --ui-progress-bar-color: #{$progress-bar-color};
    --ui-progress-bar-bg: #{$progress-bar-bg};

    display: flex;
    height: var(--ui-progress-height);
    overflow: hidden;
    font-size: $progress-font-size;
    background-color: var(--ui-progress-bg);
    @include border-radius(var(--ui-progress-border-radius));
}

.progress-bar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
    color: var(--ui-progress-bar-color);
    text-align: center;
    white-space: nowrap;
    background-color: var(--ui-progress-bar-bg);
    transition: width $transition-time $transition-type;
}

.progress-bar-striped {
    background-image: $progress-bar-striped-background-image;
    background-size: $progress-bar-striped-background-size-x $progress-bar-striped-background-size-y;
}

.progress-bar-animated {
    animation: progress-bar-stripes $animation-time linear infinite;
}

.progress-vertical {
    flex-direction: column;
    align-items: flex-end;
    width: var(--ui-progress-vertical-width);
    height: var(--ui-progress-vertical-height);

    .progress-bar {
        width: 100%;
        transition: height $animation-time $transition-type;

        &:first-child {
            margin-top: auto;
        }
    }
}

@media (prefers-reduced-motion) {
    .progress-bar-animated {
        animation-duration: $animation-time-reduced-motion;
    }
}
