@keyframes spinner-border {
    to {
        transform: rotate(360deg);
    }
}

@keyframes spinner-grow {
    0% {
        transform: scale(0);
    }

    50% {
        opacity: 1;
    }
}

.spinner-border {
    --ui-spinner-width: #{$spinner-width};
    --ui-spinner-height: #{$spinner-height};
    --ui-spinner-vertical-align: #{$spinner-vertical-align};
    --ui-spinner-border-width: #{$spinner-border-width};
    --ui-spinner-animation-speed: #{$spinner-animation-speed};
    --ui-spinner-animation-name: spinner-border;

    display: inline-flex;
    width: var(--ui-spinner-width);
    height: var(--ui-spinner-height);
    // line-height: $spinner-border-line-height;
    vertical-align: var(--ui-spinner-vertical-align);
    border: var(--ui-spinner-border-width) solid currentcolor;
    border-right-color: transparent;
    @include border-radius(50%);
    animation: spinner-border var(--ui-spinner-animation-speed) $transition-type infinite;
}

.spinner-grow {
    --ui-spinner-width: #{$spinner-width};
    --ui-spinner-height: #{$spinner-height};
    --ui-spinner-vertical-align: #{$spinner-vertical-align};
    --ui-spinner-animation-speed: #{$spinner-animation-speed};
    --ui-spinner-animation-name: spinner-border;

    display: inline-block;
    width: var(--ui-spinner-width);
    height: var(--ui-spinner-height);
    vertical-align: var(--ui-spinner-vertical-align);
    background-color: currentcolor;
    @include border-radius(50%);
    opacity: 0;
    animation: spinner-grow var(--ui-spinner-animation-speed) $transition-type infinite;
}

.spinner-border-sm {
    --ui-spinner-width: #{$spinner-width-sm};
    --ui-spinner-height: #{$spinner-height-sm};
    --ui-spinner-border-width: #{$spinner-border-width-sm};
}

.spinner-grow-sm {
    --ui-spinner-width: #{$spinner-width-sm};
    --ui-spinner-height: #{$spinner-height-sm};
}

.btn {

    .spinner-border,
    .spinner-grow {
        position: relative;
        top: calc(var(--ui-btn-border-width) * -1);
    }
}

@media (prefers-reduced-motion) {

    .spinner-grow,
    .spinner-border {
        animation-duration: $animation-time-reduced-motion;
    }
}
