.toast {
    --ui-toast-max-width: #{$toast-max-width};
    --ui-toast-padding-x: #{$toast-padding-x};
    --ui-toast-padding-y: #{$toast-padding-y};
    --ui-toast-margin-bottom: #{$toast-margin-bottom};
    --ui-toast-font-size: #{$toast-font-size};
    --ui-toast-bg: #{$toast-bg};
    --ui-toast-border-width: #{$toast-border-width};
    --ui-toast-border-color: #{$toast-border-color};
    --ui-toast-border-radius: #{$toast-border-radius};
    --ui-toast-header-color: #{$toast-header-color};
    --ui-toast-header-bg: #{$toast-header-bg};
    --ui-toast-header-border-color: #{$toast-header-border-color};

    width: var(--ui-toast-max-width);
    max-width: 100%;
    font-size: var(--ui-toast-font-size);
    pointer-events: auto;
    background-color: var(--ui-toast-bg);
    background-clip: padding-box;
    border: var(--ui-toast-border-width) var(--ui-border-style) var(--ui-toast-border-color);
    opacity: 0;
    backdrop-filter: $toast-backdrop-filter;
    @include border-radius(var(--ui-toast-border-radius));

    &.show {
        display: block;
        opacity: 1;
    }

    &.hide {
        display: none;
    }
}

.toast-container {
    width: max-content;
    max-width: 100%;
    pointer-events: none;

    > :not(:last-child) {
        margin-bottom: var(--ui-toast-margin-bottom);
    }
}

.toast-header {
    display: flex;
    align-items: center;
    padding: var(--ui-toast-padding-y) var(--ui-toast-padding-x);
    color: var(--ui-toast-header-color);
    background-color: var(--ui-toast-header-bg);
    background-clip: padding-box;
    border-bottom: var(--ui-toast-border-width) var(--ui-border-style) var(--ui-toast-border-color);
    @include border-top-radius(calc(var(--ui-toast-border-radius) - var(--ui-toast-border-width)));

    .btn-close {
        margin-right: calc(var(--ui-toast-padding-x) * -.5);
        margin-left: var(--ui-toast-padding-x);
    }
}

.toast-body {
    padding: var(--ui-toast-padding-x);
    word-wrap: break-word;
}
