.tooltip {
    --ui-tooltip-z-index: #{$tooltip-z-index};
    --ui-tooltip-max-width: #{$tooltip-max-width};
    --ui-tooltip-padding-x: #{$tooltip-padding-x};
    --ui-tooltip-padding-y: #{$tooltip-padding-y};
    --ui-tooltip-font-size: #{$tooltip-font-size};
    --ui-tooltip-color: #{$tooltip-color};
    --ui-tooltip-bg: #{$tooltip-bg};
    --ui-tooltip-border-radius: #{$tooltip-border-radius};
    --ui-tooltip-opacity: #{$tooltip-opacity};
    --ui-tooltip-arrow-width: #{$tooltip-arrow-width};
    --ui-tooltip-arrow-height: #{$tooltip-arrow-height};

    position: absolute;
    z-index: var(--ui-tooltip-z-index);
    display: block;
    margin: 0;
    font-size: var(--ui-tooltip-font-size);
    word-wrap: break-word;
    opacity: 0;
    @include reset-text();

    &.show {
        opacity: var(--ui-tooltip-opacity);
    }

    .tooltip-arrow {
        position: absolute;
        display: block;
        width: var(--ui-tooltip-arrow-width);
        height: var(--ui-tooltip-arrow-height);
        pointer-events: none;

        &::before {
            position: absolute;
            content: "";
            border-color: transparent;
            border-style: solid;
        }
    }

    &[data-ui-placement="top"] .tooltip-arrow {
        bottom: 0;

        &::before {
            top: 0;
            border-width: var(--ui-tooltip-arrow-height) var(--ui-tooltip-arrow-height) 0;
            border-top-color: var(--ui-tooltip-bg);
        }
    }

    &[data-ui-placement="right"] .tooltip-arrow {
        left: 0;

        &::before {
            right: 0;
            border-width: var(--ui-tooltip-arrow-height) var(--ui-tooltip-arrow-height) var(--ui-tooltip-arrow-height) 0;
            border-right-color: var(--ui-tooltip-bg);
        }
    }

    &[data-ui-placement="bottom"] .tooltip-arrow {
        top: 0;

        &::before {
            bottom: 0;
            border-width: 0 var(--ui-tooltip-arrow-height) var(--ui-tooltip-arrow-height);
            border-bottom-color: var(--ui-tooltip-bg);
        }
    }

    &[data-ui-placement="left"] .tooltip-arrow {
        right: 0;

        &::before {
            left: 0;
            border-width: var(--ui-tooltip-arrow-height) 0 var(--ui-tooltip-arrow-height) var(--ui-tooltip-arrow-height);
            border-left-color: var(--ui-tooltip-bg);
        }
    }
}

.tooltip-inner {
    max-width: var(--ui-tooltip-max-width);
    padding: var(--ui-tooltip-padding-y) var(--ui-tooltip-padding-x);
    color: var(--ui-tooltip-color);
    text-align: center;
    background-color: var(--ui-tooltip-bg);
    @include border-radius(var(--ui-tooltip-border-radius));
}
