<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Containers</title>
    <link rel="stylesheet" href="../../dist/frost-ui.css" />
    <script src="../../dist/frost-ui-bundle.js"></script>
</head>

<body>
    <div class="container">
        <h1>Containers</h1>
    </div>
    <div class="mb-4">
        <div class="container bg-light border">.container</div>
    </div>
    <div class="mb-4">
        <div class="container-sm bg-light border">.container-sm</div>
    </div>
    <div class="mb-4">
        <div class="container-md bg-light border">.container-md</div>
    </div>
    <div class="mb-4">
        <div class="container-lg bg-light border">.container-lg</div>
    </div>
    <div class="mb-4">
        <div class="container-xl bg-light border">.container-xl</div>
    </div>
    <div class="mb-4">
        <div class="container-xxl bg-light border">.container-xxl</div>
    </div>
    <div class="mb-4">
        <div class="container-fluid bg-light border">.container-fluid</div>
    </div>
</body>

</html>