<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Gutters</title>
    <link rel="stylesheet" href="../../dist/frost-ui.css" />
    <script src="../../dist/frost-ui-bundle.js"></script>
</head>

<body>
    <div class="container">
        <h1>Gutters</h1>
        <div class="mb-4">
            <div class="row gx-5">
                <div class="col">
                    <div class="bg-light border p-3">1/2</div>
                </div>
                <div class="col">
                    <div class="bg-light border p-3">2/2</div>
                </div>
            </div>
        </div>

        <h4>Vertical</h4>
        <div class="mb-4">
            <div class="row gy-5">
                <div class="col-6">
                    <div class="bg-light border p-3">1/4</div>
                </div>
                <div class="col-6">
                    <div class="bg-light border p-3">2/4</div>
                </div>
                <div class="col-6">
                    <div class="bg-light border p-3">3/4</div>
                </div>
                <div class="col-6">
                    <div class="bg-light border p-3">4/4</div>
                </div>
            </div>
        </div>

        <h4>Horizontal &amp; Vertical Gutters</h4>
        <div class="mb-4">
            <div class="row g-2">
                <div class="col-6">
                    <div class="bg-light border p-3">1/4</div>
                </div>
                <div class="col-6">
                    <div class="bg-light border p-3">2/4</div>
                </div>
                <div class="col-6">
                    <div class="bg-light border p-3">3/4</div>
                </div>
                <div class="col-6">
                    <div class="bg-light border p-3">4/4</div>
                </div>
            </div>
        </div>

        <h4>Row Columns</h4>
        <div class="mb-4">
            <div class="row row-cols-2 row-cols-lg-5 g-2 g-lg-3">
                <div class="col">
                    <div class="bg-light border p-3">1/10</div>
                </div>
                <div class="col">
                    <div class="bg-light border p-3">2/10</div>
                </div>
                <div class="col">
                    <div class="bg-light border p-3">3/10</div>
                </div>
                <div class="col">
                    <div class="bg-light border p-3">4/10</div>
                </div>
                <div class="col">
                    <div class="bg-light border p-3">5/10</div>
                </div>
                <div class="col">
                    <div class="bg-light border p-3">6/10</div>
                </div>
                <div class="col">
                    <div class="bg-light border p-3">7/10</div>
                </div>
                <div class="col">
                    <div class="bg-light border p-3">8/10</div>
                </div>
                <div class="col">
                    <div class="bg-light border p-3">9/10</div>
                </div>
                <div class="col">
                    <div class="bg-light border p-3">10/10</div>
                </div>
            </div>
        </div>

        <h4>No Gutters</h4>
        <div class="mb-4">
            <div class="row g-0">
                <div class="col-sm-6 col-md-8 bg-light border">.col-sm-6 .col-md-8</div>
                <div class="col-6 col-md-4 bg-light border">.col-6 .col-md-4</div>
            </div>
        </div>
    </div>
</body>

</html>