// Attach a caret to a component
@mixin caret($direction: down) {
    @if $direction == start {
        &::before {
            display: inline-block;
            margin-right: $caret-spacing;
            vertical-align: $caret-vertical-align - ($caret-size * .5); 
            content: "";
            border-top: $caret-size solid transparent;
            border-right: $caret-size solid;
            border-bottom: $caret-size solid transparent;
        }

        &:empty::before {
            margin-right: 0;
        }

        &::after {
            display: none;
        }
    } @else {
        &::after {
            display: inline-block;
            margin-left: $caret-spacing;
            @if $direction == end {
                vertical-align: $caret-vertical-align - ($caret-size * .5);
            } @else {
                vertical-align: $caret-vertical-align;
            }
            content: "";
            @if $direction == down {
                border-top: $caret-size solid;
                border-right: $caret-size solid transparent;
                border-bottom: 0;
                border-left: $caret-size solid transparent;
            } @else if $direction == up {
                border-top: 0;
                border-right: $caret-size solid transparent;
                border-bottom: $caret-size solid;
                border-left: $caret-size solid transparent;
            } @else if $direction == end {
                border-top: $caret-size solid transparent;
                border-right: 0;
                border-bottom: $caret-size solid transparent;
                border-left: $caret-size solid;
            }
        }

        &:empty::after {
            margin-left: 0;
        }
    }
}
