.mix-cols(@n, @b: -) {
    .mix-cols-grid(@n, @b);

    .col@{b}auto {
        flex: 0 0 auto;
        width: auto;
        max-width: 100%;
    }
}

.mix-cols-grid(@n, @b: -, @i: 1) when (@i =< @n) {
    @width: (@i * 100% / @n);

    .col@{b}@{i} {
        flex: 0 0 auto;
        width: @width;
    }

    .offset@{b}@{i} {
        margin-left: @width;
    }

    .mix-cols-grid(@n, @b, (@i + 1));
}

.col {
    flex: 1 0 0%;
}

.mix-cols(@grid-size);

@media (min-width: @break-xs) {
    .mix-cols(@grid-size, -sm-);
}

@media (min-width: @break-sm) {
    .mix-cols(@grid-size, -md-);
}

@media (min-width: @break-md) {
    .mix-cols(@grid-size, -lg-);
}

@media (min-width: @break-lg) {
    .mix-cols(@grid-size, -xl-);
}

@media (min-width: @break-xl) {
    .mix-cols(@grid-size, -xxl-);
}