.container,
.container-sm,
.container-md,
.container-lg,
.container-xl,
.container-xxl,
.container-fluid {
    width: 100%;
    padding-right: @gutter;
    padding-left: @gutter;
    margin-right: auto;
    margin-left: auto;
}

@media (min-width: @break-xs) {
    .container,
    .container-sm {
        max-width: @container-sm-width;
    }
}

@media (min-width: @break-sm) {
    .container,
    .container-sm,
    .container-md {
        max-width: @container-md-width;
    }
}

@media (min-width: @break-md) {
    .container,
    .container-sm,
    .container-md,
    .container-lg {
        max-width: @container-lg-width;
    }
}

@media (min-width: @break-lg) {
    .container,
    .container-sm,
    .container-md,
    .container-lg,
    .container-xl {
        max-width: @container-xl-width;
    }
}

@media (min-width: @break-xl) {
    .container,
    .container-sm,
    .container-md,
    .container-lg,
    .container-xl,
    .container-xxl {
        max-width: @container-xxl-width;
    }
}