.container,
.container-fluid {
    width: 100%;
    padding-right: @gutter;
    padding-left: @gutter;
    margin-right: auto;
    margin-left: auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -@gutter;
    margin-left: -@gutter;
}

@media (min-width: @break-xs) {
    .container {
        max-width: 540px;
    }
}

@media (min-width: @break-sm) {
    .container {
        max-width: 768px;
    }
}

@media (min-width: @break-md) {
    .container {
        max-width: 960px;
    }
}

@media (min-width: @break-lg) {
    .container {
        max-width: 1140px;
    }
}