.row {
    display: flex;
    flex-wrap: wrap;
    margin-top: 0;
    margin-right: -@gutter;
    margin-left: -@gutter;

    > * {
        flex-shrink: 0;
        width: 100%;
        max-width: 100%;
        padding-right: @gutter;
        padding-left: @gutter;
    }
}