*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: var(--ui-body-font-family);
    font-size: var(--ui-body-font-size);
    font-weight: var(--ui-body-font-weight);
    line-height: var(--ui-body-line-height);
    color: var(--ui-body-color);
    text-align: left;
    background-color: var(--ui-body-bg);
    text-size-adjust: 100%;
    -webkit-tap-highlight-color: transparent;
}

hr {
    margin: $hr-margin-y 0;
    background-color: currentcolor;
    border: 0;
    opacity: $hr-opacity;
}

hr:not([size]) {
    height: $hr-height;
}

// headings

%heading {
    margin-top: 0;
    margin-bottom: $headings-margin-bottom;
    font-family: $headings-font-family;
    font-style: $headings-font-style;
    font-weight: $headings-font-weight;
    line-height: $headings-line-height;
    color: $headings-color;
}

h1 {
    @extend %heading;
    font-size: text-size($h1-font-size);
}

h2 {
    @extend %heading;
    font-size: text-size($h2-font-size);
}

h3 {
    @extend %heading;
    font-size: text-size($h3-font-size);
}

h4 {
    @extend %heading;
    font-size: text-size($h4-font-size);
}

h5 {
    @extend %heading;
    font-size: text-size($h5-font-size);
}

h6 {
    @extend %heading;
    font-size: text-size($h6-font-size);
}

// paragraphs
p {
    margin-top: 0;
    margin-bottom: $p-margin-bottom;
}

// abbreviations

abbr[title],
abbr[data-ui-original-title] {
    text-decoration: underline dotted;
    cursor: help;
    border-bottom: none;
}

// address

address {
    margin-bottom: $address-margin-bottom;
    font-style: normal;
    line-height: inherit;
}

// lists

ol,
ul {
    padding-left: $list-padding-left;
}

ol,
ul,
dl {
    margin-top: 0;
    margin-bottom: $spacing;
}

ol ul,
ul ul,
ol ol,
ul ol {
    margin-bottom: 0;
}

dt {
    font-weight: $dt-font-weight;
}

dd {
    margin-bottom: $dd-margin-bottom;
    margin-left: 0;
}

// blockquote

blockquote {
    margin: 0 0 $spacing;
}

// strong

b,
strong {
    font-weight: $strong-font-weight;
}

// small

small {
    font-size: $small-font-size;
}

// mark

mark {
    padding: $mark-padding;
    background-color: var(--ui-mark-bg);
}

// sub and sup

sub,
sup {
    position: relative;
    font-size: $sub-sup-font-size;
    line-height: 0;
    vertical-align: baseline;
}

sub {
    bottom: $sub-bottom;
}

sup {
    top: $sup-top;
}

// links

a {
    color: rgba(var(--ui-link-color-rgb), var(--ui-link-opacity, 1));
    text-decoration: var(--ui-link-decoration);

    &:hover {
        --ui-link-color-rgb: var(--ui-link-hover-color-rgb);
        --ui-link-decoration: var(--ui-link-hover-decoration);
    }
}

a:not([href]):not([class]) {

    &,
    &:hover {
        color: inherit;
        text-decoration: none;
    }
}

// code

code,
kbd,
pre,
samp,
xmp {
    font-family: var(--ui-font-monospace);
    font-size: 1em;
}

pre {
    display: block;
    margin-top: 0;
    margin-bottom: $blockquote-margin-bottom;
    overflow: auto;
    font-size: $small-font-size;

    code {
        font-size: inherit;
        color: inherit;
        word-break: normal;
    }
}

code {
    font-size: $small-font-size;
    color: var(--ui-code-color);
    word-wrap: break-word;

    @at-root a>#{&} {
        color: inherit;
    }
}

kbd {
    padding: $kbd-padding-y $kbd-padding-x;
    font-size: $small-font-size;
    color: $kbd-color;
    background-color: $kbd-bg;
    border-radius: $kbd-border-radius;

    kbd {
        padding: 0;
        font-size: 1em;
        font-weight: $kbd-kbd-font-weight;
    }
}

// figure

figure {
    margin: 0 0 $figure-margin-bottom;
}

// images

img,
svg {
    vertical-align: middle;
}

// tables

table {
    caption-side: bottom;
    border-collapse: collapse;
}

caption {
    padding-top: $table-cell-padding-y;
    padding-bottom: $table-cell-padding-y;
    color: var(--ui-secondary-color);
    text-align: left;
}

th {
    font-weight: $table-th-font-weight;
    text-align: inherit;
}

tbody,
td,
tfoot,
th,
thead,
tr {
    border-color: inherit;
    border-style: var(--ui-border-style);
    border-width: 0;
}

// forms

label {
    display: inline-block;
}

button {
    @include border-radius(0);

    &:focus:not(:focus-visible) {
        outline: 0;
    }
}

input,
button,
select,
optgroup,
textarea {
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}

button,
select {
    text-transform: none;
}

select:not([multiple]) > * {
    color: var(--ui-body-color);
    background-color: var(--ui-tertiary-bg);
}

[role="button"] {
    cursor: pointer;
}

select {
    word-wrap: normal;

    &:disabled {
        opacity: 1;
    }
}

button,
[type="button"],
[type="reset"],
[type="submit"] {
    appearance: button;


    &:not(:disabled) {
        cursor: pointer;
    }
}

::-moz-focus-inner {
    padding: 0;
    border-style: none;
}

textarea {
    resize: vertical;
}

fieldset {
    min-width: 0;
    padding: 0;
    margin: 0;
    border: 0;
}

legend {
    float: left;
    width: 100%;
    padding: 0;
    margin-bottom: $legend-margin-bottom;
    font-size: $legend-font-size;
    font-weight: $legend-font-weight;
    line-height: inherit;

    +* {
        clear: left;
    }
}

[type="search"] {
    outline-offset: -2px;
    appearance: textfield;
}

::-webkit-search-decoration {
    display: none;
}

output {
    display: inline-block;
}

// iframe

iframe {
    border: 0;
}

// summary

summary {
    display: list-item;
    cursor: pointer;
}

// progress

progress {
    vertical-align: baseline;
}

// hidden

[hidden] {
    display: none !important;
}
