*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: $font-family;
    font-size: $font-size;
    font-weight: $body-font-weight;
    line-height: $body-line-height;
    color: $text-color;
    text-align: left;
    background-color: $body-background-color;
    text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba($black, 0);
}

hr {
    margin: $hr-margin-y 0;
    background-color: currentColor;
    border: 0;
    opacity: $hr-opacity;
}

hr:not([size]) {
    height: $hr-height;
}

// headings

%heading {
    margin-top: 0;
    margin-bottom: $headings-margin-bottom;
    font-family: $headings-font-family;
    font-style: $headings-font-style;
    font-weight: $headings-font-weight;
    line-height: $headings-line-height;
    color: $headings-color;
}

h1 {
    @extend %heading;
    font-size: text-size($h1-font-size);
}

h2 {
    @extend %heading;
    font-size: text-size($h2-font-size);
}

h3 {
    @extend %heading;
    font-size: text-size($h3-font-size);
}

h4 {
    @extend %heading;
    font-size: text-size($h4-font-size);
}

h5 {
    @extend %heading;
    font-size: text-size($h5-font-size);
}

h6 {
    @extend %heading;
    font-size: text-size($h6-font-size);
}

// paragraphs
p {
    margin-top: 0;
    margin-bottom: $p-margin-bottom;
}

// abbreviations

abbr[title],
abbr[data-ui-original-title] {
    text-decoration: underline dotted;
    cursor: help;
    border-bottom: none;
}

// address

address {
    margin-bottom: $spacing;
    font-style: normal;
    line-height: inherit;
}

// lists

ol,
ul {
    padding-left: $list-padding-left;
}

ol,
ul,
dl {
    margin-top: 0;
    margin-bottom: $spacing;
}

ol ul,
ul ul,
ol ol,
ul ol {
    margin-bottom: 0;
}

dt {
    font-weight: $dt-font-weight;
}

dd {
    margin-bottom: $dd-margin-bottom;
    margin-left: 0;
}

// blockquote

blockquote {
    margin: 0 0 $spacing;
}

// strong

b,
strong {
    font-weight: $strong-font-weight;
}

// small

small {
    font-size: $small-font-size;
}

// mark

mark {
    padding: $mark-padding;
    background-color: $mark-background-color;
}

// sub and sup

sub,
sup {
    position: relative;
    font-size: $small-font-size;
    line-height: 0;
    vertical-align: baseline;
}

sub {
    bottom: $sub-bottom;
}

sup {
    top: $sup-top;
}

// links

a {
    color: $link-color;
    text-decoration: $link-text-decoration;

    &:hover {
        color: $link-hover-color;
        text-decoration: $link-hover-text-decoration;
    }

    &:focus {
        color: $link-focus-color;
        text-decoration: $link-focus-text-decoration;
    }
}

a:not([href]):not([class]) {
    &,
    &:hover,
    &:focus {
        color: inherit;
        text-decoration: none;
    }
}

// code

code,
kbd,
pre,
samp,
xmp {
    font-family: $font-mono;
    font-size: 1em;
}

pre {
    display: block;
    margin-top: 0;
    margin-bottom: $spacing;
    overflow: auto;
    font-size: $font-size-sm;
    color: $pre-color;

    code {
        font-size: inherit;
        color: inherit;
        word-break: normal;
    }
}

code {
    font-size: $font-size-sm;
    color: $code-color;
    word-wrap: break-word;

    @at-root a > #{&} {
        color: inherit;
    }
}

kbd {
    padding: $kbd-padding-y $kbd-padding-x;
    font-size: $font-size-sm;
    color: $white;
    background-color: $kbd-background-color;
    border-radius: $border-radius;

    kbd {
        padding: 0;
        font-size: 1em;
        font-weight: $kbd-kbd-font-weight;
    }
}

// figure

figure {
    margin: 0 0 $figure-margin-bottom;
}

// images

img,
svg {
    vertical-align: middle;
}

// tables

table {
    caption-side: bottom;
    border-collapse: collapse;
}

caption {
    padding-top: $table-cell-padding-y;
    padding-bottom: $table-cell-padding-y;
    color: $caption-color;
    text-align: left;
}

th {
    font-weight: $table-th-font-weight;
    text-align: inherit;
}

tbody,
td,
tfoot,
th,
thead,
tr {
    border-color: inherit;
    border-style: $border-style;
    border-width: 0;
}

// forms

label {
    display: inline-block;
}

button {
    @include border-radius(0);

    &:focus:not(:focus-visible) {
        outline: 0;
    }
}

input,
button,
select,
optgroup,
textarea {
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}

button,
select {
    text-transform: none;
}

[role="button"] {
    cursor: pointer;
}

select {
    word-wrap: normal;

    &:disabled {
        opacity: 1;
    }
}

button,
[type="button"],
[type="reset"],
[type="submit"] {
    appearance: button;


    &:not(:disabled) {
        cursor: pointer;
    }
}

::-moz-focus-inner {
    padding: 0;
    border-style: none;
}

textarea {
    resize: vertical;
}

fieldset {
    min-width: 0;
    padding: 0;
    margin: 0;
    border: 0;
}

legend {
    float: left;
    width: 100%;
    padding: 0;
    margin-bottom: $legend-margin-bottom;
    font-size: $legend-font-size;
    font-weight: $legend-font-weight;
    line-height: inherit;

    + * {
        clear: left;
    }
}

[type="search"] {
    outline-offset: -2px;
    appearance: textfield;
}

::-webkit-search-decoration {
    display: none;
}

output {
    display: inline-block;
}

// iframe

iframe {
    border: 0;
}

// summary

summary {
    display: list-item;
    cursor: pointer;
}

// progress

progress {
    vertical-align: baseline;
}

// hidden

[hidden] {
    display: none !important;
}
