.figure {
    display: inline-block;
}

.figure-img {
    margin-bottom: $figure-img-margin-bottom;
    line-height: 1;
}

.figure-caption {
    font-size: $figure-caption-font-size;
    color: $figure-caption-color;
}