.img-fluid {
    max-width: 100%;
    height: auto;
}

.img-thumbnail {
    max-width: 100%;
    height: auto;
    padding: $img-thumbnail-padding;
    background-color: $img-thumbnail-background-color;
    border: $img-thumbnail-border-size $border-style $img-thumbnail-border-color;
    @include border-radius($img-thumbnail-border-radius);
}
