.table {
    width: 100%;
    margin-bottom: $table-margin-bottom;
    border-color: #{$table-border-color};

    > :not(caption) > * > * {
        padding: $table-cell-padding-y $table-cell-padding-x;
        color: var(--ui-table-color, #{$text-color});
        background-color: var(--ui-table-bg);
        border-bottom-width: $table-border-size;
        box-shadow: inset 0 0 0 9999px var(--ui-table-accent-bg, transparent);
    }

    > :not(:last-child) > :last-child > * {
        border-bottom-width: $table-border-size * 2;
    }
}

.table-bordered > :not(caption) > * {
    border-width: $table-border-size 0;
}

.table-bordered > :not(caption) > * > * {
    border-width: 0 $table-border-size;
}

.table-borderless > :not(caption) > * > * {
    border: 0;
}

.table-striped > tbody > tr:nth-child(odd) {
    --ui-table-accent-bg: var(--ui-table-striped-bg, #{$table-striped-background-color});
}

.table-hover > tbody > tr:hover {
    --ui-table-color: var(--ui-table-hover-color, #{$table-hover-color});
    --ui-table-accent-bg: var(--ui-table-hover-bg, #{$table-hover-background-color});
}

.table-sm > :not(caption) > * > * {
    padding: $table-sm-cell-padding-y $table-sm-cell-padding-x;
}

.table-dark {
    --ui-table-bg: #{$table-dark-background-color};
    --ui-table-color: #{$table-dark-color};
    --ui-table-striped-bg: #{$table-dark-striped-background-color};
    --ui-table-hover-bg: #{$table-dark-hover-background-color};
    --ui-table-hover-color: #{$table-dark-color};

    border-color: #{$table-dark-border-color};
}

.table-light {
    --ui-table-bg: #{$table-light-background-color};
}

.caption-top {
    caption-side: top;
}

@each $name, $color in $table-variants {
    .table-#{$name} {
        $background-color: tint($color, $table-background-color-tint);
        $text-color: text-color-contrast($background-color, $color);
        $hover-color: shade($text-color, $table-hover-color-shade);

        --ui-table-bg: #{$background-color};
        --ui-table-color: #{$text-color};
        --ui-table-hover-color: #{$hover-color};

        border-color: tint($color, $table-border-color-tint);
    }
}

@each $breakpoint in map-keys($breakpoints) {
    $infix: breakpoint-infix($breakpoint);

    @include media-breakpoint-down($breakpoint) {
        .table-responsive#{$infix} {
            overflow-x: auto;
        }
    }
}
