caption {
    padding: (@spacing / 2) 0;
    text-align: left;
    caption-side: bottom;
}

hr {
    box-sizing: content-box;
    border: 0;
    border-top: @border-size @border-style @border-color;
    height: 0;
    overflow: visible;
}

img {
    vertical-align: middle;
    border: none;
}

output {
    display: inline-block;
}

progress {
    vertical-align: baseline;
}

summary {
    display: list-item;
    cursor: pointer;
}

svg {
    overflow: hidden;
    vertical-align: middle;
}

table {
    border-collapse: collapse;
}

template {
    display: none;
}

th {
    text-align: inherit;
}

template {
    display: none;
}

[hidden] {
    display: none !important;
}