.form-text {
    margin-top: $form-text-margin-top;
    font-size: $form-text-font-size;
    color: $form-text-color;
}

.input-plain-text {
    display: block;
    width: 100%;
    padding: $input-padding-y 0;
    margin-bottom: 0;
    line-height: $input-line-height;
    color: $input-plain-text-color;
    background-color: transparent;
    border: solid transparent;
    border-width: $input-border-width 0;
    outline: 0;
}

.input-group-text {
    display: flex;
    align-items: center;
    padding: $input-padding-y $input-padding-x;
    font-size: $input-font-size;
    font-weight: $input-group-text-font-weight;
    line-height: $input-line-height;
    color: $input-group-text-color;
    text-align: center;
    white-space: nowrap;
    background-color: $input-group-text-bg;
    border: $input-border-width var(--ui-border-style) $input-border-color;
}
