.input-group {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    width: 100%;
    @include border-radius($input-outline-border-radius);

    > .form-input,
    > .input-filled,
    > .input-outline {
        position: relative;
        flex: 1 1 auto;
        width: 1%;
        min-width: 0;
    }

    > .btn {
        position: relative;
        align-self: initial;
        z-index: 2;
    }

    > .form-input > .input-outline:focus,
    > .input-outline:focus,
    > .btn:focus {
        z-index: 3;
    }

    > .btn,
    > .form-input,
    > .input-filled,
    > .input-outline,
    > .input-group-text,
    > .form-input > .input-filled,
    > .form-input > .input-outline {
        @include border-radius(inherit);

        &:not(:last-child) {
            @include border-right-radius(0);
        }

        &:not(:first-child) {
            margin-left: $input-border-size * -1;
            @include border-left-radius(0);
        }
    }
}

.input-group-filled {
    @include border-radius(0);

    > .input-group-text {
        background-color: var(--ui-input-filled-bg);
        border: 0;
        border-bottom: $input-border-size $border-style var(--ui-input-border-color, #{$input-filled-border-color});
    }
}

.input-group-sm {

    .btn,
    .input-filled,
    .input-outline,
    .input-group-text  {
        padding: $input-sm-padding-y $input-sm-padding-x;
        font-size: $input-sm-font-size;
    }
}

.input-group-lg {

    .btn,
    .input-filled,
    .input-outline,
    .input-group-text {
        padding: $input-lg-padding-y $input-lg-padding-x;
        font-size: $input-lg-font-size;
    }
}
