.col-label {
    padding-top: calc(#{$input-padding-y} + #{$input-border-size});
    padding-bottom: calc(#{$input-padding-y} + #{$input-border-size});
    margin-bottom: 0;
    font-size: inherit;
    line-height: $input-line-height;
}

.col-label-sm {
    padding-top: calc(#{$input-sm-padding-y} + #{$input-border-size});
    padding-bottom: calc(#{$input-sm-padding-y} + #{$input-border-size});
    font-size: $input-sm-font-size;
}

.col-label-lg {
    padding-top: calc(#{$input-padding-y} + #{$input-border-size});
    padding-bottom: calc(#{$input-padding-y} + #{$input-border-size});
    font-size: $input-lg-font-size;
}

.label-floating {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    padding: $label-floating-padding-y $input-padding-x;
    margin-bottom: 0;
    font-size: $input-font-size;
    line-height: $input-line-height;
    color: $input-placeholder-color;
    pointer-events: none;
    cursor: text;
    transition: all $transition-time $transition-type;
    transition-property: padding, font-size, color;
}

.input-floating {

    &,
    .input-group & {
        padding-top: $label-floating-padding-y;
        padding-bottom: $label-floating-padding-y;
    }

    &::placeholder {
        color: transparent;
    }

    &.input-sm,
    .input-group-sm & {

        ~ .label-floating {
            font-size: $input-sm-font-size;
        }

    }

    &.input-lg,
    .input-group-lg & {

        ~ .label-floating {
            font-size: $input-lg-font-size;
        }
    }

    &.input-filled ~ .label-floating {
        border-bottom: $input-border-size $border-style transparent;
    }

    &.input-outline ~ .label-floating {
        border: $input-border-size $border-style transparent;
    }

    &:focus,
    &.focus,
    &:not(:placeholder-shown) {
        padding-top: $input-padding-y + $label-floating-padding-y;
        padding-bottom: $input-padding-y * .5;

        ~ .label-floating {
            padding-top: $input-padding-y * .5;
            font-size: $label-floating-font-size;
            color: $label-floating-color;
        }
    }
}
