.form-success {
    --ui-input-border-color: #{$valid-feedback-color};
    --ui-input-filled-bg: #{$input-filled-success-bg};
    --ui-input-filled-border-color: #{$valid-feedback-color};
    --ui-input-filled-hover-bg: #{$input-filled-success-hover-bg};
    --ui-input-filled-focus-bg: #{$input-filled-success-focus-bg};
    --ui-input-check-checked-bg: #{$valid-feedback-color};
    --ui-input-check-focus-color: #{$valid-feedback-color};
    --ui-input-check-label-color: #{$valid-feedback-color};
    --ui-input-feedback-color: #{$valid-feedback-color};
}

.form-error {
    --ui-input-border-color: #{$invalid-feedback-color};
    --ui-input-filled-bg: #{$input-filled-error-bg};
    --ui-input-filled-border-color: #{$invalid-feedback-color};
    --ui-input-filled-hover-bg: #{$input-filled-error-hover-bg};
    --ui-input-filled-focus-bg: #{$input-filled-error-focus-bg};
    --ui-input-check-checked-bg: #{$invalid-feedback-color};
    --ui-input-check-focus-color: #{$invalid-feedback-color};
    --ui-input-check-label-color: #{$invalid-feedback-color};
    --ui-input-feedback-color: #{$invalid-feedback-color};
}

.valid-feedback,
.invalid-feedback {
    display: none;
    width: 100%;
    margin-top: $form-feedback-margin-top;
    font-size: $form-feedback-font-size;
    color: var(--ui-input-feedback-color);
}

.form-success .valid-feedback,
.form-error .invalid-feedback {
    display: block;
}
