// colors
$white: #fff !default;
$gray: #808080 !default;
$black: #000 !default;

$blue: #2759bc !default;
$indigo: #320270 !default;
$purple: #7d0e7d !default;
$pink: #e854c8 !default;
$red: #c71010 !default;
$orange: #f77625 !default;
$yellow: #ffdd30 !default;
$green: #008442 !default;
$teal: #0ebbbb !default;
$cyan: #2ad4fa !default;

// base colors
$body-bg: $white !default;
$body-color: color-shade($gray, 900) !default;

$body-secondary-bg: color-shade($gray, 100) !default;
$body-secondary-color: fade($body-color, .7) !default;

$body-tertiary-bg: color-shade($gray, 50) !default;
$body-tertiary-color: fade($body-color, .5) !default;

$emphasis-color: $black !default;

$link-color: $blue !default;
$link-color-hover: color-shade($blue, 700) !default;

$border-color: color-shade($gray, 200) !default;
$border-color-translucent: fade($black, .15) !default;

$code-color: color-shade($red, 400) !default;
$mark-bg: color-shade($yellow, 100) !default;

$gradient: linear-gradient(180deg, fade($white, .25), fade($white, 0)) !default;

// theme colors
$primary: $blue !default;
$secondary: color-shade($gray, 600) !default;
$success: $green !default;
$info: $teal !default;
$warning: $orange !default;
$danger: $red !default;
$light: color-shade($gray, 100) !default;
$dark: color-shade($gray, 800) !default;

$primary-emphasis: color-shade($primary, 550) !default;
$secondary-emphasis: color-shade($secondary, 550) !default;
$success-emphasis: color-shade($success, 550) !default;
$info-emphasis: color-shade($info, 550) !default;
$warning-emphasis: color-shade($warning, 550) !default;
$danger-emphasis: color-shade($danger, 550) !default;
$light-emphasis: color-shade($light, 550) !default;
$dark-emphasis: color-shade($dark, 550) !default;

$primary-highlight: color-shade($primary, 600) !default;
$secondary-highlight: color-shade($secondary, 600) !default;
$success-highlight: color-shade($success, 600) !default;
$info-highlight: color-shade($info, 400) !default;
$warning-highlight: color-shade($warning, 400) !default;
$danger-highlight: color-shade($danger, 600) !default;
$light-highlight: color-shade($light, 600) !default;
$dark-highlight: color-shade($dark, 400) !default;

$primary-active: color-shade($primary, 700) !default;
$secondary-active: color-shade($secondary, 700) !default;
$success-active: color-shade($success, 700) !default;
$info-active: color-shade($info, 300) !default;
$warning-active: color-shade($warning, 300) !default;
$danger-active: color-shade($danger, 700) !default;
$light-active: color-shade($light, 700) !default;
$dark-active: color-shade($dark, 300) !default;

$primary-subtle: color-shade($primary, 100) !default;
$secondary-subtle: color-shade($secondary, 100) !default;
$success-subtle: color-shade($success, 100) !default;
$info-subtle: color-shade($info, 100) !default;
$warning-subtle: color-shade($warning, 100) !default;
$danger-subtle: color-shade($danger, 100) !default;
$light-subtle: color-shade($light, 100) !default;
$dark-subtle: color-shade($dark, 100) !default;

$primary-subtle-emphasis: color-shade($primary, 150) !default;
$secondary-subtle-emphasis: color-shade($secondary, 150) !default;
$success-subtle-emphasis: color-shade($success, 150) !default;
$info-subtle-emphasis: color-shade($info, 150) !default;
$warning-subtle-emphasis: color-shade($warning, 150) !default;
$danger-subtle-emphasis: color-shade($danger, 150) !default;
$light-subtle-emphasis: color-shade($light, 350) !default;
$dark-subtle-emphasis: color-shade($dark, 150) !default;

$primary-subtle-text: text-color-contrast($primary-subtle, $foreground: $primary) !default;
$secondary-subtle-text: text-color-contrast($secondary-subtle, $foreground: $secondary) !default;
$success-subtle-text: text-color-contrast($success-subtle, $foreground: $success) !default;
$info-subtle-text: text-color-contrast($info-subtle, $foreground: $info) !default;
$warning-subtle-text: text-color-contrast($warning-subtle, $foreground: $warning) !default;
$danger-subtle-text: text-color-contrast($danger-subtle, $foreground: $danger) !default;
$light-subtle-text: text-color-contrast($light-subtle, $foreground: $light) !default;
$dark-subtle-text: text-color-contrast($dark-subtle, $foreground: $dark) !default;

$primary-contrast: text-color($primary) !default;
$secondary-contrast: text-color($secondary) !default;
$success-contrast: text-color($success) !default;
$info-contrast: text-color($info) !default;
$warning-contrast: text-color($warning) !default;
$danger-contrast: text-color($danger) !default;
$light-contrast: text-color($light) !default;
$dark-contrast: text-color($dark) !default;
