// base colors
$body-bg-dark: color-shade($gray, 900) !default;
$body-color-dark: color-shade($gray, 200) !default;

$body-secondary-bg-dark: color-shade($gray, 700) !default;
$body-secondary-color-dark: fade($body-color-dark, .7) !default;

$body-tertiary-bg-dark: color-shade($gray, 800) !default;
$body-tertiary-color-dark: fade($body-color-dark, .5) !default;

$emphasis-color-dark: $white !default;

$link-color-dark: color-shade($blue, 350) !default;
$link-color-hover-dark: color-shade($blue, 150) !default;

$border-color-dark: color-shade($gray, 700) !default;
$border-color-translucent-dark: fade($white, .15) !default;

// theme colors
$primary-emphasis-dark: color-shade($primary, 450) !default;
$secondary-emphasis-dark: color-shade($secondary, 450) !default;
$success-emphasis-dark: color-shade($success, 450) !default;
$info-emphasis-dark: color-shade($info, 450) !default;
$warning-emphasis-dark: color-shade($warning, 450) !default;
$danger-emphasis-dark: color-shade($danger, 450) !default;
$light-emphasis-dark: color-shade($light, 250) !default;
$dark-emphasis-dark: color-shade($dark, 450) !default;

$primary-subtle-dark: color-shade($primary, 800) !default;
$secondary-subtle-dark: color-shade($secondary, 800) !default;
$success-subtle-dark: color-shade($success, 800) !default;
$info-subtle-dark: color-shade($info, 800) !default;
$warning-subtle-dark: color-shade($warning, 800) !default;
$danger-subtle-dark: color-shade($danger, 800) !default;
$light-subtle-dark: color-shade($light, 800) !default;
$dark-subtle-dark: color-shade($dark, 700) !default;

$primary-subtle-emphasis-dark: color-shade($primary, 750) !default;
$secondary-subtle-emphasis-dark: color-shade($secondary, 750) !default;
$success-subtle-emphasis-dark: color-shade($success, 750) !default;
$info-subtle-emphasis-dark: color-shade($info, 750) !default;
$warning-subtle-emphasis-dark: color-shade($warning, 750) !default;
$danger-subtle-emphasis-dark: color-shade($danger, 750) !default;
$light-subtle-emphasis-dark: color-shade($light, 650) !default;
$dark-subtle-emphasis-dark: color-shade($dark, 600) !default;

$primary-subtle-text-dark: text-color-contrast($primary-subtle-dark, $foreground: $primary) !default;
$secondary-subtle-text-dark: text-color-contrast($secondary-subtle-dark, $foreground: $secondary) !default;
$success-subtle-text-dark: text-color-contrast($success-subtle-dark, $foreground: $success) !default;
$info-subtle-text-dark: text-color-contrast($info-subtle-dark, $foreground: $info) !default;
$warning-subtle-text-dark: text-color-contrast($warning-subtle-dark, $foreground: $warning) !default;
$danger-subtle-text-dark: text-color-contrast($danger-subtle-dark, $foreground: $danger) !default;
$light-subtle-text-dark: text-color-contrast($light-subtle-dark, $foreground: $light) !default;
$dark-subtle-text-dark: text-color-contrast($dark-subtle-dark, $foreground: $dark) !default;
