@use "sass:math";

// accordion
$accordion-padding-x: $spacing * 1.25 !default;
$accordion-padding-y: $spacing !default;
$accordion-bg: var(--ui-body-bg) !default;
$accordion-color: var(--ui-body-color) !default;
$accordion-border-width: var(--ui-border-width) !default;
$accordion-border-color: var(--ui-border-color) !default;
$accordion-border-radius: var(--ui-border-radius) !default;

$accordion-button-padding-x: $accordion-padding-x !default;
$accordion-button-padding-y: $accordion-padding-y !default;
$accordion-button-bg: var(--ui-accordion-bg) !default;
$accordion-button-color: var(--ui-body-color) !default;
$accordion-active-bg: var(--ui-primary-subtle) !default;
$accordion-active-color: var(--ui-primary-text) !default;
$accordion-focus-box-shadow: 0 0 0 var(--ui-focus-ring-width) var(--ui-focus-ring-color) !default;

$accordion-icon-width: 1.25rem !default;
$accordion-icon-transform: rotate(180deg) !default;
$accordion-icon-transition: transform $transition-time $transition-type !default;
$accordion-icon: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23000'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e") !default;

$accordion-body-padding-x: $accordion-padding-x !default;
$accordion-body-padding-y: $accordion-padding-y !default;

// alert
$alert-padding-x: $spacing !default;
$alert-padding-y: $spacing !default;
$alert-margin-bottom: $spacing !default;
$alert-border-width: var(--ui-border-width) !default;
$alert-border-radius: var(--ui-border-radius) !default;
$alert-link-font-weight: map-get($font-weights, bold) !default;

// badge
$badge-padding-x: .65em !default;
$badge-padding-y: .35em !default;
$badge-font-size: .75em !default;
$badge-font-weight: map-get($font-weights, bolder) !default;
$badge-color: var(--ui-white) !default;
$badge-border-radius: var(--ui-border-radius) !default;

// breadcrumb
$breadcrumb-margin-bottom: $spacing !default;
$breadcrumb-item-padding-x: $spacing * .5 !default;
$breadcrumb-active-color: var(--ui-gray) !default;
$breadcrumb-divider: quote("/") !default;
$breadcrumb-divider-color: rgba(var(--ui-body-color-rgb), .5) !default;

// button
$btn-padding-x: $spacing * .5 !default;
$btn-padding-y: $spacing * .25 !default;
$btn-font-family: $font-sans-serif !default;
$btn-font-size: 1rem !default;
$btn-font-weight: map-get($font-weights, normal) !default;
$btn-line-height: map-get($line-heights, base) !default;
$btn-border-width: var(--ui-border-width) !default;
$btn-border-color: var(--ui-border-color) !default;
$btn-border-radius: var(--ui-border-radius) !default;
$btn-disabled-opacity: var(--ui-disabled-opacity) !default;
$btn-focus-box-shadow: 0 0 0 var(--ui-focus-ring-width) rgba(var(--ui-btn-focus-shadow-rgb), var(--ui-focus-ring-opacity)) !default;

$btn-lg-padding-x: $spacing !default;
$btn-lg-padding-y: math.div($spacing, 3) !default;
$btn-lg-font-size: map-get($font-sizes, 5) !default;
$btn-lg-border-radius: var(--ui-border-radius-lg) !default;

$btn-sm-padding-x: $spacing * .5 !default;
$btn-sm-padding-y: $spacing * .25 !default;
$btn-sm-font-size: $small-font-size !default;
$btn-sm-border-radius: var(--ui-border-radius-sm) !default;

$btn-ripple-opacity: var(--ui-ripple-opacity) !default;
$btn-outline-hover-opacity: .2 !default;

// card
$card-spacer-x: $spacing !default;
$card-spacer-y: $spacing !default;
$card-title-spacer-y: $spacing * .5 !default;
$card-border-width: var(--ui-border-width) !default;
$card-border-color: var(--ui-border-color-translucent) !default;
$card-border-radius: var(--ui-border-radius) !default;
$card-bg: var(--ui-body-bg) !default;
$card-cap-padding-x: $card-spacer-x !default;
$card-cap-padding-y: $card-spacer-y * .5 !default;
$card-cap-bg: rgba(var(--ui-body-color-rgb), .1) !default;
$card-img-overlay-padding: $spacing !default;
$card-group-margin: $spacing !default;

// carousel
$carousel-bg: var(--ui-body-color) !default;

$carousel-control-padding-x: $spacing !default;
$carousel-control-padding-y: $spacing !default;
$carousel-control-font-size: 2em !default;
$carousel-control-color-rgb: var(--ui-body-bg-rgb) !default;
$carousel-control-opacity: .5 !default;
$carousel-control-hover-opacity: .75 !default;
$carousel-control-icon-width: 2rem !default;
$carousel-control-prev-icon: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23000'%3e%3cpath d='M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z'/%3e%3c/svg%3e") !default;
$carousel-control-next-icon: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23000'%3e%3cpath d='M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e") !default;

$carousel-indicator-width: .5rem !default;
$carousel-indicator-height: .5rem !default;
$carousel-indicator-spacer: $spacing !default;
$carousel-indicator-bg: var(--ui-body-bg) !default;
$carousel-indicator-opacity: .5 !default;
$carousel-indicator-active-opacity: 1 !default;
$carousel-indicator-border-radius: var(--ui-border-radius) !default;

$carousel-caption-width: 70% !default;
$carousel-caption-padding-y: $spacing !default;
$carousel-caption-spacer: $spacing * 2 !default;
$carousel-caption-color: var(--ui-body-bg) !default;

// close icon
$btn-close-width: 1em !default;
$btn-close-height: 1em !default;
$btn-close-padding-x: $spacing * .25 !default;
$btn-close-padding-y: $spacing * .25 !default;
$btn-close-border-radius: var(--ui-border-radius) !default;
$btn-close-opacity: .5 !default;
$btn-close-hover-opacity: .75 !default;
$btn-close-focus-opacity: 1 !default;
$btn-close-disabled-opacity: .25 !default;

$btn-close-icon: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23000'%3e%3cpath d='M.293.293a1 1 0 011.414 0L8 6.586 14.293.293a1 1 0 111.414 1.414L9.414 8l6.293 6.293a1 1 0 01-1.414 1.414L8 9.414l-6.293 6.293a1 1 0 01-1.414-1.414L6.586 8 .293 1.707a1 1 0 010-1.414z'/%3e%3c/svg%3e") !default;

// dropdown
$dropdown-min-width: 10rem !default;
$dropdown-padding-x: 0 !default;
$dropdown-padding-y: $spacing * .5 !default;
$dropdown-font-size: 1rem !default;
$dropdown-color: var(--ui-body-color) !default;
$dropdown-bg: var(--ui-body-bg) !default;
$dropdown-border-width: var(--ui-border-width) !default;
$dropdown-border-color: var(--ui-border-color-translucent) !default;
$dropdown-border-radius: var(--ui-border-radius) !default;

$dropdown-divider-margin-y: $dropdown-padding-y !default;
$dropdown-divider-border-width: var(--ui-border-width) !default;
$dropdown-divider-border-color: var(--ui-border-color-translucent) !default;

$dropdown-link-color: var(--ui-body-color) !default;
$dropdown-link-hover-color: var(--ui-body-color) !default;
$dropdown-link-hover-bg: var(--ui-tertiary-bg) !default;
$dropdown-link-active-color: var(--ui-primary-contrast) !default;
$dropdown-link-active-bg: var(--ui-primary) !default;
$dropdown-link-disabled-color: var(--ui-secondary-color) !default;

$dropdown-item-padding-x: $spacing !default;
$dropdown-item-padding-y: $spacing * .25 !default;
$dropdown-item-font-weight: map-get($font-weights, normal) !default;

$dropdown-header-padding-x: $spacing !default;
$dropdown-header-padding-y: $dropdown-padding-y !default;
$dropdown-header-font-size: $small-font-size !default;
$dropdown-header-color: var(--ui-secondary-color) !default;

// list group
$list-group-color: var(--ui-body-color) !default;
$list-group-bg: var(--ui-body-bg) !default;
$list-group-border-width: var(--ui-border-width) !default;
$list-group-border-color: var(--ui-border-color) !default;
$list-group-border-radius: var(--ui-border-radius) !default;

$list-group-item-padding-x: $spacing !default;
$list-group-item-padding-y: $spacing * .5 !default;
$list-group-item-disabled-color: var(--ui-secondary-color) !default;
$list-group-item-disabled-bg: var(--ui-body-bg) !default;

$list-group-action-color: var(--ui-secondary-color) !default;
$list-group-action-hover-color: var(--ui-emphasis-color) !default;
$list-group-action-hover-bg: var(--ui-tertiary-bg) !default;
$list-group-action-focus-box-shadow: 0 0 0 var(--ui-focus-ring-width) rgba(var(--ui-list-group-focus-shadow-rgb, var(--ui-primary-rgb)), var(--ui-focus-ring-opacity)) !default;

$list-group-active-color: var(--ui-primary-contrast) !default;
$list-group-active-bg: var(--ui-primary) !default;
$list-group-active-border-color: var(--ui-primary) !default;

// modal
$modal-sm-max-width: 300px !default;
$modal-md-max-width: 500px !default;
$modal-lg-max-width: 800px !default;
$modal-xl-max-width: 1140px !default;

$modal-md-dialog-margin-y: $spacing * 2 !default;

$modal-padding-x: $spacing !default;
$modal-padding-y: $spacing !default;
$modal-margin: $spacing * .5 !default;
$modal-bg: var(--ui-body-bg) !default;
$modal-content-color: var(--ui-body-color) !default;
$modal-border-width: var(--ui-border-width) !default;
$modal-border-color: var(--ui-border-color) !default;
$modal-border-radius: var(--ui-border-radius) !default;

$modal-header-padding-x: var(--ui-modal-padding-x) !default;
$modal-header-padding-y: var(--ui-modal-padding-y) !default;
$modal-header-border-width: var(--ui-modal-border-width) !default;
$modal-header-border-color: var(--ui-modal-border-color) !default;
$modal-title-line-height: map-get($line-heights, base) !default;

$model-footer-gap: $spacing * .5 !default;
$modal-footer-border-width: var(--ui-modal-border-width) !default;
$modal-footer-border-color: var(--ui-modal-border-color) !default;

$modal-dialog-scrollable-gap: $spacing !default;
$modal-dialog-centered-gap: $spacing !default;

$modal-content-box-shadow: var(--ui-shadow-lg) !default;
$modal-backdrop-bg: rgba(0, 0, 0, .5) !default;

// nav
$nav-link-padding-x: $spacing !default;
$nav-link-padding-y: $spacing * .5 !default;
$nav-link-color: var(--ui-link-color) !default;
$nav-link-hover-color: var(--ui-link-hover-color) !default;
$nav-link-focus-box-shadow: 0 0 0 var(--ui-focus-ring-width) var(--ui-focus-ring-color) !default;
$nav-link-disabled-color: var(--ui-secondary-color) !default;

$nav-tabs-border-color: var(--ui-border-color) !default;
$nav-tabs-border-width: var(--ui-border-width) !default;
$nav-tabs-border-radius: var(--ui-border-radius) !default;
$nav-tabs-link-hover-border-color: var(--ui-border-color-translucent) var(--ui-border-color-translucent) !default;
$nav-tabs-link-active-color: var(--ui-emphasis-color) !default;
$nav-tabs-link-active-bg: var(--ui-body-bg) !default;
$nav-tabs-link-active-border-color: var(--ui-border-color) var(--ui-border-color) !default;

$nav-pills-border-radius: var(--ui-border-radius) !default;
$nav-pills-link-active-color: var(--ui-primary-contrast) !default;
$nav-pills-link-active-bg: var(--ui-primary) !default;

$nav-underline-gap: $spacing !default;
$nav-underline-border-width: .125rem !default;
$nav-underline-link-active-color: var(--ui-emphasis-color) !default;

// navbar
$navbar-padding-x: 0 !default;
$navbar-padding-y: $spacing * .5 !default;
$navbar-color: rgba(var(--ui-emphasis-color-rgb), .6) !default;
$navbar-hover-color: rgba(var(--ui-emphasis-color-rgb), .9) !default;
$navbar-active-color: var(--ui-emphasis-color) !default;
$navbar-disabled-color: rgba(var(--ui-emphasis-color-rgb), .3) !default;
$navbar-brand-color: #{$navbar-active-color} !default;
$navbar-brand-hover-color: #{$navbar-active-color} !default;
$navbar-text-color: var(--ui-secondary-color) !default;

$navbar-nav-link-padding-x: $spacing * .5 !default;

$navbar-brand-font-size: map-get($font-sizes, 5) !default;
$nav-link-height: ($font-size * map-get($line-heights, base)) + ($nav-link-padding-y * 2) !default;
$navbar-brand-height: $navbar-brand-font-size * map-get($line-heights, base) !default;
$navbar-brand-padding-y: ($nav-link-height - $navbar-brand-height) * .5 !default;
$navbar-brand-margin-end: $spacing !default;

$navbar-nav-scroll-height: 75vh !default;

$navbar-toggler-padding-x: $spacing * .75 !default;
$navbar-toggler-padding-y: $spacing * .25 !default;
$navbar-toggler-font-size: map-get($font-sizes, 5) !default;
$navbar-toggler-border-color: rgba(var(--ui-emphasis-color-rgb), .15) !default;
$navbar-toggler-border-width: var(--ui-border-width) !default;
$navbar-toggler-border-radius: var(--ui-border-radius) !default;
$navbar-toggler-focus-box-shadow: 0 0 0 var(--ui-focus-ring-width) !default;
$navbar-toggler-icon-width: 1.5em !default;
$navbar-toggler-icon: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='%23000' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e") !default;

// offcanvas
$offcanvas-horizontal-width: 400px !default;
$offcanvas-vertical-height: 30vh !default;

$offcanvas-padding-x: $spacing !default;
$offcanvas-padding-y: $spacing !default;
$offcanvas-color: var(--ui-body-color) !default;
$offcanvas-bg: var(--ui-body-bg) !default;
$offcanvas-border-width: var(--ui-border-width) !default;
$offcanvas-border-color: var(--ui-border-color) !default;
$offcanvas-title-line-height: map-get($line-heights, base) !default;
$offcanvas-backdrop-bg: rgba(0, 0, 0, .5) !default;

// pagination
$pagination-padding-x: $spacing * .75 !default;
$pagination-padding-y: $spacing * .25 !default;
$pagination-font-size: $font-size !default;
$pagination-bg: var(--ui-body-bg) !default;
$pagination-color: var(--ui-link-color) !default;
$pagination-border-width: var(--ui-border-width) !default;
$pagination-border-color: var(--ui-border-color) !default;
$pagination-border-radius: var(--ui-border-radius) !default;

$pagination-hover-color: var(--ui-link-hover-color) !default;
$pagination-hover-bg: var(--ui-tertiary-bg) !default;

$pagination-focus-color: var(--ui-link-hover-color) !default;
$pagination-focus-bg: var(--ui-secondary-bg) !default;
$pagination-focus-box-shadow: 0 0 0 var(--ui-focus-ring-width) var(--ui-focus-ring-color) !default;

$pagination-active-color: var(--ui-primary-contrast) !default;
$pagination-active-bg: var(--ui-primary) !default;
$pagination-active-border-color: var(--ui-primary) !default;

$pagination-disabled-color: var(--ui-secondary-color) !default;
$pagination-disabled-bg: var(--ui-secondary-bg) !default;
$pagination-disabled-border-color: var(--ui-border-color) !default;

$pagination-sm-padding-x: $spacing * .5 !default;
$pagination-sm-padding-y: $spacing * .25 !default;
$pagination-sm-font-size: $small-font-size !default;

$pagination-lg-padding-x: $spacing * 1.5 !default;
$pagination-lg-padding-y: $spacing * .75 !default;
$pagination-lg-font-size: map-get($font-sizes, 5) !default;

// placeholder
$placeholder-opacity-max: .5 !default;
$placeholder-opacity-min: .2 !default;

// popover
$popover-max-width: 276px !default;
$popover-padding-x: $spacing * .5 !default;
$popover-padding-y: $spacing !default;
$popover-font-size: $small-font-size !default;
$popover-bg: var(--ui-body-bg) !default;
$popover-border-width: var(--ui-border-width) !default;
$popover-border-color: var(--ui-border-color) !default;
$popover-border-radius: var(--ui-border-radius) !default;

$popover-header-padding-x: $popover-padding-y !default;
$popover-header-padding-y: $popover-padding-x !default;
$popover-header-font-size: var(--ui-body-font-size) !default;
$popover-header-bg: var(--ui-secondary-bg) !default;

$popover-body-padding-x: $popover-padding-y !default;
$popover-body-padding-y: $popover-padding-x !default;
$popover-body-color: var(--ui-body-color) !default;

$popover-arrow-width: 1rem !default;
$popover-arrow-height: .5rem !default;

// progress
$progress-height: 1rem !default;
$progress-font-size: .65rem !default;
$progress-bg: var(--ui-secondary-bg) !default;
$progress-border-radius: var(--ui-border-radius) !default;
$progress-bar-color: var(--ui-white) !default;
$progress-bar-bg: var(--ui-primary) !default;

$progress-bar-striped-background-image: linear-gradient(-45deg, transparent 50%, fade($white, .15) 50%, fade($white, .15) 70%, transparent 70%) !default;
$progress-bar-striped-background-size-x: 2rem !default;
$progress-bar-striped-background-size-y: 1rem !default;

$progress-vertical-width: 1rem !default;
$progress-vertical-height: 200px !default;

// spinner
$spinner-width: 2em !default;
$spinner-height: $spinner-width !default;
$spinner-vertical-align: text-bottom !default;
$spinner-border-width: .25em !default;
$spinner-animation-speed: $animation-time !default;

$spinner-width-sm: 1em !default;
$spinner-height-sm: $spinner-width-sm !default;
$spinner-border-width-sm: .2em !default;

// toast
$toast-max-width: 350px !default;
$toast-padding-x: $spacing * .75 !default;
$toast-padding-y: $spacing * .75 !default;
$toast-margin-bottom: $spacing !default;
$toast-font-size: $small-font-size !default;
$toast-bg: rgba(var(--ui-body-bg-rgb), .85) !default;
$toast-border-width: var(--ui-border-width) !default;
$toast-border-color: var(--ui-border-color-translucent) !default;
$toast-border-radius: var(--ui-border-radius) !default;
$toast-backdrop-filter: blur(10px) !default;

$toast-header-color: var(--ui-secondary-color) !default;
$toast-header-bg: rgba(var(--ui-body-bg-rgb), .85) !default;
$toast-header-border-color: $toast-border-color !default;

// tooltip
$tooltip-max-width: 200px !default;
$tooltip-padding-x: $spacing * .5 !default;
$tooltip-padding-y: $spacing * .25 !default;
$tooltip-font-size: $small-font-size !default;
$tooltip-color: var(--ui-body-bg) !default;
$tooltip-bg: var(--ui-emphasis-color) !default;
$tooltip-border-radius: var(--ui-border-radius) !default;
$tooltip-opacity: .9 !default;
$tooltip-arrow-width: .8rem !default;
$tooltip-arrow-height: .4rem !default;
