@use "sass:math";

// address
$address-margin-bottom: $spacing !default;

// blockquote
$blockquote-margin-bottom: $spacing !default;
$blockquote-font-size: $font-size-lg !default;
$blockquote-footer-margin-top: ($spacing * -1) !default;
$blockquote-footer-font-size: 80% !default;
$blockquote-footer-color: $gray-dark !default;
$blockquote-footer-prefix: "\2014 \00A0" !default;

// body
$body-font-weight: map-get($font-weights, normal) !default;
$body-line-height: map-get($line-heights, base) !default;

// caption
$caption-color: tint($text-color, 15%) !default;

// dd
$dd-margin-bottom: $spacing * .5 !default;

// dt
$dt-font-weight: map-get($font-weights, bolder) !default;

// figure
$figure-margin-bottom: $spacing !default;
$figure-img-margin-bottom: $spacing * .5 !default;
$figure-caption-font-size: 90% !default;
$figure-caption-color: map-get($color-variants, secondary) !default;

// heading
$headings-margin-bottom: $spacing * .5 !default;
$headings-font-family: null !default;
$headings-font-style: null !default;
$headings-font-weight: map-get($font-weights, bold) !default;
$headings-line-height: 1.2 !default;
$headings-color: null !default;

$h1-font-size: 3 !default;
$h2-font-size: 2.5 !default;
$h3-font-size: 2 !default;
$h4-font-size: 1.5 !default;
$h5-font-size: 1.25 !default;
$h6-font-size: 1 !default;

$display-font-weight: map-get($font-weights, light) !default;
$display-line-height: 1.2 !default;
$display-1-font-size: 5 !default;
$display-2-font-size: 4.5 !default;
$display-3-font-size: 4 !default;
$display-4-font-size: 3.5 !default;
$display-5-font-size: 3 !default;
$display-6-font-size: 2.5 !default;

// horizontal rule
$hr-height: $border-size !default;
$hr-margin-y: $spacing * .5 !default;
$hr-opacity: .25 !default;

// image
$img-thumbnail-padding: $spacing * .25 !default;
$img-thumbnail-background-color: $white !default;
$img-thumbnail-border-size: $border-size !default;
$img-thumbnail-border-color: $border-color !default;
$img-thumbnail-border-radius: $border-radius !default;

// kbd
$kbd-padding-x: .4rem !default;
$kbd-padding-y: .2rem !default;
$kbd-background-color: map-get($color-variants, dark) !default;
$kbd-kbd-font-weight: map-get($font-weights, bolder) !default;

// lead
$lead-font-size: 1.25 !default;
$lead-font-weight: map-get($font-weights, light) !default;

// legend
$legend-margin-bottom: $spacing * .5 !default;
$legend-font-size: $font-size-lg !default;
$legend-font-weight: map-get($font-weights, bold) !default;

// link
$link-text-decoration: none !default;
$link-hover-color-shade: 20% !default;
$link-hover-text-decoration: underline !default;
$link-focus-color-tint: 20% !default;
$link-focus-text-decoration: underline !default;

$link-hover-color: shade($link-color, $link-hover-color-shade) !default;
$link-focus-color: tint($link-color, $link-focus-color-tint) !default;

// list
$list-padding-left: $spacing * 2 !default;
$list-inline-item-margin-right: $spacing * .5 !default;

// mark
$mark-padding: .2rem !default;

// paragraph
$p-margin-bottom: $spacing !default;

// small
$small-font-size: 75% !default;

// strong
$strong-font-weight: map-get($font-weights, bolder) !default;

// sub
$sub-bottom: -.25em !default;

// sup
$sup-top: -.25em !default;

// table
$table-variants: (
    active: $link-color,
    primary: map-get($color-variants, primary),
    secondary: map-get($color-variants, secondary),
    success: map-get($color-variants, success),
    info: map-get($color-variants, info),
    warning: map-get($color-variants, warning),
    danger: map-get($color-variants, danger)
) !default;

$table-margin-bottom: $spacing !default;
$table-border-size: $border-size !default;
$table-border-color: $gray-light !default;
$table-cell-padding-x: $spacing !default;
$table-cell-padding-y: $spacing * .5 !default;
$table-th-font-weight: map-get($font-weights, bold) !default;
$table-hover-color: map-get($color-variants, dark) !default;
$table-hover-background-color: fade($black, .05) !default;
$table-striped-background-color: fade(map-get($color-variants, dark), .1) !default;

$table-sm-cell-padding-x: math.div($spacing, 3) !default;
$table-sm-cell-padding-y: $spacing * .25 !default;

$table-dark-color: $white !default;
$table-dark-background-color: map-get($color-variants, dark) !default;
$table-dark-border-color: map-get($color-variants, secondary) !default;
$table-dark-hover-background-color: fade($white, .05) !default;
$table-dark-striped-background-color: fade(map-get($color-variants, light), .1) !default;

$table-light-background-color: map-get($color-variants, light) !default;

$table-background-color-tint: 70% !default;
$table-hover-color-shade: 40% !default;
$table-border-color-tint: 35% !default;
