@use "sass:math";

// address
$address-margin-bottom: $spacing !default;

// blockquote
$blockquote-margin-bottom: $spacing !default;
$blockquote-font-size: map-get($font-sizes, 5) !default;
$blockquote-footer-margin-top: ($spacing * -1) !default;
$blockquote-footer-font-size: 80% !default;
$blockquote-footer-color: var(--ui-secondary-color) !default;
$blockquote-footer-prefix: "\2014 \00A0" !default;

// body
$body-font-weight: map-get($font-weights, normal) !default;
$body-line-height: map-get($line-heights, base) !default;

// dd
$dd-margin-bottom: $spacing * .5 !default;

// dt
$dt-font-weight: map-get($font-weights, bolder) !default;

// figure
$figure-margin-bottom: $spacing !default;
$figure-img-margin-bottom: $spacing * .5 !default;
$figure-caption-font-size: 90% !default;
$figure-caption-color: var(--ui-secondary-color) !default;

// heading
$headings-margin-bottom: $spacing * .5 !default;
$headings-font-family: null !default;
$headings-font-style: null !default;
$headings-font-weight: map-get($font-weights, bold) !default;
$headings-line-height: 1.2 !default;
$headings-color: null !default;

$h1-font-size: 3 !default;
$h2-font-size: 2.5 !default;
$h3-font-size: 2 !default;
$h4-font-size: 1.5 !default;
$h5-font-size: 1.25 !default;
$h6-font-size: 1 !default;

$display-font-weight: map-get($font-weights, light) !default;
$display-line-height: 1.2 !default;
$display-1-font-size: 5 !default;
$display-2-font-size: 4.5 !default;
$display-3-font-size: 4 !default;
$display-4-font-size: 3.5 !default;
$display-5-font-size: 3 !default;
$display-6-font-size: 2.5 !default;

// horizontal rule
$hr-height: $border-width !default;
$hr-margin-y: $spacing * .5 !default;
$hr-opacity: .25 !default;

// image
$img-thumbnail-padding: $spacing * .25 !default;
$img-thumbnail-bg: var(--ui-body-bg) !default;
$img-thumbnail-border-color: var(--ui-border-color) !default;
$img-thumbnail-border-width: var(--ui-border-width) !default;
$img-thumbnail-border-radius: var(--ui-border-radius) !default;

// kbd
$kbd-padding-x: .4rem !default;
$kbd-padding-y: .2rem !default;
$kbd-kbd-font-weight: map-get($font-weights, bolder) !default;
$kbd-bg: var(--ui-body-color) !default;
$kbd-color: var(--ui-body-bg) !default;
$kbd-border-radius: var(--ui-border-radius) !default;

// lead
$lead-font-size: 1.25 !default;
$lead-font-weight: map-get($font-weights, light) !default;

// legend
$legend-margin-bottom: $spacing * .5 !default;
$legend-font-size: map-get($font-sizes, 5) !default;
$legend-font-weight: map-get($font-weights, bold) !default;

// list
$list-padding-left: $spacing * 2 !default;
$list-inline-item-margin-right: $spacing * .5 !default;

// mark
$mark-padding: .2rem !default;

// paragraph
$p-margin-bottom: $spacing !default;

// strong
$strong-font-weight: map-get($font-weights, bolder) !default;

// sub/sup
$sub-sup-font-size: .75em !default;
$sub-bottom: -.25em !default;
$sup-top: -.25em !default;

// table
$table-variants: (
    primary: $primary,
    secondary: $secondary,
    success: $success,
    info: $info,
    warning: $warning,
    danger: $danger
) !default;

$table-margin-bottom: $spacing !default;
$table-cell-padding-x: $spacing !default;
$table-cell-padding-y: $spacing * .5 !default;
$table-th-font-weight: map-get($font-weights, bold) !default;

$table-bg: var(--ui-body-bg) !default;
$table-color: var(--ui-body-color) !default;
$table-border-color: var(--ui-border-color) !default;
$table-border-width: var(--ui-border-width) !default;
$table-hover-bg: rgba(var(--ui-body-color-rgb), .1) !default;
$table-striped-bg: rgba(var(--ui-body-color-rgb), .05) !default;

$table-sm-cell-padding-x: math.div($spacing, 3) !default;
$table-sm-cell-padding-y: $spacing * .25 !default;
