$font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
$font-family-mono: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
$font-mono: monospace, monospace;

$font-size: 1.1rem;
$font-size-xs: .65rem;
$font-size-sm: .875rem;
$font-size-md: 1rem;
$font-size-lg: 1.25rem;
$font-size-floating: 13px;

$small-font-size: 75%;
$h1-font-size: text-size(3);
$h2-font-size: text-size(2.5);
$h3-font-size: text-size(2);
$h4-font-size: text-size(1.5);
$h5-font-size: text-size(1.25);
$h6-font-size: text-size(1);
$heading-1-font-size: text-size(5);
$heading-2-font-size: text-size(4.5);
$heading-3-font-size: text-size(3.5);
$heading-4-font-size: text-size(2.5);
$lead-font-size: text-size(1.25);
$blockquote-font-size: $font-size-lg;
$blockquote-footer-font-size: 80%;
$figure-caption-font-size: 90%;

$line-height: 1.5;
$line-height-sm: 1.25;
$line-height-lg: 2;

$heading-line-height: 1.2;

$font-weight: 400;
$font-weight-bold: 500;
$font-weight-bolder: 700;
$font-weight-light: 300;
$font-weight-lighter: 200;

$heading-font-weight: $font-weight-light;