// caret
$caret-spacing: $spacing * .5 !default;
$caret-vertical-align: .2em !default;
$caret-size: .25em !default;

// color links
$color-link-variants: $utilities-colors !default;

// ratio
$ratios: (
    1x1: 100%,
    4x3: 75%,
    16x9: 56.25%,
    21x9: 42.857143%
) !default;

// ripple
$ripple-opacity: .3 !default;
$ripple-bg: rgba(var(--ui-white-rgb), var(--ui-ripple-opacity)) !default;
