$navbar-toggle: '\2630';
$breadcrumb-divider: '\002f';
$close: '\1F5D9';
$arrow-up: '\2b9d';
$arrow-right: '\2b9e';
$arrow-down: '\2b9f';
$arrow-left: '\2b9c';
$blockquote-footer-prefix: '\2014 \00A0';