$spacing: 1rem;
$gutter: 1.5rem;
$form-gutter: .5rem;

$figure-img-margin-bottom: $spacing / 2;
$img-thumbnail-padding: $spacing / 4;
$table-margin-bottom: $spacing;
$table-cell-padding-x: $spacing;
$table-cell-padding-y: $spacing / 2;
$table-sm-cell-padding: $spacing / 3;
$blockquote-margin-bottom: $spacing;
$blockquote-footer-margin-top: -$spacing;
$list-inline-item-margin-right: $spacing / 2;