@function breakpoint-max($name) {
    $max: map-get($breakpoints, $name);

    @return if($max and $max > 0, $max - .02, null);
}

@function breakpoint-min($name) {
    $min: map-get($breakpoints, $name);

    @return if($min != 0, $min, null);
}

@function breakpoint-next($name) {
    $breakpoint-names: map-keys($breakpoints);
    $n: index($breakpoint-names, $name);

    @return if($n < length($breakpoint-names), nth($breakpoint-names, $n + 1), null);
}

@function breakpoint-suffix($name) {
    @return if(breakpoint-min($name) == null, '', '-#{$name}');
}