// Generate a responsive font size.
// @param $size
@function text-size($size) {
    $max-size: $size * 1rem;

    @if ($size < 1.5) {
        @return $max-size;
    }

    $ratio: ($size / .5) - 2;
    $min-size: ($ratio * .1rem) + 1.25rem;
    $offset: $ratio * .33vw;

    @return clamp(#{$min-size}, calc(#{$min-size} + #{$offset}), #{$max-size});
}
