<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Accordion</title>
    <link rel="stylesheet" href="../../../dist/frost-ui.css" />
    <script src="../../../dist/frost-ui-bundle.js"></script>
</head>

<body>
    <div class="container">
        <h1>Accordion</h1>
        <div class="mb-4">
            <div class="accordion" id="accordion">
                <div class="accordion-item">
                    <h2 class="accordion-header" id="heading1">
                        <button class="accordion-button" data-ui-toggle="collapse" data-ui-target="#collapseOne" type="button" aria-expanded="true" aria-controls="collapseOne">
                            Accordion Item 1
                        </button>
                    </h2>
                    <div class="accordion-collapse collapse show" id="collapseOne" data-ui-parent="#accordion" aria-labelledby="heading1">
                        <div class="accordion-body">
                            <strong>This is the body of the accordion.</strong>
                        </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <h2 class="accordion-header" id="heading2">
                        <button class="accordion-button collapsed" data-ui-toggle="collapse" data-ui-target="#collapseTwo" type="button" aria-expanded="false" aria-controls="collapseTwo">
                            Accordion Item 2
                        </button>
                    </h2>
                    <div class="accordion-collapse collapse" id="collapseTwo" data-ui-parent="#accordion" aria-labelledby="heading2">
                        <div class="accordion-body">
                            <strong>This is the body of the accordion.</strong>
                        </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <h2 class="accordion-header" id="heading3">
                        <button class="accordion-button collapsed" data-ui-toggle="collapse" data-ui-target="#collapseThree" type="button" aria-expanded="false" aria-controls="collapseThree">
                            Accordion Item 3
                        </button>
                    </h2>
                    <div class="accordion-collapse collapse" id="collapseThree" data-ui-parent="#accordion" aria-labelledby="heading3">
                        <div class="accordion-body">
                            <strong>This is the body of the accordion.</strong>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <h4>Flush</h4>
        <div class="mb-4">
            <div class="accordion accordion-flush" id="accordionFlush">
                <div class="accordion-item">
                    <h2 class="accordion-header" id="headingFlush1">
                        <button class="accordion-button" data-ui-toggle="collapse" data-ui-target="#collapseFlushOne" type="button" aria-expanded="true" aria-controls="collapseFlushOne">
                            Accordion Item 1
                        </button>
                    </h2>
                    <div class="accordion-collapse collapse show" id="collapseFlushOne" data-ui-parent="#accordionFlush" aria-labelledby="headingFlush1">
                        <div class="accordion-body">
                            <strong>This is the body of the accordion.</strong>
                        </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <h2 class="accordion-header" id="headingFlush2">
                        <button class="accordion-button collapsed" data-ui-toggle="collapse" data-ui-target="#collapseFlush2" type="button" aria-expanded="false" aria-controls="collapseFlush2">
                            Accordion Item 2
                        </button>
                    </h2>
                    <div class="accordion-collapse collapse" id="collapseFlush2" data-ui-parent="#accordionFlush" aria-labelledby="headingFlush2">
                        <div class="accordion-body">
                            <strong>This is the body of the accordion.</strong>
                        </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <h2 class="accordion-header" id="headingFlush3">
                        <button class="accordion-button collapsed" data-ui-toggle="collapse" data-ui-target="#collapseFlush3" type="button" aria-expanded="false" aria-controls="collapseFlush3">
                            Accordion Item 3
                        </button>
                    </h2>
                    <div class="accordion-collapse collapse" id="collapseFlush3" data-ui-parent="#accordionFlush" aria-labelledby="headingFlush3">
                        <div class="accordion-body">
                            <strong>This is the body of the accordion.</strong>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <h4>Always Open</h4>
        <div class="mb-4">
            <div class="accordion">
                <div class="accordion-item">
                    <h2 class="accordion-header" id="headingAlwaysOpen1">
                        <button class="accordion-button" data-ui-toggle="collapse" data-ui-target="#collapseAlwaysOpenOne" type="button" aria-expanded="true" aria-controls="collapseAlwaysOpenOne">
                            Accordion Item 1
                        </button>
                    </h2>
                    <div class="accordion-collapse collapse show" id="collapseAlwaysOpenOne" aria-labelledby="headingAlwaysOpen1">
                        <div class="accordion-body">
                            <strong>This is the body of the accordion.</strong>
                        </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <h2 class="accordion-header" id="headingAlwaysOpen2">
                        <button class="accordion-button collapsed" data-ui-toggle="collapse" data-ui-target="#collapseAlwaysOpen2" type="button" aria-expanded="false" aria-controls="collapseAlwaysOpen2">
                            Accordion Item 2
                        </button>
                    </h2>
                    <div class="accordion-collapse collapse" id="collapseAlwaysOpen2" aria-labelledby="headingAlwaysOpen2">
                        <div class="accordion-body">
                            <strong>This is the body of the accordion.</strong>
                        </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <h2 class="accordion-header" id="headingAlwaysOpen3">
                        <button class="accordion-button collapsed" data-ui-toggle="collapse" data-ui-target="#collapseAlwaysOpen3" type="button" aria-expanded="false" aria-controls="collapseAlwaysOpen3">
                            Accordion Item 3
                        </button>
                    </h2>
                    <div class="accordion-collapse collapse" id="collapseAlwaysOpen3" aria-labelledby="headingAlwaysOpen3">
                        <div class="accordion-body">
                            <strong>This is the body of the accordion.</strong>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>