<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Alerts</title>
    <link rel="stylesheet" href="../../../dist/frost-ui.css" />
    <script src="../../../dist/frost-ui-bundle.js"></script>
</head>

<body>
    <div class="container">
        <h1>Alerts</h1>
        <div class="mb-4">
            <div class="alert alert-primary">
                This is an example primary alert.
            </div>
            <div class="alert alert-secondary">
                This is an example secondary alert.
            </div>
            <div class="alert alert-success">
                This is an example success alert.
            </div>
            <div class="alert alert-info">
                This is an example info alert.
            </div>
            <div class="alert alert-warning">
                This is an example warning alert.
            </div>
            <div class="alert alert-danger">
                This is an example danger alert.
            </div>
            <div class="alert alert-light">
                This is an example light alert.
            </div>
            <div class="alert alert-dark">
                This is an example dark alert.
            </div>
        </div>

        <h4>Links</h4>
        <div class="mb-4">
            <div class="alert alert-primary">
                This is an example primary alert with an <a class="alert-link" href="#">optional link</a>.
            </div>
            <div class="alert alert-secondary">
                This is an example secondary alert with an <a class="alert-link" href="#">optional link</a>.
            </div>
            <div class="alert alert-success">
                This is an example success alert with an <a class="alert-link" href="#">optional link</a>.
            </div>
            <div class="alert alert-info">
                This is an example info alert with an <a class="alert-link" href="#">optional link</a>.
            </div>
            <div class="alert alert-warning">
                This is an example warning alert with an <a class="alert-link" href="#">optional link</a>.
            </div>
            <div class="alert alert-danger">
                This is an example danger alert with an <a class="alert-link" href="#">optional link</a>.
            </div>
            <div class="alert alert-light">
                This is an example light alert with an <a class="alert-link" href="#">optional link</a>.
            </div>
            <div class="alert alert-dark">
                This is an example dark alert with an <a class="alert-link" href="#">optional link</a>.
            </div>
        </div>

        <h4>Content</h4>
        <div class="mb-4">
            <div class="alert alert-primary">
                <h5>Alert</h5>
                <hr />
                This is an example primary alert with an <a class="alert-link" href="#">optional link</a>.
            </div>
        </div>

        <h4>Dismissable</h4>
        <div class="mb-4">
            <div class="alert alert-warning alert-dismissable">
                <button class="btn-close" data-ui-dismiss="alert" type="button" aria-label="Close"></button>
                This is an example warning alert.
            </div>
        </div>
    </div>
</body>

</html>