<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Badges</title>
    <link rel="stylesheet" href="../../../dist/frost-ui.css" />
    <script src="../../../dist/frost-ui-bundle.js"></script>
</head>

<body>
    <div class="container">
        <h1>Badges</h1>
        <div class="mb-4">
            <h1>Heading <span class="badge text-bg-secondary">New</span></h1>
            <h2>Heading <span class="badge text-bg-secondary">New</span></h2>
            <h3>Heading <span class="badge text-bg-secondary">New</span></h3>
            <h4>Heading <span class="badge text-bg-secondary">New</span></h4>
            <h5>Heading <span class="badge text-bg-secondary">New</span></h5>
            <h6>Heading <span class="badge text-bg-secondary">New</span></h6>
        </div>

        <h4>Buttons</h4>
        <div class="mb-4">
            <button class="btn btn-primary ripple" type="button">
                Primary
                <span class="badge text-bg-light">0</span>
            </button>
        </div>

        <h4>Positioned</h4>
        <div class="mb-4">
            <button class="btn btn-primary position-relative" type="button">
                Primary
                <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill text-bg-danger">99+</span>
            </button>
        </div>
        <div class="mb-4">
            <button class="btn btn-primary position-relative" type="button">
                Primary
                <span class="position-absolute top-0 start-100 translate-middle p-2 bg-danger border border-light rounded-circle"></span>
            </button>
        </div>

        <h4>Styles</h4>
        <div class="mb-4">
            <span class="badge text-bg-primary">Primary</span>
            <span class="badge text-bg-secondary">Secondary</span>
            <span class="badge text-bg-success">Success</span>
            <span class="badge text-bg-info">Info</span>
            <span class="badge text-bg-warning">Warning</span>
            <span class="badge text-bg-danger">Danger</span>
            <span class="badge text-bg-light">Light</span>
            <span class="badge text-bg-dark">Dark</span>
        </div>

        <h4>Pills</h4>
        <div class="mb-4">
            <span class="badge text-bg-primary rounded-pill">Primary</span>
            <span class="badge text-bg-secondary rounded-pill">Secondary</span>
            <span class="badge text-bg-success rounded-pill">Success</span>
            <span class="badge text-bg-info rounded-pill">Info</span>
            <span class="badge text-bg-warning rounded-pill">Warning</span>
            <span class="badge text-bg-danger rounded-pill">Danger</span>
            <span class="badge text-bg-light rounded-pill">Light</span>
            <span class="badge text-bg-dark rounded-pill">Dark</span>
        </div>
    </div>
</body>

</html>