<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Clipboard</title>
    <link rel="stylesheet" href="../../../dist/frost-ui.css" />
    <script src="../../../dist/frost-ui-bundle.js"></script>
</head>

<body>
    <div class="container">
        <h1>Clipboard</h1>
        <div class="mb-4">
            <button class="btn btn-secondary ripple" id="copyTextBtn" data-ui-toggle="clipboard" data-ui-text="Copy This Text">
                Copy
            </button>
        </div>
        <h4>Copy Input</h4>
        <div class="mb-4">
            <div class="input-group input-group-filled">
                <div class="form-input">
                    <input class="input-filled" id="copyInput" type="text" value="Copy This Input Text" />
                    <div class="ripple-line"></div>
                </div>
                <button class="btn btn-outline-dark ripple" id="copyInputBtn" data-ui-toggle="clipboard" data-ui-target="#copyInput" type="button">
                    Copy
                </button>
            </div>
        </div>
        <h4>Cut Input</h4>
        <div class="mb-4">
            <div class="input-group input-group-filled">
                <div class="form-input">
                    <input class="input-filled" id="cutInput" type="text" value="Cut This Input Text" />
                    <div class="ripple-line"></div>
                </div>
                <button class="btn btn-outline-dark ripple" id="cutInputBtn" data-ui-toggle="clipboard" data-ui-target="#cutInput" data-ui-action="cut" type="button">
                    Cut
                </button>
            </div>
        </div>
    </div>
    <script>
        $.ready(_ => {
            const copyTextBtn = $.findOne('#copyTextBtn');
            const copyInputBtn = $.findOne('#copyInputBtn');
            const cutInputBtn = $.findOne('#cutInputBtn');
            const copyTextTooltip = new UI.Tooltip(copyTextBtn, {
                trigger: '',
                placement: 'top'
            });
            const copyInputTooltip = new UI.Tooltip(copyInputBtn, {
                trigger: '',
                placement: 'top'
            });
            const cutInputTooltip = new UI.Tooltip(cutInputBtn, {
                trigger: '',
                placement: 'top'
            });
            $.addEvent(copyTextBtn, 'copied.ui.clipboard', e => {
                copyTextTooltip._settings.title = 'Copied to clipboard.';
                copyTextTooltip.show();
                setTimeout(_ => copyTextTooltip.hide(), 5000);
            });
            $.addEvent(copyInputBtn, 'copied.ui.clipboard', _ => {
                copyInputTooltip._settings.title = 'Copied to clipboard.';
                copyInputTooltip.show();
                setTimeout(_ => copyInputTooltip.hide(), 5000);
            });
            $.addEvent(cutInputBtn, 'copied.ui.clipboard', _ => {
                cutInputTooltip._settings.title = 'Cut to clipboard.';
                cutInputTooltip.show();
                setTimeout(_ => cutInputTooltip.hide(), 5000);
            });
        });
    </script>
</body>

</html>