<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Popovers</title>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans|Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../../../dist/frost-ui.css" />
    <script src="../../../dist/frost-ui-bundle.js"></script>
</head>

<body>
    <div class="container">
        <h1>Popovers</h1>
        <div class="mb-4">
            <button class="btn btn-secondary ripple" data-ui-toggle="popover" data-ui-title="Popover" data-ui-content="This is the popover content. It can include additional text." type="button">Popover</button>
        </div>

        <h4>HTML</h4>
        <div class="mb-4">
            <button class="btn btn-secondary ripple" data-ui-toggle="popover" data-ui-html="true" data-ui-content="This is the popover content. <strong>How cool!</strong>" type="button">Popover</button>
        </div>

        <h4>Placement</h4>
        <div class="mb-4">
            <button class="btn btn-secondary ripple mb-1" data-ui-toggle="popover" data-ui-content="This is the popover content." data-ui-placement="top" data-ui-fixed="true" type="button">Top</button>
            <button class="btn btn-secondary ripple mb-1" data-ui-toggle="popover" data-ui-content="This is the popover content." data-ui-placement="right" data-ui-fixed="true" type="button">Right</button>
            <button class="btn btn-secondary ripple mb-1" data-ui-toggle="popover" data-ui-content="This is the popover content." data-ui-placement="bottom" data-ui-fixed="true" type="button">Bottom</button>
            <button class="btn btn-secondary ripple mb-1" data-ui-toggle="popover" data-ui-content="This is the popover content." data-ui-placement="left" data-ui-fixed="true" type="button">Left</button>
        </div>

        <h4>Position</h4>
        <div class="mb-4">
            <button class="btn btn-secondary ripple mb-1" data-ui-toggle="popover" data-ui-content="This is the popover content." data-ui-placement="bottom" data-ui-position="start" type="button">Start</button>
            <button class="btn btn-secondary ripple mb-1" data-ui-toggle="popover" data-ui-content="This is the popover content." data-ui-placement="bottom" data-ui-position="center" type="button">Center</button>
            <button class="btn btn-secondary ripple mb-1" data-ui-toggle="popover" data-ui-content="This is the popover content." data-ui-placement="bottom" data-ui-position="end" type="button">End</button>
        </div>

        <h4>Dismiss</h4>
        <div class="mb-4">
            <button class="btn btn-secondary ripple" data-ui-toggle="popover" data-ui-title="Popover" data-ui-content="This is the popover content." data-ui-trigger="focus" type="button">Popover</button>
        </div>

        <h4>Disabled</h4>
        <div class="mb-4">
            <span class="d-inline-block outline-0" data-ui-toggle="popover" data-ui-title="Popover" data-ui-content="This is the popover content." data-ui-trigger="hover focus" tabindex="0">
                <button class="btn btn-secondary ripple" type="button" disabled>Popover</button>
            </span>
        </div>
    </div>
    <script>
        const nodes = $.find('[data-ui-toggle="popover"]');
        for (const node of nodes) {
            UI.Popover.init(node);
        }
    </script>
</body>

</html>