<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Toasts</title>
    <link rel="stylesheet" href="../../../dist/frost-ui.css" />
    <script src="../../../dist/frost-ui-bundle.js"></script>
</head>

<body>
    <div class="container">
        <h1>Toasts</h1>
        <div class="mb-4">
            <div class="toast show" data-ui-toggle="toast" role="alert" aria-live="assertive" aria-atomic="true">
                <div class="toast-header">
                    <svg class="rounded me-2" width="20" height="20" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false">
                        <rect width="100%" height="100%" fill="#2b55d4"></rect>
                    </svg>
                    <strong class="me-auto">Toast</strong>
                    <small>Just now</small>
                    <button class="btn-close" data-ui-dismiss="toast" type="button" aria-label="Close"></button>
                </div>
                <div class="toast-body">
                    This is the toast content.
                </div>
            </div>
        </div>

        <h4>Live</h4>
        <div class="mb-4">
            <button class="btn btn-primary ripple" id="showToast" type="button">Show Toast</button>
        </div>
        <div class="position-fixed bottom-0 end-0 p-3" style="z-index: 5">
            <div class="toast" id="toast" data-ui-toggle="toast" role="alert" style="display: none !important;" aria-live="assertive" aria-atomic="true">
                <div class="toast-header">
                    <svg class="rounded me-2" width="20" height="20" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false">
                        <rect width="100%" height="100%" fill="#2b55d4"></rect>
                    </svg>
                    <strong class="me-auto">Toast</strong>
                    <small>Just now</small>
                    <button class="btn-close" data-ui-dismiss="toast" type="button" aria-label="Close"></button>
                </div>
                <div class="toast-body">
                    This is the toast content.
                </div>
            </div>
        </div>

        <h4>Translucent</h4>
        <div class="mb-4">
            <div class="bg-dark p-3">
                <div class="toast show" data-ui-toggle="toast" role="alert" aria-live="assertive" aria-atomic="true">
                    <div class="toast-header">
                        <svg class="rounded me-2" width="20" height="20" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false">
                            <rect width="100%" height="100%" fill="#2b55d4"></rect>
                        </svg>
                        <strong class="me-auto">Toast</strong>
                        <small>Just now</small>
                        <button class="btn-close" data-ui-dismiss="toast" type="button" aria-label="Close"></button>
                    </div>
                    <div class="toast-body">
                        This is the toast content.
                    </div>
                </div>
            </div>
        </div>

        <h4>Stacking</h4>
        <div class="mb-4">
            <div class="toast-container">
                <div class="toast show" data-ui-toggle="toast" role="alert" aria-live="assertive" aria-atomic="true">
                    <div class="toast-header">
                        <svg class="rounded me-2" width="20" height="20" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false">
                            <rect width="100%" height="100%" fill="#2b55d4"></rect>
                        </svg>
                        <strong class="me-auto">Toast</strong>
                        <small>Just now</small>
                        <button class="btn-close" data-ui-dismiss="toast" type="button" aria-label="Close"></button>
                    </div>
                    <div class="toast-body">
                        This is the toast content.
                    </div>
                </div>
                <div class="toast show" data-ui-toggle="toast" role="alert" aria-live="assertive" aria-atomic="true">
                    <div class="toast-header">
                        <svg class="rounded me-2" width="20" height="20" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false">
                            <rect width="100%" height="100%" fill="#2b55d4"></rect>
                        </svg>
                        <strong class="me-auto">Toast</strong>
                        <small>Just now</small>
                        <button class="btn-close" data-ui-dismiss="toast" type="button" aria-label="Close"></button>
                    </div>
                    <div class="toast-body">
                        This is the toast content.
                    </div>
                </div>
            </div>
        </div>

        <h4>Content</h4>
        <div class="mb-4">
            <div class="toast show" data-ui-toggle="toast" role="alert" aria-live="assertive" aria-atomic="true">
                <div class="toast-body">
                    This is the toast content.
                </div>
            </div>
        </div>
        <div class="mb-4">
            <div class="toast show" data-ui-toggle="toast" role="alert" aria-live="assertive" aria-atomic="true">
                <div class="toast-body">
                    This is the toast content.
                    <div class="mt-2 pt-2 border-top">
                        <button class="btn btn-primary btn-sm" type="button">Action</button>
                        <button class="btn btn-secondary btn-sm" type="button" data-ui-dismiss="toast">Close</button>
                    </div>
                </div>
            </div>
        </div>

        <h4>Styles</h4>
        <div class="mb-4">
            <div class="toast d-flex align-items-center text-bg-primary border-0 show" data-ui-toggle="toast" role="alert" aria-live="assertive" aria-atomic="true">
                <div class="toast-body">
                    This is the toast content.
                </div>
                <button type="button" class="btn-close ms-auto me-2" data-ui-dismiss="toast" aria-label="Close"></button>
            </div>
        </div>
    </div>

    <script>
        $.addEvent('#showToast', 'click', e => {
            const toast = $.findOne('#toast');
            UI.Toast.init(toast).show();
        });
    </script>
</body>

</html>