.text-color(@background) {
    @luma: unit(luma(@background));
    @result: if((@luma < 55), @white, @black);
    color: @result;
}

.text-size(@size, @important: 0) {
    @ratio: (@size / .5) - 2;
    @minSize: (@ratio * .1rem) + 1.25rem;
    @maxSize: @size * 1rem;
    @offset: @ratio * .33vw;
    @suffix: if(@important = 1, ~' !important', ~'');
    @fontSize: if((@size < 1.5), @maxSize, clamp(@minSize, calc(@minSize + @offset), @maxSize));
    font-size: @fontSize@suffix;
}

.reset-text() {
    font-family: @font-family;
    font-style: normal;
    font-weight: @font-weight;
    line-height: @line-height;
    text-align: left;
    text-decoration: none;
    text-shadow: none;
    text-transform: none;
    letter-spacing: normal;
    word-break: normal;
    word-spacing: normal;
    white-space: normal;
    line-break: auto;
    font-size: @font-size-sm;
}