@import "utility/alignment.less";
@import "utility/border.less";
@import "utility/closeicon.less";
@import "utility/color.less";
@import "utility/column.less";
@import "utility/container.less";
@import "utility/display.less";
@import "utility/embed.less";
@import "utility/flex.less";
@import "utility/float.less";
@import "utility/icons.less";
@import "utility/position.less";
@import "utility/screenreader.less";
@import "utility/shadows.less";
@import "utility/sizing.less";
@import "utility/spacing.less";
@import "utility/text.less";

.mix-color(white);
.mix-color(black);

.mix-color(primary);
.mix-color(secondary);
.mix-color(success);
.mix-color(info);
.mix-color(warning);
.mix-color(danger);
.mix-color(light);
.mix-color(dark);

.mix-cols(@grid-size);
.mix-display();
.mix-flex();
.mix-float();

.create-sizing(4);
.create-spacing(5);

@media (min-width: @break-xs) {
    .mix-display(-xs);
    .mix-float(-xs-);
    .mix-cols(@grid-size, -xs-);
    .mix-flex(-xs-);

    .container {
        max-width: 540px;
    }
}

@media (min-width: @break-sm) {
    .mix-display(-sm);
    .mix-float(-sm-);
    .mix-cols(@grid-size, -sm-);
    .mix-flex(-sm-);

    .container {
        max-width: 768px;
    }
}

@media (min-width: @break-md) {
    .mix-display(-md);
    .mix-float(-md-);
    .mix-cols(@grid-size, -md-);
    .mix-flex(-md-);

    .container {
        max-width: 960px;
    }
}

@media (min-width: @break-lg) {
    .mix-display(-lg);
    .mix-float(-lg-);
    .mix-cols(@grid-size, -lg-);
    .mix-flex(-lg-);

    .container {
        max-width: 1140px;
    }
}

@media only print {
    .mix-display(-print-);
}