.mix-color-links(@name) {
    @color: @@name;

    .link-@{name} {
        color: @color;
    }

    .link-@{name}:hover,
    .link-@{name}:active {
        color: shade(@color, @text-dark);
    }

    .link-@{name}:focus {
        color: tint(@color, @text-light);
    }
}

.mix-color-links(white);
.mix-color-links(black);

.mix-color-links(primary);
.mix-color-links(secondary);
.mix-color-links(success);
.mix-color-links(info);
.mix-color-links(warning);
.mix-color-links(danger);
.mix-color-links(light);
.mix-color-links(dark);