.mix-sticky-top(@b: -) {
    .sticky@{b}top {
        position: sticky;
        top: 0;
        z-index: @z-sticky;
    }
}

.fixed-top {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: @z-fixed;
}

.fixed-bottom {
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: @z-fixed;
}

.mix-sticky-top();

@media (min-width: @break-xs) {
    .mix-sticky-top(-sm-);
}

@media (min-width: @break-sm) {
    .mix-sticky-top(-md-);
}

@media (min-width: @break-md) {
    .mix-sticky-top(-lg-);
}

@media (min-width: @break-lg) {
    .mix-sticky-top(-xl-);
}

@media (min-width: @break-xl) {
    .mix-sticky-top(-xxl-);
}