

.blockquote {
    margin-bottom: @spacing;
    font-size: 1.25rem;
}

.blockquote-footer {
    display: block;
    margin-top: -@spacing;
    font-size: 80%;
    color: #6c757d;

    &::before {
        content: "\2014 \00A0";
    }
}

.h1 {
    &:extend(h1);
}

.h2 {
    &:extend(h2);
}

.h3 {
    &:extend(h3);
}

.h4 {
    &:extend(h4);
}

.h5 {
    &:extend(h5);
}

.h6 {
    &:extend(h6);
}

.heading-1,
.heading-2,
.heading-3,
.heading-4 {
    font-weight: @font-weight-light;
    line-height: 1.2;
}

.heading-1 {
    font-size: 5rem;
}

.heading-2 {
    font-size: 4.5rem;
}

.heading-3 {
    font-size: 3.5rem;
}

.heading-4 {
    font-size: 2.5rem;
}

.lead {
    font-size: 1.25rem;
}

.list-inline {
    margin-left: 0;
    list-style: none;
}

.list-inline-item {
    display: inline-block;
}

.list-inline-item:not(:last-child) {
    margin-right: @spacing / 2;
}

.list-unstyled {
    margin-left: 0;
    list-style: none;
}