.blockquote {
    margin-bottom: @spacing;
    font-size: 1.25rem;
}

.blockquote-footer {
    display: block;
    font-size: 80%;
    color: #6c757d;

    &::before {
        content: "\2014 \00A0";
    }
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
    font-weight: @font-weight;
}

.h1 {
    font-size: 3em;
}

.h2 {
    font-size: 2.5em;
}

.h3 {
    font-size: 2em;
}

.h4 {
    font-size: 1.5em;
}

.h5 {
    font-size: 1.25em;
}

.h6 {
    font-size: 1em;
}

.heading-1 {
    font-size: 5rem;
    font-weight: 300;
    line-height: 1.2;
}

.heading-2 {
    font-size: 4.5rem;
    font-weight: 300;
    line-height: 1.2;
}

.heading-3 {
    font-size: 3.5rem;
    font-weight: 300;
    line-height: 1.2;
}

.heading-4 {
    font-size: 2.5rem;
    font-weight: 300;
    line-height: 1.2;
}

.lead {
    font-size: 1.25rem;
    font-weight: 300;
}

.list-inline {
    padding-left: 0;
    list-style: none;
}

.list-inline-item {
    display: inline-block;
}

.list-inline-item:not(:last-child) {
    margin-right: @spacing / 2;
}

.list-unstyled {
    padding-left: 0;
    list-style: none;
}