.custom-control {
    position: relative;
    display: block;
    min-height: @spacing * 1.5;
    padding-left: @spacing * 1.5;
}

.custom-control-input {
    position: absolute;
    z-index: -1;
    opacity: 0;

    &:disabled {
        & ~ .form-check-label {
            opacity: @disabled-opacity;
        }

        & ~ .custom-control-label {
            opacity: @disabled-opacity;
            cursor: not-allowed;

            &::before {
                opacity: @disabled-opacity;
            }
        }
    }

    &:checked ~ .custom-control-label::before {
        color: @white;
        border-color: @primary;
        background-color: @primary;
    }

    &:focus,
    &:active {
        &:not(:disabled) ~ .custom-control-label::before {
            box-shadow: @shadow-sm;
        }
    }

}

.form-check-label {
    margin-bottom: 0;
}

.custom-control-label {
    position: relative;
    margin-bottom: 0;
    vertical-align: top;

    &::before {
        position: absolute;
        top: @quarter-spacing;
        left: -@spacing * 1.5;
        display: block;
        width: @spacing;
        height: @spacing;
        pointer-events: none;
        content: "";
        background-color: @light;
        border: @border-size @border-style @border-color;
        transition: @transition-time @transition-type;
    }

    &::after {
        position: absolute;
        top: 0;
        left: -@spacing * 1.5;
        width: @spacing;
        height: @spacing;
        content: "";
        text-align: center;
        line-height: 1.5;
        font-size: .9rem;
        font-weight: @font-weight-bolder;
        color: @white;
        transition: @transition-time @transition-type;
    }
}

.custom-checkbox {
    & .custom-control-label::before {
        border-radius: @quarter-spacing;
    }

    & .custom-control-input:checked ~ .custom-control-label::after {
        margin-top: @border-size;
        content: @check-tick;
    }
}

.custom-radio {
    & .custom-control-label::before {
        border-radius: 50%;
    }

    & .custom-control-input:checked ~ .custom-control-label::after {
        content: @radio-dot;
    }
}

.custom-switch {
    padding-left: @spacing * 2.5;

    & .custom-control-label::before {
        left: -@spacing * 2.5;
        width: @double-spacing;
        pointer-events: all;
        border-radius: @half-spacing;
    }

    & .custom-control-input:checked ~ .custom-control-label::before {
        color: @white;
        border-color: @primary;
        background-color: @primary;
    }

    & .custom-control-input:checked ~ .custom-control-label::after {
        background-color: @white;
        transform: translateX(@spacing * .75);
    }

    & .custom-control-label::after {
        top: @quarter-spacing;
        left: -@spacing * 2.5;
        width: calc(@spacing - 4px);
        height: calc(@spacing - 4px);
        background-color: @secondary;
        border-radius: @half-spacing;
        margin-top: 2px;
        margin-left: 4px;
    }
}