.form-text {
    margin-top: @spacing / 4;
    font-size: .875em;
    color: @secondary;
}

.form-plain-text {
    display: block;
    width: 100%;
    padding: (@spacing / 2) 0;
    margin-bottom: 0;
    line-height: @line-height;
    color: @text;
    background-color: transparent;
    border: solid transparent;
    border-width: @border-size 0;
}