.mix-form-extra(@n, @b: -) {
    .mix-form-extra-grid(@n, @b);

    .col@{b}auto {
        .form-row > & {
            &:extend(.form-row > .col);
        }
    }
}

.mix-form-extra-grid(@n, @b: -, @i: 1) when (@i =< @n) {
    .col@{b}@{i} {
        .form-row > & {
            &:extend(.form-row > .col);
        }
    }

    .mix-form-extra-grid(@n, @b, (@i + 1));
}

.form-group {
    position: relative;
    margin-bottom: @spacing;
}

.form-row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -@form-gutter;
    margin-left: -@form-gutter;

    & > .col {
        padding-left: @form-gutter;
        padding-right: @form-gutter;
    }
}

.form-inline {
    display: flex;
    flex-flow: row wrap;
    align-items: center;

    .form-check {
        width: 100%;
    }
}

.form-text {
    display: block;
    margin-top: @quarter-spacing;
}

@media (min-width: @break-xs) {
    .form-inline {
        .form-group {
            display: flex;
            flex: 0 0 auto;
            flex-flow: row wrap;
            align-items: center;
            margin-bottom: 0;
        }

        & label {
            display: flex;
            align-items: center;
            justify-content: center;
            margin-bottom: 0;
        }
    
        & .form-control {
            display: inline-block;
            width: auto;
            vertical-align: middle;
        }
    
        & .input-group {
            width: auto;
        }
    
        & .form-check {
            display: flex;
            align-items: center;
            justify-content: center;
            width: auto;
            padding-left: 0;
        }

        & .form-check-input {
            position: relative;
            flex-shrink: 0;
            margin-top: 0;
            margin-right: @quarter-spacing;
            margin-left: 0;
        }
    
        & .custom-control {
            align-items: center;
            justify-content: center;
        }
    }
}

.mix-form-extra(@grid-size);
.mix-form-extra(@grid-size, -sm-);
.mix-form-extra(@grid-size, -md-);
.mix-form-extra(@grid-size, -lg-);
.mix-form-extra(@grid-size, -xl-);