.form-control {
    border: @border-size @border-style @border-color;
    border-radius: @border-radius;
    background-color: @white;

    &:not(:disabled) {
        &:focus,
        &:active {
            box-shadow: @shadow-xs;
        }
    }
}

.form-minimal {
    border: 0;
    border-bottom: @border-size @border-style @border-color;
    background-color: @form-minimal;
}

.form-plain-text {
    display: block;
    width: 100%;
    padding: @half-spacing 0;
    margin-bottom: 0;
    line-height: @line-height;
    color: @text;
    background-color: transparent;
    border: solid transparent;
    border-width: @border-size 0;
}

.form-control, .form-minimal {
    display: block;
    width: 100%;
    padding: @half-spacing;
    font-size: 1rem;
    line-height: @line-height;

    &::placeholder {
        color: @form-placeholder;
    }

    &:hover {
        border-color: tint(lighten(@primary, 5%), 50%);
        z-index: @z-hover;
    }

    &:active {
        z-index: @z-active;
    }

    &:focus {
        outline: 0;
        border-color: @primary;
        z-index: @z-focus;
    }

    &:not([type=file]) {
        &:disabled,
        &[readonly] {
            background-color: @form-disabled;
        }
    }

    &:disabled {
        cursor: not-allowed;
    }
}

.form-control-lg,
.form-minimal-lg {
    padding: @half-spacing @spacing;
    font-size: 1.25rem;
}

.form-control-sm,
.form-minimal-sm {
    padding: @quarter-spacing @half-spacing;
    font-size: .875rem;
}

.form-check {
    position: relative;
    display: block;
    padding-left: @spacing * 1.25;
}

.form-check-input {
    position: absolute;
    margin-top: @third-spacing;
    margin-left: -@spacing * 1.25;

    &:disabled {
        cursor: not-allowed;

        & ~ .form-check-label {
            opacity: @disabled-opacity;
            cursor: not-allowed;
        }
    }
}

.form-check-inline .form-check-input {
    position: static;
    margin-top: 0;
    margin-right: @third-spacing;
    margin-left: 0;
}

select.form-control[multiple] {
    padding: 0;

    & option {
        padding: @half-spacing;
    }
}

.form-control[type="file"] {
    border: 0;
    padding-left: 0;

    &:focus,
    &:active {
        box-shadow: none;
    }
}