.input-group {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    width: 100%;
    border-radius: @border-radius;

    > .form-input,
    > .input-filled,
    > .input-outline {
        position: relative;
        flex: 1 1 auto;
        width: 1%;
        min-width: 0;
    }

    > .btn {
        position: relative;
        z-index: 2;
    }

    > .form-input > .input-outline:focus,
    > .input-outline:focus,
    > .btn:focus {
        z-index: 3;
    }

    > .btn,
    > .form-input,
    > .input-filled,
    > .input-outline,
    > .input-group-text,
    > .form-input > .input-filled,
    > .form-input > .input-outline {
        border-radius: inherit;

        &:not(:last-child) {
            border-top-right-radius: 0;
            border-bottom-right-radius: 0;
        }

        &:not(:first-child) {
            margin-left: -@border-size;
            border-top-left-radius: 0;
            border-bottom-left-radius: 0;
        }
    }
}

.input-group-filled {
    border-radius: 0;

    > .input-group-text {
        border: 0;
        border-bottom: @border-size @border-style @dark;
    }
}

.input-group-sm {

    &:not(.input-group-filled) {
        border-radius: @border-radius * .75;
    }

    .btn,
    .input-filled,
    .input-outline,
    .input-group-text  {
        padding: (@spacing / 4) (@spacing / 2);
        font-size: .875rem;
    }
}

.input-group-lg {

    &:not(.input-group-filled) {
        border-radius: @border-radius * 1.25;
    }

    .btn,
    .input-filled,
    .input-outline,
    .input-group-text {
        font-size: 1.25rem;
    }
}

.input-group-text {
    display: flex;
    align-items: center;
    padding: @spacing / 2;
    font-size: 1rem;
    font-weight: @font-weight;
    line-height: @line-height;
    text-align: center;
    white-space: nowrap;
    color: @dark;
    background-color: @light;
    border: @border-size @border-style @border-color;
}