.form-input {
    position: relative;
    width: 100%;
}

.input-filled,
.input-outline {
    display: block;
    width: 100%;
    min-height: calc(1rem + @spacing + (@border-size * 2));
    padding: @spacing / 2;
    font-size: 1rem;
    line-height: @line-height;

    &::placeholder {
        color: @form-placeholder;
    }

    &:hover,
    &:focus,
    &:active,
    &.active {
        z-index: 1;
    }

    &:focus {
        outline: 0;
    }

    &:disabled,
    &.disabled {
        pointer-events: none;
        background-color: @form-disabled;

        &::placeholder {
            color: @form-disabled-placeholder;
        }
    }

    &[readonly] {

        &,
        &::placeholder {
            color: @form-disabled-placeholder;
        }
    }

    select& {

        &:not([multiple]) {
            background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%23343a40' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M2 5l6 6 6-6'/%3e%3c/svg%3e");
            background-repeat: no-repeat;
            background-position: right (@spacing / 2) center;
            background-size: 16px 12px;
            appearance: none;
        }

        &[multiple] {
            padding: 0;
    
            option {
                padding: @spacing / 2;
            }
        }
    }
}

.input-filled {
    border: 0;
    border-bottom: @border-size @border-style @dark;
    background-color: @light;

    &:hover {
        background-color: shade(@light, 5%);
    }

    &:focus {
        background-color: shade(@light, 10%);
    }
}

.input-outline {
    border: @border-size @border-style @border-color;
    border-radius: @border-radius;
    background-color: @white;

    &:hover {
        border-color: @dark;
    }

    &:focus {
        border-color: @primary;
        box-shadow: 0 0 0 @border-size @primary;
    }
}

.input-sm {
    padding: (@spacing / 4) (@spacing / 2);
    font-size: @font-size-sm;

    select&[multiple] option {
        padding: (@spacing / 2) @spacing;
    }
}

.input-lg {
    font-size: @font-size-lg;

    select&[multiple] option {
        padding: (@spacing / 4) (@spacing / 2);
    }
}

.ripple-line {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: @border-size * 2;
    transform: scaleX(0);
    opacity: 0;
    z-index: 2;
    background-color: @primary;
    transition: all @transition-time @transition-type;
    transition-property: transform, opacity;

    .input-filled:focus ~ & {
        transform: scaleX(1);
        opacity: 1;
    }
}