.input-group {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    width: 100%;
    border-radius: @border-radius;

    & .form-control {
        position: relative;
        flex: 1 1 auto;
        width: 1%;
        border-radius: 0;
    }

    & .btn,
    .input-group-text {
        display: flex;
        align-items: center;
        z-index: 1;
    }

    & .btn {
        padding: (@spacing / 2) @spacing;
        margin: 0;
        border-radius: 0;
    }

    & > :first-child {
        border-top-left-radius: inherit;
        border-bottom-left-radius: inherit;

        & > :first-child {
            border-top-left-radius: inherit;
            border-bottom-left-radius: inherit;
        }
    }

    & > :last-child {
        border-top-right-radius: inherit;
        border-bottom-right-radius: inherit;

        & > :last-child:not(.dropdown-menu),
        .dropdown-toggle {
            border-top-right-radius: inherit;
            border-bottom-right-radius: inherit;
        }
    }
}

.input-group-prepend,
.input-group-append {
    display: flex;
}

.input-group-prepend {
    margin-right: -@border-size;
}

.input-group-append {
    margin-left: -@border-size;
}

.input-group-text {
    padding: @spacing / 2;
    text-align: center;
    white-space: nowrap;
    font-size: 1rem;
    font-weight: @font-weight;
    line-height: @line-height;
    color: @dark;
    background-color: @light;
    border: @border-size @border-style @border-color;
}

.input-group-sm {
    border-radius: @border-radius * .75;

    & > .form-control,
    & > .input-group-append > .btn,
    & > .input-group-append > .input-group-text,
    & > .input-group-prepend > .btn,
    & > .input-group-prepend > .input-group-text {
        padding: (@spacing / 4) (@spacing / 2);
        font-size: .875rem;
        line-height: @line-height;
    }
}

.input-group-lg {
    border-radius: (@border-radius * 1.25);

    & > .form-control,
    & > .input-group-append > .btn,
    & > .input-group-append > .input-group-text,
    & > .input-group-prepend > .btn,
    & > .input-group-prepend > .input-group-text {
        padding: (@spacing / 2) @spacing;
        font-size: 1.25rem;
        line-height: @line-height;
    }
}