.col-form-label {
    padding-top: calc(@half-spacing + @border-size);
    padding-bottom: calc(@half-spacing + @border-size);
    margin-bottom: 0;
    font-size: inherit;
    line-height: @line-height;
}

.col-form-label-sm {
    padding-top: calc(@quarter-spacing + @border-size);
    padding-bottom: calc(@quarter-spacing + @border-size);
    font-size: .875rem;
    line-height: @line-height;
}

.col-form-label-lg {
    padding-top: calc(@half-spacing + @border-size);
    padding-bottom: calc(@half-spacing + @border-size);
    font-size: 1.25rem;
    line-height: @line-height;
}