.col-form-label {
    padding-top: calc((@spacing / 2) + @border-size);
    padding-bottom: calc((@spacing / 2) + @border-size);
    margin-bottom: 0;
    font-size: inherit;
    line-height: @line-height;
}

.col-form-label-sm {
    padding-top: calc((@spacing / 4) + @border-size);
    padding-bottom: calc((@spacing / 4) + @border-size);
    font-size: .875rem;
    line-height: @line-height;
}

.col-form-label-lg {
    padding-top: calc((@spacing / 2) + @border-size);
    padding-bottom: calc((@spacing / 2) + @border-size);
    font-size: 1.25rem;
    line-height: @line-height;
}