.col-label {
    padding-top: calc((@spacing / 2) + @border-size);
    padding-bottom: calc((@spacing / 2) + @border-size);
    margin-bottom: 0;
    font-size: inherit;
    line-height: @line-height;
}

.col-label-sm {
    padding-top: calc((@spacing / 4) + @border-size);
    padding-bottom: calc((@spacing / 4) + @border-size);
    font-size: @font-size-sm;
}

.col-label-lg {
    padding-top: calc((@spacing / 2) + @border-size);
    padding-bottom: calc((@spacing / 2) + @border-size);
    font-size: @font-size-lg;
}

.label-floating {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    margin-bottom: 0;
    padding: (@spacing * .75) (@spacing / 2);
    font-size: @font-size-md;
    line-height: @line-height;
    color: @form-placeholder;
    pointer-events: none;
    cursor: text;
    border-radius: @border-radius;
    transition: all @transition-time @transition-type;
    transition-property: padding, font-size, color;
}

.input-floating {

    &,
    .input-group & {
        padding-top: @spacing * .75;
        padding-bottom: @spacing * .75;
    }

    &::placeholder {
        color: transparent;
    }

    &.input-sm,
    .input-group-sm & {

        ~ .label-floating {
            font-size: @font-size-sm;
        }

    }

    &.input-lg,
    .input-group-lg & {

        ~ .label-floating {
            font-size: @font-size-lg;
        }
    }

    &.input-filled ~ .label-floating {
        border-bottom: @border-size @border-style transparent;
    }

    &.input-outline ~ .label-floating {
        border: @border-size @border-style transparent;
    }

    &:focus,
    &.focus,
    &:not(:placeholder-shown) {
        padding-top: (@spacing * 1.25);
        padding-bottom: @spacing / 4;

        ~ .label-floating {
            padding-top: @spacing / 4;
            font-size: @font-size-floating;
            color: @secondary;
        }
    }
}