.form-success {

    .input-filled {

        &:hover {
            background-color: tint(@form-success, @form-lighter);
        }

        &:focus,
        &.focus {
            background-color: tint(@form-success, @form-light);
        }
    }

    .input-filled,
    .input-group-filled .input-group-text {
        background-color: tint(@form-success, @form-lightest);
    }

    .input-filled,
    .input-outline,
    .input-check,
    .input-group-filled .input-group-text  {
        border-color: @form-success;
    }

    .input-check {

        &:checked {
            background-color: @form-success;
            border-color: @form-success;

            &:focus,
            &.focus {
                background-color: tint(@form-success, @bg-light);
            }
        }
    
        ~ .form-check-label {
            color: @form-success;
        }
    }
}

.form-error {

    .input-filled {

        &:hover {
            background-color: tint(@form-error, @form-lighter);
        }

        &:focus,
        &.focus {
            background-color: tint(@form-error, @form-light);
        }
    }

    .input-filled,
    .input-group-filled .input-group-text {
        background-color: tint(@form-error, @form-lightest);
    }

    .input-filled,
    .input-outline,
    .input-check,
    .input-group-filled .input-group-text  {
        border-color: @form-error;
    }

    .input-check {

        &:checked {
            background-color: @form-error;
            border-color: @form-error;

            &:focus,
            &.focus {
                background-color: tint(@form-error, @bg-light);
            }
        }
    
        ~ .form-check-label {
            color: @form-error;
        }
    }
}

.valid-feedback,
.invalid-feedback {
    display: none;
    width: 100%;
    margin-top: @spacing / 4;
    font-size: 80%;
}

.valid-feedback {
    color: @form-success;
}

.invalid-feedback {
    color: @form-error;
}

.form-success .valid-feedback,
.form-error .invalid-feedback {
    display: block;
}