.form-success {
    & .form-label {
        color: darken(@success, 5%);
    }

    & .input-group-text {
        background-color: @success;
        border-color: darken(@success, 5%);
        color: darken(@success, 25%);
    }
}

.form-success .form-input {
    border-color: darken(@success, 5%);
}

.form-error {
    & .form-label {
        color: darken(@danger, 5%);
    }

    & .input-group-text {
        background-color: @danger;
        border-color: darken(@danger, 5%);
        color: darken(@danger, 25%);
    }
}

.form-error .form-input {
    border-color: darken(@danger, 5%);
}