<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="../../dist/frost-ui.min.css" />
    <script src="../../dist/frost-ui-bundle.js"></script>
</head>

<body>
    <div class="container">
        <h1>Alert</h1>
        <div class="alert alert-primary shadow-sm">
            This is an example primary alert.
        </div>
        <div class="alert alert-secondary shadow-sm">
            This is an example secondary alert.
        </div>
        <div class="alert alert-success shadow-sm">
            This is an example success alert.
        </div>
        <div class="alert alert-info shadow-sm">
            This is an example info alert.
        </div>
        <div class="alert alert-warning shadow-sm">
            This is an example warning alert.
        </div>
        <div class="alert alert-danger shadow-sm">
            This is an example danger alert.
        </div>
        <div class="alert alert-light shadow-sm">
            This is an example light alert.
        </div>
        <div class="alert alert-dark shadow-sm">
            This is an example dark alert.
        </div>
        <h4>Alert Links</h4>
        <div class="alert alert-primary shadow-sm">
            This is an example primary alert with an <a href="#" class="alert-link">optional link</a>.
        </div>
        <div class="alert alert-secondary shadow-sm">
            This is an example secondary alert with an <a href="#" class="alert-link">optional link</a>.
        </div>
        <div class="alert alert-success shadow-sm">
            This is an example success alert with an <a href="#" class="alert-link">optional link</a>.
        </div>
        <div class="alert alert-info shadow-sm">
            This is an example info alert with an <a href="#" class="alert-link">optional link</a>.
        </div>
        <div class="alert alert-warning shadow-sm">
            This is an example warning alert with an <a href="#" class="alert-link">optional link</a>.
        </div>
        <div class="alert alert-danger shadow-sm">
            This is an example danger alert with an <a href="#" class="alert-link">optional link</a>.
        </div>
        <div class="alert alert-light shadow-sm">
            This is an example light alert with an <a href="#" class="alert-link">optional link</a>.
        </div>
        <div class="alert alert-dark shadow-sm">
            This is an example dark alert with an <a href="#" class="alert-link">optional link</a>.
        </div>
        <h4>Alert Content</h4>
        <div class="alert alert-primary shadow-sm">
            <h5>Alert</h5>
            <hr />
            This is an example primary alert with an <a href="#" class="alert-link">optional link</a>.
        </div>
        <h4>Dismissable Alerts</h4>
        <div class="alert alert-warning alert-dismissable shadow-sm">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <small class="icon-cancel" aria-hidden="true"></small>
            </button>
            This is an example danger alert.
        </div>
    </div>
</body>

</html>