<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="../../dist/frost-ui.min.css" />
    <script src="../../../FrostCore/dist/frost-core.js"></script>
    <script src="../../../FrostDOM/dist/frost-dom.js"></script>
    <script src="../../dist/frost-ui.js"></script>
</head>

<body>
    <div class="container">
        <h1>Alert</h1>
        <div class="alert alert-primary shadow-sm">
            <h5>Primary</h5>
            <hr />
            <a href="#" class="alert-link">Link</a>
        </div>
        <div class="alert alert-secondary shadow-sm">
            <h5>Secondary</h5>
            <hr />
            <a href="#" class="alert-link">Link</a>
        </div>
        <div class="alert alert-success shadow-sm">
            <h5>Success</h5>
            <hr />
            <a href="#" class="alert-link">Link</a>
        </div>
        <div class="alert alert-info shadow-sm">
            <h5>Info</h5>
            <hr />
            <a href="#" class="alert-link">Link</a>
        </div>
        <div class="alert alert-warning shadow-sm">
            <h5>Warning</h5>
            <hr />
            <a href="#" class="alert-link">Link</a>
        </div>
        <div class="alert alert-danger shadow-sm">
            <h5>Danger</h5>
            <hr />
            <a href="#" class="alert-link">Link</a>
        </div>
        <div class="alert alert-light shadow-sm">
            <h5>Light</h5>
            <hr />
            <a href="#" class="alert-link">Link</a>
        </div>
        <div class="alert alert-dark shadow-sm">
            <h5>Dark</h5>
            <hr />
            <a href="#" class="alert-link">Link</a>
        </div>
        <h4>Dismissable</h4>
        <div class="alert alert-success shadow-sm">
            <button type="button" class="close" data-dismiss="alert">
                <span class="close-x"></span>
            </button>
            Dismissable Alert
        </div>
    </div>
</body>

</html>