<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Badges</title>
    <link rel="stylesheet" href="../../dist/frost-ui.min.css" />
    <script src="../../dist/frost-ui-bundle.js"></script>
</head>

<body>
    <div class="container">
        <h1>Badges</h1>
        <div class="mb-4">
            <h1>Heading <span class="badge bg-secondary">New</span></h1>
            <h2>Heading <span class="badge bg-secondary">New</span></h2>
            <h3>Heading <span class="badge bg-secondary">New</span></h3>
            <h4>Heading <span class="badge bg-secondary">New</span></h4>
            <h5>Heading <span class="badge bg-secondary">New</span></h5>
            <h6>Heading <span class="badge bg-secondary">New</span></h6>
        </div>

        <h4>Buttons</h4>
        <div class="mb-4">
            <button class="btn btn-primary ripple" type="button">
                Primary
                <span class="badge bg-secondary">0</span>
            </button>
        </div>

        <h4>Colours</h4>
        <div class="mb-4">
            <span class="badge bg-primary">Primary</span>
            <span class="badge bg-secondary">Secondary</span>
            <span class="badge bg-success">Success</span>
            <span class="badge bg-info">Info</span>
            <span class="badge bg-warning text-dark">Warning</span>
            <span class="badge bg-danger">Danger</span>
            <span class="badge bg-light text-dark">Light</span>
            <span class="badge bg-dark">Dark</span>
        </div>

        <h4>Pills</h4>
        <div class="mb-4">
            <span class="badge bg-primary rounded-pill">Primary</span>
            <span class="badge bg-secondary rounded-pill">Secondary</span>
            <span class="badge bg-success rounded-pill">Success</span>
            <span class="badge bg-info rounded-pill">Info</span>
            <span class="badge bg-warning text-dark rounded-pill">Warning</span>
            <span class="badge bg-danger rounded-pill">Danger</span>
            <span class="badge bg-light text-dark rounded-pill">Light</span>
            <span class="badge bg-dark rounded-pill">Dark</span>
        </div>
    </div>
</body>

</html>