<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="../../dist/frost-ui.min.css" />
    <script src="../../dist/frost-ui-bundle.js"></script>
</head>

<body>
    <div class="container">
        <h1>Badges</h1>
        <p>
            <span class="badge badge-primary">Primary</span>
            <span class="badge badge-secondary">Secondary</span>
            <span class="badge badge-success">Success</span>
            <span class="badge badge-info">Info</span>
            <span class="badge badge-warning">Warning</span>
            <span class="badge badge-danger">Danger</span>
            <span class="badge badge-light">Light</span>
            <span class="badge badge-dark">Dark</span>
        </p>
        <p>
            <span class="badge badge-primary disabled" aria-disabled="true" tabindex="-1">Primary</span>
            <span class="badge badge-secondary disabled" aria-disabled="true" tabindex="-1">Secondary</span>
            <span class="badge badge-success disabled" aria-disabled="true" tabindex="-1">Success</span>
            <span class="badge badge-info disabled" aria-disabled="true" tabindex="-1">Info</span>
            <span class="badge badge-warning disabled" aria-disabled="true" tabindex="-1">Warning</span>
            <span class="badge badge-danger disabled" aria-disabled="true" tabindex="-1">Danger</span>
            <span class="badge badge-light disabled" aria-disabled="true" tabindex="-1">Light</span>
            <span class="badge badge-dark disabled" aria-disabled="true" tabindex="-1">Dark</span>
        </p>
        <h4>Pill Badges</h4>
        <p>
            <span class="badge badge-primary badge-pill">Primary</span>
            <span class="badge badge-secondary badge-pill">Secondary</span>
            <span class="badge badge-success badge-pill">Success</span>
            <span class="badge badge-info badge-pill">Info</span>
            <span class="badge badge-warning badge-pill">Warning</span>
            <span class="badge badge-danger badge-pill">Danger</span>
            <span class="badge badge-light badge-pill">Light</span>
            <span class="badge badge-dark badge-pill">Dark</span>
        </p>
        <p>
            <span class="badge badge-primary badge-pill disabled" aria-disabled="true" tabindex="-1">Primary</span>
            <span class="badge badge-secondary badge-pill disabled" aria-disabled="true" tabindex="-1">Secondary</span>
            <span class="badge badge-success badge-pill disabled" aria-disabled="true" tabindex="-1">Success</span>
            <span class="badge badge-info badge-pill disabled" aria-disabled="true" tabindex="-1">Info</span>
            <span class="badge badge-warning badge-pill disabled" aria-disabled="true" tabindex="-1">Warning</span>
            <span class="badge badge-danger badge-pill disabled" aria-disabled="true" tabindex="-1">Danger</span>
            <span class="badge badge-light badge-pill disabled" aria-disabled="true" tabindex="-1">Light</span>
            <span class="badge badge-dark badge-pill disabled" aria-disabled="true" tabindex="-1">Dark</span>
        </p>
        <h4>Button Badges</h4>
        <p>
            <button class="badge ripple badge-primary">Primary</button>
            <button class="badge ripple badge-secondary">Secondary</button>
            <button class="badge ripple badge-success">Success</button>
            <button class="badge ripple badge-info">Info</button>
            <button class="badge ripple badge-warning">Warning</button>
            <button class="badge ripple badge-danger">Danger</button>
            <button class="badge ripple badge-light">Light</button>
            <button class="badge ripple badge-dark">Dark</button>
        </p>
        <p>
            <button class="badge ripple badge-primary disabled" aria-disabled="true" tabindex="-1">Primary</button>
            <button class="badge ripple badge-secondary disabled" aria-disabled="true" tabindex="-1">Secondary</button>
            <button class="badge ripple badge-success disabled" aria-disabled="true" tabindex="-1">Success</button>
            <button class="badge ripple badge-info disabled" aria-disabled="true" tabindex="-1">Info</button>
            <button class="badge ripple badge-warning disabled" aria-disabled="true" tabindex="-1">Warning</button>
            <button class="badge ripple badge-danger disabled" aria-disabled="true" tabindex="-1">Danger</button>
            <button class="badge ripple badge-light disabled" aria-disabled="true" tabindex="-1">Light</button>
            <button class="badge ripple badge-dark disabled" aria-disabled="true" tabindex="-1">Dark</button>
        </p>
        <h4>Button Pill Badges</h4>
        <p>
            <button class="badge ripple badge-primary badge-pill">Primary</button>
            <button class="badge ripple badge-secondary badge-pill">Secondary</button>
            <button class="badge ripple badge-success badge-pill">Success</button>
            <button class="badge ripple badge-info badge-pill">Info</button>
            <button class="badge ripple badge-warning badge-pill">Warning</button>
            <button class="badge ripple badge-danger badge-pill">Danger</button>
            <button class="badge ripple badge-light badge-pill">Light</button>
            <button class="badge ripple badge-dark badge-pill">Dark</button>
        </p>
        <p>
            <button class="badge ripple badge-primary badge-pill disabled" aria-disabled="true"
                tabindex="-1">Primary</button>
            <button class="badge ripple badge-secondary badge-pill disabled" aria-disabled="true"
                tabindex="-1">Secondary</button>
            <button class="badge ripple badge-success badge-pill disabled" aria-disabled="true"
                tabindex="-1">Success</button>
            <button class="badge ripple badge-info badge-pill disabled" aria-disabled="true" tabindex="-1">Info</button>
            <button class="badge ripple badge-warning badge-pill disabled" aria-disabled="true"
                tabindex="-1">Warning</button>
            <button class="badge ripple badge-danger badge-pill disabled" aria-disabled="true"
                tabindex="-1">Danger</button>
            <button class="badge ripple badge-light badge-pill disabled" aria-disabled="true"
                tabindex="-1">Light</button>
            <button class="badge ripple badge-dark badge-pill disabled" aria-disabled="true" tabindex="-1">Dark</button>
        </p>
    </div>
</body>

</html>