<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="../../dist/frost-ui.min.css" />
    <script src="../../../FrostCore/dist/frost-core.js"></script>
    <script src="../../../FrostDOM/dist/frost-dom.js"></script>
    <script src="../../dist/frost-ui.js"></script>
</head>

<body>
    <div class="container">
        <h1>Badges</h1>
        <p>
            <span class="badge badge-primary">Primary</span>
            <span class="badge badge-secondary">Secondary</span>
            <span class="badge badge-success">Success</span>
            <span class="badge badge-info">Info</span>
            <span class="badge badge-warning">Warning</span>
            <span class="badge badge-danger">Danger</span>
            <span class="badge badge-light">Light</span>
            <span class="badge badge-dark">Dark</span>
        </p>
        <p>
            <span class="badge badge-primary disabled">Primary</span>
            <span class="badge badge-secondary disabled">Secondary</span>
            <span class="badge badge-success disabled">Success</span>
            <span class="badge badge-info disabled">Info</span>
            <span class="badge badge-warning disabled">Warning</span>
            <span class="badge badge-danger disabled">Danger</span>
            <span class="badge badge-light disabled">Light</span>
            <span class="badge badge-dark disabled">Dark</span>
        </p>
        <h4>Pill Badges</h4>
        <p>
            <span class="badge badge-primary badge-pill">Primary</span>
            <span class="badge badge-secondary badge-pill">Secondary</span>
            <span class="badge badge-success badge-pill">Success</span>
            <span class="badge badge-info badge-pill">Info</span>
            <span class="badge badge-warning badge-pill">Warning</span>
            <span class="badge badge-danger badge-pill">Danger</span>
            <span class="badge badge-light badge-pill">Light</span>
            <span class="badge badge-dark badge-pill">Dark</span>
        </p>
        <p>
            <span class="badge badge-primary badge-pill disabled">Primary</span>
            <span class="badge badge-secondary badge-pill disabled">Secondary</span>
            <span class="badge badge-success badge-pill disabled">Success</span>
            <span class="badge badge-info badge-pill disabled">Info</span>
            <span class="badge badge-warning badge-pill disabled">Warning</span>
            <span class="badge badge-danger badge-pill disabled">Danger</span>
            <span class="badge badge-light badge-pill disabled">Light</span>
            <span class="badge badge-dark badge-pill disabled">Dark</span>
        </p>
        <h4>Link Badges</h4>
        <p>
            <a href="#" class="badge badge-primary">Primary</a>
            <a href="#" class="badge badge-secondary">Secondary</a>
            <a href="#" class="badge badge-success">Success</a>
            <a href="#" class="badge badge-info">Info</a>
            <a href="#" class="badge badge-warning">Warning</a>
            <a href="#" class="badge badge-danger">Danger</a>
            <a href="#" class="badge badge-light">Light</a>
            <a href="#" class="badge badge-dark">Dark</a>
        </p>
        <p>
            <a href="#" class="badge badge-primary disabled">Primary</a>
            <a href="#" class="badge badge-secondary disabled">Secondary</a>
            <a href="#" class="badge badge-success disabled">Success</a>
            <a href="#" class="badge badge-info disabled">Info</a>
            <a href="#" class="badge badge-warning disabled">Warning</a>
            <a href="#" class="badge badge-danger disabled">Danger</a>
            <a href="#" class="badge badge-light disabled">Light</a>
            <a href="#" class="badge badge-dark disabled">Dark</a>
        </p>
    </div>
</body>

</html>