<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="../../dist/frost-ui.min.css" />
    <script src="../../../FrostCore/dist/frost-core.js"></script>
    <script src="../../../FrostDOM/dist/frost-dom.js"></script>
    <script src="../../dist/frost-ui.js"></script>
</head>

<body>
    <div class="container">
        <h1>Breadcrumbs</h1>
        <ol class="breadcrumb shadow-sm">
            <li class="crumb"><a href="#">Link</a></li>
            <li class="crumb"><a href="#">Link</a></li>
            <li class="crumb active">Active</li>
        </ol>
    </div>
</body>

</html>