<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="../../dist/frost-ui.min.css" />
    <script src="../../../FrostCore/dist/frost-core.js"></script>
    <script src="../../../FrostDOM/dist/frost-dom.js"></script>
    <script src="../../dist/frost-ui.js"></script>
</head>

<body>
    <div class="container">
        <h1>Buttons</h1>
        <div>
            <a href="#" class="btn btn-primary">Primary</a>
            <a href="#" class="btn btn-secondary">Secondary</a>
            <a href="#" class="btn btn-success">Success</a>
            <a href="#" class="btn btn-info">Info</a>
            <a href="#" class="btn btn-warning">Warning</a>
            <a href="#" class="btn btn-danger">Danger</a>
            <a href="#" class="btn btn-light">Light</a>
            <a href="#" class="btn btn-dark">Dark</a>
            <a href="#" class="btn btn-link">Link</a>
        </div>
        <h4>Outline</h4>
        <div>
            <a href="#" class="btn btn-outline-primary">Primary</a>
            <a href="#" class="btn btn-outline-secondary">Secondary</a>
            <a href="#" class="btn btn-outline-success">Success</a>
            <a href="#" class="btn btn-outline-info">Info</a>
            <a href="#" class="btn btn-outline-warning">Warning</a>
            <a href="#" class="btn btn-outline-danger">Danger</a>
            <a href="#" class="btn btn-outline-light">Light</a>
            <a href="#" class="btn btn-outline-dark">Dark</a>
        </div>
        <h4>Large</h4>
        <div>
            <a href="#" class="btn btn-lg btn-primary">Primary</a>
            <a href="#" class="btn btn-lg btn-secondary">Secondary</a>
            <a href="#" class="btn btn-lg btn-success">Success</a>
            <a href="#" class="btn btn-lg btn-info">Info</a>
            <a href="#" class="btn btn-lg btn-warning">Warning</a>
            <a href="#" class="btn btn-lg btn-danger">Danger</a>
            <a href="#" class="btn btn-lg btn-light">Light</a>
            <a href="#" class="btn btn-lg btn-dark">Dark</a>
        </div>
        <h4>Small</h4>
        <div>
            <a href="#" class="btn btn-sm btn-primary">Primary</a>
            <a href="#" class="btn btn-sm btn-secondary">Secondary</a>
            <a href="#" class="btn btn-sm btn-success">Success</a>
            <a href="#" class="btn btn-sm btn-info">Info</a>
            <a href="#" class="btn btn-sm btn-warning">Warning</a>
            <a href="#" class="btn btn-sm btn-danger">Danger</a>
            <a href="#" class="btn btn-sm btn-light">Light</a>
            <a href="#" class="btn btn-sm btn-dark">Dark</a>
        </div>
        <h4>Active</h4>
        <div>
            <a href="#" class="btn btn-primary active">Primary</a>
            <a href="#" class="btn btn-secondary active">Secondary</a>
            <a href="#" class="btn btn-success active">Success</a>
            <a href="#" class="btn btn-info active">Info</a>
            <a href="#" class="btn btn-warning active">Warning</a>
            <a href="#" class="btn btn-danger active">Danger</a>
            <a href="#" class="btn btn-light active">Light</a>
            <a href="#" class="btn btn-dark active">Dark</a>
        </div>
        <h4>Disabled</h4>
        <div>
            <a href="#" class="btn btn-primary disabled">Primary</a>
            <a href="#" class="btn btn-secondary disabled">Secondary</a>
            <a href="#" class="btn btn-success disabled">Success</a>
            <a href="#" class="btn btn-info disabled">Info</a>
            <a href="#" class="btn btn-warning disabled">Warning</a>
            <a href="#" class="btn btn-danger disabled">Danger</a>
            <a href="#" class="btn btn-light disabled">Light</a>
            <a href="#" class="btn btn-dark disabled">Dark</a>
        </div>
        <h4>Groups</h4>
        <div class="btn-group">
            <a href="#" class="btn btn-primary">Button</a>
            <a href="#" class="btn btn-outline-primary">Button</a>
        </div>
        <h4>Dropdown</h4>
        <div class="btn-group">
            <a href="#" class="btn btn-primary">Button</a>
            <a href="#" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" data-reference="parent"></a>
            <div class="dropdown-menu shadow-sm">
                <a href="#" class="dropdown-item">
                    Link
                </a>
                <a href="#" class="dropdown-item">
                    Link
                </a>
                <a href="#" class="dropdown-item">
                    Link
                </a>
            </div>
        </div>
    </div>
</body>

</html>