<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="../../dist/frost-ui.min.css" />
    <script src="../../dist/frost-ui-bundle.js"></script>
    <style>
        .btn-group {
            margin-bottom: .25rem;
        }
    </style>
</head>

<body>
    <div class="container">
        <h1>Button Groups</h1>
        <div class="btn-group mb-1" aria-label="Button Group">
            <button class="btn ripple btn-secondary" role="button">1</button>
            <button class="btn ripple btn-secondary" role="button">2</button>
            <button class="btn ripple btn-secondary" role="button">3</button>
        </div>
        <h4>Large</h4>
        <div class="btn-group btn-group-lg mb-1" aria-label="Button Group">
            <button class="btn ripple btn-secondary" role="button">1</button>
            <button class="btn ripple btn-secondary" role="button">2</button>
            <button class="btn ripple btn-secondary" role="button">3</button>
        </div>
        <h4>Small</h4>
        <div class="btn-group btn-group-sm mb-1" aria-label="Button Group">
            <button class="btn ripple btn-secondary" role="button">1</button>
            <button class="btn ripple btn-secondary" role="button">2</button>
            <button class="btn ripple btn-secondary" role="button">3</button>
        </div>
        <h4>Vertical</h4>
        <div class="btn-group-vertical mb-1" aria-label="Button Group">
            <button class="btn ripple btn-secondary" role="button">Button</button>
            <button class="btn ripple btn-secondary" role="button">Button</button>
            <button class="btn ripple btn-secondary" role="button">Button</button>
        </div>
        <h4>Pills</h4>
        <div class="btn-group btn-group-pill mb-1" aria-label="Button Group">
            <button class="btn ripple btn-secondary" role="button">1</button>
            <button class="btn ripple btn-secondary" role="button">2</button>
            <button class="btn ripple btn-secondary" role="button">3</button>
        </div>
        <h4>Toolbar</h4>
        <div class="btn-toolbar mb-1" aria-label="Toolbar">
            <div class="btn-group mr-1" aria-label="Button Group">
                <button class="btn ripple btn-secondary" role="button">1</button>
                <button class="btn ripple btn-secondary" role="button">2</button>
                <button class="btn ripple btn-secondary" role="button">3</button>
            </div>
            <div class="btn-group" aria-label="Button Group">
                <button class="btn ripple btn-secondary" role="button">4</button>
                <button class="btn ripple btn-secondary" role="button">5</button>
                <button class="btn ripple btn-secondary" role="button">6</button>
            </div>
        </div>
    </div>
</body>

</html>