<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="../../dist/frost-ui.min.css" />
    <script src="../../dist/frost-ui-bundle.js"></script>
    <style>
        .container .btn {
            margin-top: .25rem;
            margin-bottom: .25rem;
        }
    </style>
</head>

<body>
    <div class="container">
        <h1>Buttons</h1>
        <div class="mb-4">
            <button class="btn ripple btn-primary" role="button">Primary</button>
            <button class="btn ripple btn-secondary" role="button">Secondary</button>
            <button class="btn ripple btn-success" role="button">Success</button>
            <button class="btn ripple btn-info" role="button">Info</button>
            <button class="btn ripple btn-warning" role="button">Warning</button>
            <button class="btn ripple btn-danger" role="button">Danger</button>
            <button class="btn ripple btn-light" role="button">Light</button>
            <button class="btn ripple btn-dark" role="button">Dark</button>
            <button class="btn btn-link" role="button">Link</button>
        </div>

        <h4>Outline</h4>
        <div class="mb-4">
            <button class="btn ripple btn-outline-primary" role="button">Primary</button>
            <button class="btn ripple btn-outline-secondary" role="button">Secondary</button>
            <button class="btn ripple btn-outline-success" role="button">Success</button>
            <button class="btn ripple btn-outline-info" role="button">Info</button>
            <button class="btn ripple btn-outline-warning" role="button">Warning</button>
            <button class="btn ripple btn-outline-danger" role="button">Danger</button>
            <button class="btn ripple btn-outline-light" role="button">Light</button>
            <button class="btn ripple btn-outline-dark" role="button">Dark</button>
        </div>

        <h4>Sizes</h4>
        <div class="mb-4">
            <button class="btn ripple btn-primary btn-lg" role="button">Primary</button>
            <button class="btn ripple btn-secondary btn-lg" role="button">Secondary</button>
        </div>
        <div class="mb-4">
            <button class="btn ripple btn-primary btn-sm" role="button">Primary</button>
            <button class="btn ripple btn-secondary btn-sm" role="button">Secondary</button>
        </div>

        <h4>Block</h4>
        <div class="mb-4" style="max-width: 16rem;">
            <div class="d-grid gap-2">
                <button class="btn ripple btn-primary btn-lg" role="button">Primary</button>
                <button class="btn ripple btn-secondary btn-lg" role="button">Secondary</button>
            </div>
        </div>

        <h4>Disabled</h4>
        <div class="mb-4">
            <button class="btn ripple btn-primary btn-lg disabled" role="button" aria-disabled="true"
                tabindex="-1">Primary</button>
            <button class="btn ripple btn-secondary btn-lg disabled" role="button" aria-disabled="true"
                tabindex="-1">Secondary</button>
        </div>

        <h4>Toggle</h4>
        <div class="mb-4">
            <button class="btn ripple btn-primary active" role="button" data-toggle="button">Toggle</button>
            <button class="btn ripple btn-primary" role="button" data-toggle="button">Toggle</button>
            <button class="btn ripple btn-primary disabled" role="button" data-toggle="button">Toggle</button>
        </div>
    </div>
</body>

</html>