<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="../../dist/frost-ui.min.css" />
    <script src="../../../FrostCore/dist/frost-core.js"></script>
    <script src="../../../FrostDOM/dist/frost-dom.js"></script>
    <script src="../../dist/frost-ui.js"></script>
</head>

<body>
    <div class="container">
        <h1>Button Groups</h1>
        <div class="btn-group" aria-label="Button Group">
            <a href="#" class="btn btn-secondary">1</a>
            <a href="#" class="btn btn-secondary">2</a>
            <a href="#" class="btn btn-secondary">3</a>
        </div>
        <h4>Large</h4>
        <div class="btn-group btn-group-lg" aria-label="Button Group">
            <a href="#" class="btn btn-secondary">1</a>
            <a href="#" class="btn btn-secondary">2</a>
            <a href="#" class="btn btn-secondary">3</a>
        </div>
        <h4>Small</h4>
        <div class="btn-group btn-group-sm" aria-label="Button Group">
            <a href="#" class="btn btn-secondary">1</a>
            <a href="#" class="btn btn-secondary">2</a>
            <a href="#" class="btn btn-secondary">3</a>
        </div>
        <h4>Vertical</h4>
        <div class="btn-group-vertical" aria-label="Button Group">
            <a href="#" class="btn btn-secondary">Button</a>
            <a href="#" class="btn btn-secondary">Button</a>
            <a href="#" class="btn btn-secondary">Button</a>
        </div>
        <h4>Toolbar</h4>
        <div class="btn-toolbar" aria-label="Toolbar">
            <div class="btn-group mr-1" aria-label="Button Group">
                <a href="#" class="btn btn-secondary">1</a>
                <a href="#" class="btn btn-secondary">2</a>
                <a href="#" class="btn btn-secondary">3</a>
            </div>
            <div class="btn-group" aria-label="Button Group">
                <a href="#" class="btn btn-secondary">4</a>
                <a href="#" class="btn btn-secondary">5</a>
                <a href="#" class="btn btn-secondary">6</a>
            </div>
        </div>
    </div>
</body>

</html>