<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="../../dist/frost-ui.min.css" />
    <script src="../../../FrostCore/dist/frost-core.js"></script>
    <script src="../../../FrostDOM/dist/frost-dom.js"></script>
    <script src="../../dist/frost-ui.js"></script>
    <style>
        svg {
            text-anchor: middle;
            user-select: none;
        }
    </style>
</head>

<body>
    <div class="container">
        <h1>Cards</h1>
        <div class="card shadow-sm">
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
                <p>This is the body of the card.</p>
                <a href="#" class="card-link">Card link</a>
                <a href="#" class="card-link">Another link</a>
            </div>
        </div>
        <h4>Images</h4>
        <div class="card shadow-sm">
            <svg class="card-img-top" width="100%" height="180" xmlns="http://www.w3.org/2000/svg"
                preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Image cap">
                <title>Placeholder</title>
                <rect width="100%" height="100%" fill="#868e96"></rect><text x="50%" y="50%" fill="#dee2e6"
                    dy=".3em">Image cap</text>
            </svg>
            <div class="card-body">
                <p class="card-text">This is the body of the card.</p>
            </div>
        </div>
        <div class="card shadow-sm">
            <div class="card-body">
                <p class="card-text">This is the body of the card.</p>
            </div>
            <svg class="card-img-bottom" width="100%" height="180" xmlns="http://www.w3.org/2000/svg"
                preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Image cap">
                <title>Placeholder</title>
                <rect width="100%" height="100%" fill="#868e96"></rect><text x="50%" y="50%" fill="#dee2e6"
                    dy=".3em">Image cap</text>
            </svg>
        </div>
        <div class="card bg-dark text-white shadow-sm">
            <svg class="card-img" width="100%" height="270" xmlns="http://www.w3.org/2000/svg"
                preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Card image">
                <title>Placeholder</title>
                <rect width="100%" height="100%" fill="#868e96"></rect><text x="50%" y="50%" fill="#dee2e6"
                    dy=".3em">Card image</text>
            </svg>
            <div class="card-img-overlay">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">This is the body of the card.</p>
            </div>
        </div>
        <h4>Lists</h4>
        <div class="card shadow-sm" style="width: 18rem;">
            <div class="card-header">
                Header
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">List Item</li>
                <li class="list-group-item">List Item</li>
                <li class="list-group-item">List Item</li>
            </ul>
        </div>
        <h4>Header and Footer</h4>
        <div class="card shadow-sm">
            <div class="card-header">
                Header
            </div>
            <div class="card-body">
                <p class="card-text">This is the body of the card.</p>
            </div>
            <div class="card-footer">
                Footer
            </div>
        </div>
        <h4>Styles</h4>
        <div class="card bg-primary text-white shadow-sm">
            <div class="card-header">
                Primary
            </div>
            <div class="card-body">
                <p class="card-text">This is the body of the card.</p>
            </div>
        </div>
        <div class="card bg-secondary text-white shadow-sm">
            <div class="card-header">
                Secondary
            </div>
            <div class="card-body">
                <p class="card-text">This is the body of the card.</p>
            </div>
        </div>
        <div class="card bg-success text-white shadow-sm">
            <div class="card-header">
                Success
            </div>
            <div class="card-body">
                <p class="card-text">This is the body of the card.</p>
            </div>
        </div>
        <div class="card bg-info text-white shadow-sm">
            <div class="card-header">
                Info
            </div>
            <div class="card-body">
                <p class="card-text">This is the body of the card.</p>
            </div>
        </div>
        <div class="card bg-warning text-white shadow-sm">
            <div class="card-header">
                Warning
            </div>
            <div class="card-body">
                <p class="card-text">This is the body of the card.</p>
            </div>
        </div>
        <div class="card bg-danger text-white shadow-sm">
            <div class="card-header">
                Danger
            </div>
            <div class="card-body">
                <p class="card-text">This is the body of the card.</p>
            </div>
        </div>
        <div class="card bg-light text-black shadow-sm">
            <div class="card-header">
                Light
            </div>
            <div class="card-body">
                <p class="card-text">This is the body of the card.</p>
            </div>
        </div>
        <div class="card bg-dark text-white shadow-sm">
            <div class="card-header">
                Dark
            </div>
            <div class="card-body">
                <p class="card-text">This is the body of the card.</p>
            </div>
        </div>
    </div>
</body>

</html>