<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="../../dist/frost-ui.min.css" />
    <script src="../../dist/frost-ui-bundle.js"></script>
</head>

<body>
    <div class="container">
        <h1>Card Groups</h1>
        <div class="mb-4">
            <div class="card-group">
                <div class="card">
                    <div class="card-body">
                        <p class="card-text">This is the body of the card.</p>
                    </div>
                    <div class="card-footer">
                        Footer
                    </div>
                </div>
                <div class="card">
                    <div class="card-body">
                        <p class="card-text">This is the body of the card.</p>
                        <p class="card-text">This is additional body text.</p>
                    </div>
                    <div class="card-footer">
                        Footer
                    </div>
                </div>
                <div class="card">
                    <div class="card-body">
                        <p class="card-text">This is the body of the card.</p>
                    </div>
                    <div class="card-footer">
                        Footer
                    </div>
                </div>
            </div>
        </div>

        <h4>Grid Cards</h4>
        <div class="mb-4">
            <div class="row row-cols-1 row-cols-md-3 g-2">
                <div class="col">
                    <div class="card shadow-sm h-100">
                        <div class="card-body">
                            <p class="card-text">This is the body of the card.</p>
                        </div>
                        <div class="card-footer">
                            Footer
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card shadow-sm h-100">
                        <div class="card-body">
                            <p class="card-text">This is the body of the card.</p>
                            <p class="card-text">This is additional body text.</p>
                        </div>
                        <div class="card-footer">
                            Footer
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card shadow-sm h-100">
                        <div class="card-body">
                            <p class="card-text">This is the body of the card.</p>
                        </div>
                        <div class="card-footer">
                            Footer
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>