<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="../../dist/frost-ui.min.css" />
    <script src="../../../FrostCore/dist/frost-core.js"></script>
    <script src="../../../FrostDOM/dist/frost-dom.js"></script>
    <script src="../../dist/frost-ui.js"></script>
</head>

<body>
    <div class="container">
        <h1>Card Groups</h1>
        <h4>Decks</h4>
        <div class="card-deck">
            <div class="card shadow-sm">
                <div class="card-header">
                    Header
                </div>
                <div class="card-body">
                    Body
                </div>
                <div class="card-footer">
                    Footer
                </div>
            </div>
            <div class="card shadow-sm">
                <div class="card-header">
                    Header
                </div>
                <div class="card-body">
                    <p>Body</p>
                    <p>Additional Body</p>
                </div>
                <div class="card-footer">
                    Footer
                </div>
            </div>
            <div class="card shadow-sm">
                <div class="card-header">
                    Header
                </div>
                <div class="card-body">
                    Body
                </div>
                <div class="card-footer">
                    Footer
                </div>
            </div>
        </div>
        <h4>Groups</h4>
        <div class="card-group shadow-sm">
            <div class="card">
                <div class="card-header">
                    Header
                </div>
                <div class="card-body">
                    Body
                </div>
                <div class="card-footer">
                    Footer
                </div>
            </div>
            <div class="card">
                <div class="card-header">
                    Header
                </div>
                <div class="card-body">
                    <p>Body</p>
                    <p>Additional Body</p>
                </div>
                <div class="card-footer">
                    Footer
                </div>
            </div>
            <div class="card">
                <div class="card-header">
                    Header
                </div>
                <div class="card-body">
                    Body
                </div>
                <div class="card-footer">
                    Footer
                </div>
            </div>
        </div>
        <h4>Columns</h4>
        <div class="card-columns">
            <div class="card shadow-sm">
                <div class="card-header">
                    Header
                </div>
                <div class="card-body">
                    Body
                </div>
                <div class="card-footer">
                    Footer
                </div>
            </div>
            <div class="card shadow-sm">
                <div class="card-header">
                    Header
                </div>
                <div class="card-body">
                    <p>Body</p>
                    <p>Additional Body</p>
                </div>
                <div class="card-footer">
                    Footer
                </div>
            </div>
            <div class="card shadow-sm">
                <div class="card-header">
                    Header
                </div>
                <div class="card-body">
                    Body
                </div>
                <div class="card-footer">
                    Footer
                </div>
            </div>
            <div class="card shadow-sm">
                <div class="card-header">
                    Header
                </div>
                <div class="card-body">
                    <p>Body</p>
                    <p>Additional Body</p>
                </div>
                <div class="card-footer">
                    Footer
                </div>
            </div>
            <div class="card shadow-sm">
                <div class="card-header">
                    Header
                </div>
                <div class="card-body">
                    <p>Body</p>
                    <p>Additional Body</p>
                </div>
                <div class="card-footer">
                    Footer
                </div>
            </div>
            <div class="card shadow-sm">
                <div class="card-header">
                    Header
                </div>
                <div class="card-body">
                    <p>Body</p>
                    <p>Additional Body</p>
                </div>
                <div class="card-footer">
                    Footer
                </div>
            </div>
            <div class="card shadow-sm">
                <div class="card-header">
                    Header
                </div>
                <div class="card-body">
                    Body
                </div>
                <div class="card-footer">
                    Footer
                </div>
            </div>
            <div class="card shadow-sm">
                <div class="card-header">
                    Header
                </div>
                <div class="card-body">
                    <p>Body</p>
                    <p>Additional Body</p>
                </div>
                <div class="card-footer">
                    Footer
                </div>
            </div>
            <div class="card shadow-sm">
                <div class="card-header">
                    Header
                </div>
                <div class="card-body">
                    <p>Body</p>
                    <p>Additional Body</p>
                </div>
                <div class="card-footer">
                    Footer
                </div>
            </div>
        </div>
    </div>
</body>

</html>