<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Collapse</title>
    <link rel="stylesheet" href="../../dist/frost-ui.css" />
    <script src="../../dist/frost-ui-bundle.js"></script>
</head>

<body>
    <div class="container">
        <h1>Collapse</h1>
        <div class="mb-4">
            <button class="btn btn-primary ripple mb-1 collapsed" data-ui-toggle="collapse" data-ui-target="#collapse" type="button" aria-expanded="false" aria-controls="collapse">Toggle Content</button>
            <button class="btn btn-primary ripple mb-1 collapsed" data-ui-toggle="collapse" href="#collapse" type="button" aria-expanded="false" aria-controls="collapse">Toggle Content</button>
        </div>
        <div class="collapse" id="collapse">
            <div class="card card-body shadow-sm mb-4">
                This is the body of the card.
            </div>
        </div>

        <h4>Multiple Targets</h4>
        <div class="mb-4">
            <button class="btn btn-primary ripple mb-1 collapsed" data-ui-toggle="collapse" data-ui-target="#collapse1" type="button" aria-expanded="false" aria-controls="collapse">Toggle First</button>
            <button class="btn btn-primary ripple mb-1 collapsed" data-ui-toggle="collapse" data-ui-target="#collapse2" type="button" aria-expanded="false" aria-controls="collapse">Toggle Second</button>
            <button class="btn btn-primary ripple mb-1 collapsed" data-ui-toggle="collapse" data-ui-target="#collapse1, #collapse2" type="button" aria-expanded="false" aria-controls="collapse">Toggle Both</button>
        </div>
        <div class="row">
            <div class="col">
                <div class="collapse" id="collapse1">
                    <div class="card card-body shadow-sm mb-4">
                        This is the body of the card.
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="collapse" id="collapse2">
                    <div class="card card-body shadow-sm mb-4">
                        This is the body of the card.
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>