<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Dropdown</title>
    <link rel="stylesheet" href="../../dist/frost-ui.css" />
    <script src="../../dist/frost-ui-bundle.js"></script>
    <style>
        .btn {
            margin-bottom: .25rem;
        }
    </style>
</head>

<body>
    <div class="container">
        <h1>Dropdown</h1>
        <div class="mb-4">
            <div class="dropdown">
                <button class="btn ripple btn-primary dropdown-toggle" id="dropdown" data-ui-toggle="dropdown" type="button" aria-haspopup="true" aria-expanded="false">Dropdown</button>
                <div class="dropdown-menu shadow-sm" aria-labelledby="dropdown">
                    <button class="dropdown-item" type="button">Action</button>
                    <button class="dropdown-item" type="button">Action</button>
                    <button class="dropdown-item" type="button">Action</button>
                </div>
            </div>
        </div>

        <h4>Split</h4>
        <div class="mb-4">
            <div class="btn-group">
                <button class="btn ripple btn-secondary" id="splitButton" type="button">Button</button>
                <button class="btn ripple btn-secondary dropdown-toggle dropdown-toggle-split" id="dropdownSplit" data-ui-toggle="dropdown" data-ui-reference="#splitButton" type="button" aria-haspopup="true" aria-expanded="false"></button>
                <div class="dropdown-menu shadow-sm" aria-labelledby="dropdownSplit">
                    <button class="dropdown-item" type="button">Action</button>
                    <button class="dropdown-item" type="button">Action</button>
                    <button class="dropdown-item" type="button">Action</button>
                </div>
            </div>
        </div>

        <h4>Dark</h4>
        <div class="mb-4">
            <div class="dropdown">
                <button class="btn ripple btn-dark dropdown-toggle" id="dropdown" data-ui-toggle="dropdown" type="button" aria-haspopup="true" aria-expanded="false">Dropdown</button>
                <div class="dropdown-menu dropdown-menu-dark shadow-sm" aria-labelledby="dropdown">
                    <button class="dropdown-item" type="button">Action</button>
                    <button class="dropdown-item" type="button">Action</button>
                    <button class="dropdown-item" type="button">Action</button>
                </div>
            </div>
        </div>

        <h4>Placement</h4>
        <div class="mb-4">
            <div class="btn-group">
                <button class="btn ripple btn-secondary dropdown-toggle" id="dropdownUp" data-ui-toggle="dropdown" data-ui-placement="top" data-ui-fixed="true" type="button" aria-haspopup="true" aria-expanded="false">Drop Up</button>
                <div class="dropdown-menu shadow-sm" aria-labelledby="dropdownUp">
                    <button class="dropdown-item" type="button">Action</button>
                    <button class="dropdown-item" type="button">Action</button>
                    <button class="dropdown-item" type="button">Action</button>
                </div>
            </div>
            <div class="btn-group">
                <button class="btn ripple btn-secondary dropdown-toggle" id="dropdownRight" data-ui-toggle="dropdown" data-ui-placement="right" data-ui-fixed="true" type="button" aria-haspopup="true" aria-expanded="false">Drop Right</button>
                <div class="dropdown-menu shadow-sm" aria-labelledby="dropdownRight">
                    <button class="dropdown-item" type="button">Action</button>
                    <button class="dropdown-item" type="button">Action</button>
                    <button class="dropdown-item" type="button">Action</button>
                </div>
            </div>
            <div class="btn-group">
                <button class="btn ripple btn-secondary dropdown-toggle" id="dropdownDown" data-ui-toggle="dropdown" data-ui-placement="bottom" data-ui-fixed="true" type="button" aria-haspopup="true" aria-expanded="false">Drop Down</button>
                <div class="dropdown-menu shadow-sm" aria-labelledby="dropdownDown">
                    <button class="dropdown-item" type="button">Action</button>
                    <button class="dropdown-item" type="button">Action</button>
                    <button class="dropdown-item" type="button">Action</button>
                </div>
            </div>
            <div class="btn-group">
                <button class="btn ripple btn-secondary dropdown-toggle" id="dropdownLeft" data-ui-toggle="dropdown" data-ui-placement="left" data-ui-fixed="true" type="button" aria-haspopup="true" aria-expanded="false">Drop Left</button>
                <div class="dropdown-menu shadow-sm" aria-labelledby="dropdownLeft">
                    <button class="dropdown-item" type="button">Action</button>
                    <button class="dropdown-item" type="button">Action</button>
                    <button class="dropdown-item" type="button">Action</button>
                </div>
            </div>
        </div>

        <h4>Position</h4>
        <div class="mb-4">
            <div class="btn-group">
                <button class="btn ripple btn-secondary dropdown-toggle" id="dropdownStart" data-ui-toggle="dropdown" data-ui-placement="bottom" data-ui-position="start" data-ui-fixed="true" type="button" aria-haspopup="true" aria-expanded="false">Drop Start</button>
                <div class="dropdown-menu shadow-sm" aria-labelledby="dropdownStart">
                    <button class="dropdown-item" type="button">Action</button>
                    <button class="dropdown-item" type="button">Action</button>
                    <button class="dropdown-item" type="button">Action</button>
                </div>
            </div>
            <div class="btn-group">
                <button class="btn ripple btn-secondary dropdown-toggle" id="dropdownCenter" data-ui-toggle="dropdown" data-ui-placement="bottom" data-ui-position="center" data-ui-fixed="true" type="button" aria-haspopup="true" aria-expanded="false">Drop Center</button>
                <div class="dropdown-menu shadow-sm" aria-labelledby="dropdownCenter">
                    <button class="dropdown-item" type="button">Action</button>
                    <button class="dropdown-item" type="button">Action</button>
                    <button class="dropdown-item" type="button">Action</button>
                </div>
            </div>
            <div class="btn-group">
                <button class="btn ripple btn-secondary dropdown-toggle" id="dropdownEnd" data-ui-toggle="dropdown" data-ui-placement="bottom" data-ui-position="end" data-ui-fixed="true" type="button" aria-haspopup="true" aria-expanded="false">Drop End</button>
                <div class="dropdown-menu shadow-sm" aria-labelledby="dropdownEnd">
                    <button class="dropdown-item" type="button">Action</button>
                    <button class="dropdown-item" type="button">Action</button>
                    <button class="dropdown-item" type="button">Action</button>
                </div>
            </div>
        </div>

        <h4>Active</h4>
        <div class="mb-4">
            <div class="dropdown">
                <button class="btn ripple btn-primary dropdown-toggle" id="dropdownActive" data-ui-toggle="dropdown" type="button" aria-haspopup="true" aria-expanded="false">Dropdown</button>
                <div class="dropdown-menu shadow-sm" aria-labelledby="dropdownActive">
                    <button class="dropdown-item" type="button">Action</button>
                    <button class="dropdown-item active" type="button">Active</button>
                    <button class="dropdown-item" type="button">Action</button>
                </div>
            </div>
        </div>

        <h4>Disabled</h4>
        <div class="mb-4">
            <div class="dropdown">
                <button class="btn ripple btn-primary dropdown-toggle" id="dropdownDisabled" data-ui-toggle="dropdown" type="button" aria-haspopup="true" aria-expanded="false">Dropdown</button>
                <div class="dropdown-menu shadow-sm" aria-labelledby="dropdownDisabled">
                    <button class="dropdown-item" type="button">Action</button>
                    <button class="dropdown-item disabled" tabindex="-1" type="button" aria-disabled="true">Disabled</button>
                    <button class="dropdown-item" type="button">Action</button>
                </div>
            </div>
        </div>

        <h4>Headers</h4>
        <div class="mb-4">
            <div class="dropdown">
                <button class="btn ripple btn-primary dropdown-toggle" id="dropdownHeader" data-ui-toggle="dropdown" type="button" aria-haspopup="true" aria-expanded="false">Dropdown</button>
                <div class="dropdown-menu shadow-sm" aria-labelledby="dropdownHeader">
                    <h6 class="dropdown-header">Header</h6>
                    <button class="dropdown-item" type="button">Action</button>
                    <button class="dropdown-item" type="button">Action</button>
                </div>
            </div>
        </div>

        <h4>Dividers</h4>
        <div class="mb-4">
            <div class="dropdown">
                <button class="btn ripple btn-primary dropdown-toggle" id="dropdownDivider" data-ui-toggle="dropdown" type="button" aria-haspopup="true" aria-expanded="false">Dropdown</button>
                <div class="dropdown-menu shadow-sm" aria-labelledby="dropdownDivider">
                    <button class="dropdown-item" type="button">Action</button>
                    <div class="dropdown-divider"></div>
                    <button class="dropdown-item" type="button">Action</button>
                </div>
            </div>
        </div>

        <h4>Text</h4>
        <div class="mb-4">
            <div class="dropdown">
                <button class="btn ripple btn-primary dropdown-toggle" id="dropdownText" data-ui-toggle="dropdown" type="button" aria-haspopup="true" aria-expanded="false">Dropdown</button>
                <div class="dropdown-menu shadow-sm" aria-labelledby="dropdownText">
                    <div class="dropdown-item-text">Dropdown text.</div>
                    <button class="dropdown-item" type="button">Action</button>
                    <button class="dropdown-item" type="button">Action</button>
                    <button class="dropdown-item" type="button">Action</button>
                </div>
            </div>
        </div>

        <h4>Forms</h4>
        <div class="mb-4">
            <div class="dropdown">
                <button class="btn ripple btn-primary dropdown-toggle" id="dropdownForm" data-ui-toggle="dropdown" type="button" aria-haspopup="true" aria-expanded="false">Dropdown</button>
                <div class="dropdown-menu shadow-sm" style="min-width: 300px;" aria-labelledby="dropdownForm">
                    <form class="px-2 pt-2">
                        <div class="mb-2">
                            <div class="form-input">
                                <input class="input-filled" type="text" placeholder="Placeholder" aria-label="Label" />
                                <div class="ripple-line"></div>
                            </div>
                        </div>
                        <div class="mb-2">
                            <div class="form-input">
                                <input class="input-filled" type="text" placeholder="Placeholder" aria-label="Label" />
                                <div class="ripple-line"></div>
                            </div>
                        </div>
                        <div class="d-grid">
                            <button class="btn ripple btn-primary" type="submit">Action</button>
                        </div>
                    </form>
                    <div class="dropdown-divider"></div>
                    <button class="dropdown-item" type="button">Action</button>
                    <button class="dropdown-item" type="button">Action</button>
                </div>
            </div>
        </div>
    </div>
</body>

</html>