<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="../../dist/frost-ui.css" />
    <script src="../../dist/frost-ui-bundle.js"></script>
    <style>
        .btn {
            margin-bottom: .25rem;
        }
    </style>
</head>

<body>
    <div class="container">
        <h1>Dropdown</h1>
        <div class="mb-4">
            <div class="dropdown">
                <button id="dropdown" class="btn ripple btn-primary dropdown-toggle" role="button"
                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Dropdown</button>
                <div class="dropdown-menu shadow-sm" aria-labelledby="dropdown">
                    <button class="dropdown-item">
                        Action
                    </button>
                    <button class="dropdown-item">
                        Action
                    </button>
                    <button class="dropdown-item">
                        Action
                    </button>
                </div>
            </div>
        </div>
        <h4>Split</h4>
        <div class="mb-4">
            <div class="btn-group">
                <button class="btn ripple btn-secondary" id="splitButton" role="button">Button</button>
                <button id="dropdownSplit" class="btn ripple btn-secondary dropdown-toggle dropdown-toggle-split"
                    role="button" data-toggle="dropdown" data-reference="#splitButton" aria-haspopup="true"
                    aria-expanded="false"></button>
                <div class="dropdown-menu shadow-sm" aria-labelledby="dropdownSplit">
                    <button class="dropdown-item">
                        Action
                    </button>
                    <button class="dropdown-item">
                        Action
                    </button>
                    <button class="dropdown-item">
                        Action
                    </button>
                </div>
            </div>
        </div>
        <h4>Placement</h4>
        <div class="mb-4">
            <div class="btn-group">
                <button id="dropdownUp" class="btn ripple btn-secondary dropdown-toggle" role="button"
                    data-toggle="dropdown" data-placement="top" data-fixed="true" aria-haspopup="true"
                    aria-expanded="false">Drop Up</button>
                <div class="dropdown-menu shadow-sm" aria-labelledby="dropdownUp">
                    <button class="dropdown-item">
                        Action
                    </button>
                    <button class="dropdown-item">
                        Action
                    </button>
                    <button class="dropdown-item">
                        Action
                    </button>
                </div>
            </div>
            <div class="btn-group">
                <button id="dropdownRight" class="btn ripple btn-secondary dropdown-toggle" role="button"
                    data-toggle="dropdown" data-placement="right" data-fixed="true" aria-haspopup="true"
                    aria-expanded="false">Drop Right</button>
                <div class="dropdown-menu shadow-sm" aria-labelledby="dropdownRight">
                    <button class="dropdown-item">
                        Action
                    </button>
                    <button class="dropdown-item">
                        Action
                    </button>
                    <button class="dropdown-item">
                        Action
                    </button>
                </div>
            </div>
            <div class="btn-group">
                <button id="dropdownDown" class="btn ripple btn-secondary dropdown-toggle" role="button"
                    data-toggle="dropdown" data-placement="bottom" data-fixed="true" aria-haspopup="true"
                    aria-expanded="false">Drop Down</button>
                <div class="dropdown-menu shadow-sm" aria-labelledby="dropdownDown">
                    <button class="dropdown-item">
                        Action
                    </button>
                    <button class="dropdown-item">
                        Action
                    </button>
                    <button class="dropdown-item">
                        Action
                    </button>
                </div>
            </div>
            <div class="btn-group">
                <button id="dropdownLeft" class="btn ripple btn-secondary dropdown-toggle" role="button"
                    data-toggle="dropdown" data-placement="left" data-fixed="true" aria-haspopup="true"
                    aria-expanded="false">Drop Left</button>
                <div class="dropdown-menu shadow-sm" aria-labelledby="dropdownLeft">
                    <button class="dropdown-item">
                        Action
                    </button>
                    <button class="dropdown-item">
                        Action
                    </button>
                    <button class="dropdown-item">
                        Action
                    </button>
                </div>
            </div>
        </div>
        <h4>Position</h4>
        <div class="mb-4">
            <div class="btn-group">
                <button id="dropdownStart" class="btn ripple btn-secondary dropdown-toggle" role="button"
                    data-toggle="dropdown" data-placement="bottom" data-position="start" data-fixed="true"
                    aria-haspopup="true" aria-expanded="false">Drop Start</button>
                <div class="dropdown-menu shadow-sm" aria-labelledby="dropdownStart">
                    <button class="dropdown-item">
                        Action
                    </button>
                    <button class="dropdown-item">
                        Action
                    </button>
                    <button class="dropdown-item">
                        Action
                    </button>
                </div>
            </div>
            <div class="btn-group">
                <button id="dropdownCenter" class="btn ripple btn-secondary dropdown-toggle" role="button"
                    data-toggle="dropdown" data-placement="bottom" data-position="center" data-fixed="true"
                    aria-haspopup="true" aria-expanded="false">Drop Center</button>
                <div class="dropdown-menu shadow-sm" aria-labelledby="dropdownCenter">
                    <button class="dropdown-item">
                        Action
                    </button>
                    <button class="dropdown-item">
                        Action
                    </button>
                    <button class="dropdown-item">
                        Action
                    </button>
                </div>
            </div>
            <div class="btn-group">
                <button id="dropdownEnd" class="btn ripple btn-secondary dropdown-toggle" role="button"
                    data-toggle="dropdown" data-placement="bottom" data-position="end" data-fixed="true"
                    aria-haspopup="true" aria-expanded="false">Drop End</button>
                <div class="dropdown-menu shadow-sm" aria-labelledby="dropdownEnd">
                    <button class="dropdown-item">
                        Action
                    </button>
                    <button class="dropdown-item">
                        Action
                    </button>
                    <button class="dropdown-item">
                        Action
                    </button>
                </div>
            </div>
        </div>
        <h4>Active</h4>
        <div class="mb-4">
            <div class="dropdown">
                <button id="dropdownActive" class="btn ripple btn-primary dropdown-toggle" role="button"
                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Dropdown</button>
                <div class="dropdown-menu shadow-sm" aria-labelledby="dropdownActive">
                    <button class="dropdown-item">
                        Action
                    </button>
                    <button class="dropdown-item active">
                        Active
                    </button>
                    <button class="dropdown-item">
                        Action
                    </button>
                </div>
            </div>
        </div>
        <h4>Disabled</h4>
        <div class="mb-4">
            <div class="dropdown">
                <button id="dropdownDisabled" class="btn ripple btn-primary dropdown-toggle" role="button"
                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Dropdown</button>
                <div class="dropdown-menu shadow-sm" aria-labelledby="dropdownDisabled">
                    <button class="dropdown-item">
                        Action
                    </button>
                    <button class="dropdown-item disabled" aria-disabled="true" tabindex="-1">
                        Disabled
                    </button>
                    <button class="dropdown-item">
                        Action
                    </button>
                </div>
            </div>
        </div>
        <h4>Header</h4>
        <div class="mb-4">
            <div class="dropdown">
                <button id="dropdownHeader" class="btn ripple btn-primary dropdown-toggle" role="button"
                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Dropdown</button>
                <div class="dropdown-menu shadow-sm" aria-labelledby="dropdownHeader">
                    <div class="dropdown-header">Header</div>
                    <button class="dropdown-item">
                        Action
                    </button>
                    <button class="dropdown-item">
                        Action
                    </button>
                </div>
            </div>
        </div>
        <h4>Divider</h4>
        <div class="mb-4">
            <div class="dropdown">
                <button id="dropdownDivider" class="btn ripple btn-primary dropdown-toggle" role="button"
                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Dropdown</button>
                <div class="dropdown-menu shadow-sm" aria-labelledby="dropdownDivider">
                    <button class="dropdown-item">
                        Action
                    </button>
                    <div class="dropdown-divider"></div>
                    <button class="dropdown-item">
                        Action
                    </button>
                </div>
            </div>
        </div>
        <h4>Text</h4>
        <div class="mb-4">
            <div class="dropdown">
                <button id="dropdownText" class="btn ripple btn-primary dropdown-toggle" role="button"
                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Dropdown</button>
                <div class="dropdown-menu shadow-sm" aria-labelledby="dropdownText">
                    <div class="dropdown-item-text">
                        Dropdown text.
                    </div>
                    <button class="dropdown-item">
                        Action
                    </button>
                    <button class="dropdown-item">
                        Action
                    </button>
                    <button class="dropdown-item">
                        Action
                    </button>
                </div>
            </div>
        </div>
        <h4>Form</h4>
        <div class="mb-4">
            <div class="dropdown">
                <button id="dropdownForm" class="btn ripple btn-primary dropdown-toggle" role="button"
                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Dropdown</button>
                <div class="dropdown-menu shadow-sm" style="min-width: 300px;" aria-labelledby="dropdownForm">
                    <form class="px-2 pt-2" data-dropdown-close="false">
                        <div class="mb-2">
                            <div class="position-relative">
                                <input type="text" class="input-filled" placeholder="Placeholder" aria-label="Label" />
                                <div class="ripple-line"></div>
                            </div>
                        </div>
                        <div class="mb-2">
                            <div class="position-relative">
                                <input type="text" class="input-filled" placeholder="Placeholder" aria-label="Label" />
                                <div class="ripple-line"></div>
                            </div>
                        </div>
                        <button type="submit" class="btn ripple btn-primary btn-block">Action</button>
                    </form>
                    <div class="dropdown-divider"></div>
                    <button class="dropdown-item" href="#">Action</button>
                    <button class="dropdown-item" href="#">Action</button>
                </div>
            </div>
        </div>
    </div>
</body>

</html>