<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="../../dist/frost-ui.min.css" />
    <script src="../../../FrostCore/dist/frost-core.js"></script>
    <script src="../../../FrostDOM/dist/frost-dom.js"></script>
    <script src="../../dist/frost-ui.js"></script>
</head>

<body>
    <div class="container">
        <h1>Heroes</h1>
        <div class="hero hero-primary shadow">
            <h4>Primary</h4>
            <hr />
            <p>This is the content of the hero.</p>
        </div>
        <div class="hero hero-secondary shadow">
            <h4>Secondary</h4>
            <hr />
            <p>This is the content of the hero.</p>
        </div>
        <div class="hero hero-success shadow">
            <h4>Success</h4>
            <hr />
            <p>This is the content of the hero.</p>
        </div>
        <div class="hero hero-info shadow">
            <h4>Info</h4>
            <hr />
            <p>This is the content of the hero.</p>
        </div>
        <div class="hero hero-warning shadow">
            <h4>Warning</h4>
            <hr />
            <p>This is the content of the hero.</p>
        </div>
        <div class="hero hero-danger shadow">
            <h4>Danger</h4>
            <hr />
            <p>This is the content of the hero.</p>
        </div>
        <div class="hero hero-light shadow">
            <h4>Light</h4>
            <hr />
            <p>This is the content of the hero.</p>
        </div>
        <div class="hero hero-dark shadow">
            <h4>Dark</h4>
            <hr />
            <p>This is the content of the hero.</p>
        </div>
        <h4>Fluid</h4>
        <div class="hero hero-fluid hero-primary px-2 shadow">
            <h4>Primary</h4>
            <hr />
            <p>This is the content of the hero.</p>
        </div>
        <div class="hero hero-fluid hero-secondary px-2 shadow">
            <h4>Secondary</h4>
            <hr />
            <p>This is the content of the hero.</p>
        </div>
        <div class="hero hero-fluid hero-success px-2 shadow">
            <h4>Success</h4>
            <hr />
            <p>This is the content of the hero.</p>
        </div>
        <div class="hero hero-fluid hero-info px-2 shadow">
            <h4>Info</h4>
            <hr />
            <p>This is the content of the hero.</p>
        </div>
        <div class="hero hero-fluid hero-warning px-2 shadow">
            <h4>Warning</h4>
            <hr />
            <p>This is the content of the hero.</p>
        </div>
        <div class="hero hero-fluid hero-danger px-2 shadow">
            <h4>Danger</h4>
            <hr />
            <p>This is the content of the hero.</p>
        </div>
        <div class="hero hero-fluid hero-light px-2 shadow">
            <h4>Light</h4>
            <hr />
            <p>This is the content of the hero.</p>
        </div>
        <div class="hero hero-fluid hero-dark px-2 shadow">
            <h4>Dark</h4>
            <hr />
            <p>This is the content of the hero.</p>
        </div>
    </div>
</body>

</html>