<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="../../dist/frost-ui.min.css" />
    <script src="../../dist/frost-ui-bundle.js"></script>
</head>

<body>
    <div class="container">
        <h1>Heroes</h1>
        <div class="mb-4">
            <div class="hero bg-primary text-light shadow">
                <h4>Primary</h4>
                <hr />
                <p>This is the content of the hero.</p>
            </div>
            <div class="hero bg-secondary text-light shadow">
                <h4>Secondary</h4>
                <hr />
                <p>This is the content of the hero.</p>
            </div>
            <div class="hero bg-success text-light shadow">
                <h4>Success</h4>
                <hr />
                <p>This is the content of the hero.</p>
            </div>
            <div class="hero bg-info text-light shadow">
                <h4>Info</h4>
                <hr />
                <p>This is the content of the hero.</p>
            </div>
            <div class="hero bg-warning text-light shadow">
                <h4>Warning</h4>
                <hr />
                <p>This is the content of the hero.</p>
            </div>
            <div class="hero bg-danger text-light shadow">
                <h4>Danger</h4>
                <hr />
                <p>This is the content of the hero.</p>
            </div>
            <div class="hero bg-light text-dark shadow">
                <h4>Light</h4>
                <hr />
                <p>This is the content of the hero.</p>
            </div>
            <div class="hero bg-dark text-light shadow">
                <h4>Dark</h4>
                <hr />
                <p>This is the content of the hero.</p>
            </div>
        </div>

        <h4>Fluid</h4>
        <div class="mb-4">
            <div class="hero bg-primary text-light rounded-0 shadow">
                <h4>Primary</h4>
                <hr />
                <p>This is the content of the hero.</p>
            </div>
            <div class="hero bg-secondary text-light rounded-0 shadow">
                <h4>Secondary</h4>
                <hr />
                <p>This is the content of the hero.</p>
            </div>
            <div class="hero bg-success text-light rounded-0 shadow">
                <h4>Success</h4>
                <hr />
                <p>This is the content of the hero.</p>
            </div>
            <div class="hero bg-info text-light rounded-0 shadow">
                <h4>Info</h4>
                <hr />
                <p>This is the content of the hero.</p>
            </div>
            <div class="hero bg-warning text-light rounded-0 shadow">
                <h4>Warning</h4>
                <hr />
                <p>This is the content of the hero.</p>
            </div>
            <div class="hero bg-danger text-light rounded-0 shadow">
                <h4>Danger</h4>
                <hr />
                <p>This is the content of the hero.</p>
            </div>
            <div class="hero bg-light text-dark rounded-0 shadow">
                <h4>Light</h4>
                <hr />
                <p>This is the content of the hero.</p>
            </div>
            <div class="hero bg-dark text-light rounded-0 shadow">
                <h4>Dark</h4>
                <hr />
                <p>This is the content of the hero.</p>
            </div>
        </div>
    </div>
</body>

</html>