<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="../../dist/frost-ui.min.css" />
    <script src="../../../FrostCore/dist/frost-core.js"></script>
    <script src="../../../FrostDOM/dist/frost-dom.js"></script>
    <script src="../../dist/frost-ui.js"></script>
</head>

<body>
    <div class="container">
        <h1>List Groups</h1>
        <div class="list-group shadow-sm">
            <div class="list-group-item">Default</div>
            <div class="list-group-item list-group-item-primary">Primary</div>
            <div class="list-group-item list-group-item-secondary">Secondary</div>
            <div class="list-group-item list-group-item-success">Success</div>
            <div class="list-group-item list-group-item-info">Info</div>
            <div class="list-group-item list-group-item-warning">Warning</div>
            <div class="list-group-item list-group-item-danger">Danger</div>
            <div class="list-group-item list-group-item-light">Light</div>
            <div class="list-group-item list-group-item-dark">Dark</div>
        </div>
        <h4>Flush</h4>
        <div class="list-group list-group-flush">
            <div class="list-group-item">Default</div>
            <div class="list-group-item active">Active</div>
            <div class="list-group-item list-group-item-primary">Primary</div>
            <div class="list-group-item list-group-item-secondary">Secondary</div>
            <div class="list-group-item list-group-item-success">Success</div>
            <div class="list-group-item list-group-item-info">Info</div>
            <div class="list-group-item list-group-item-warning">Warning</div>
            <div class="list-group-item list-group-item-danger">Danger</div>
            <div class="list-group-item list-group-item-light">Light</div>
            <div class="list-group-item list-group-item-dark">Dark</div>
        </div>
        <h4>Horizontal</h4>
        <div class="list-group list-group-horizontal">
            <a href="#" class="list-group-item">Default</a>
            <a href="#" class="list-group-item active">Active</a>
            <a href="#" class="list-group-item disabled" aria-disabled="true" tabindex="-1">Disabled</a>
        </div>
        <h4>Links</h4>
        <div class="list-group shadow-sm">
            <a href="#" class="list-group-item">Default</a>
            <a href="#" class="list-group-item active">Active</a>
            <a href="#" class="list-group-item disabled" aria-disabled="true" tabindex="-1">Disabled</a>
            <a href="#" class="list-group-item list-group-item-primary">Primary</a>
            <a href="#" class="list-group-item list-group-item-secondary">Secondary</a>
            <a href="#" class="list-group-item list-group-item-success">Success</a>
            <a href="#" class="list-group-item list-group-item-info">Info</a>
            <a href="#" class="list-group-item list-group-item-warning">Warning</a>
            <a href="#" class="list-group-item list-group-item-danger">Danger</a>
            <a href="#" class="list-group-item list-group-item-light">Light</a>
            <a href="#" class="list-group-item list-group-item-dark">Dark</a>
        </div>
        <h4>Badges</h4>
        <div class="list-group shadow-sm">
            <a href="#" class="list-group-item d-flex justify-content-between align-items-center">
                Primary
                <span class="badge badge-primary">33</span>
            </a>
            <a href="#" class="list-group-item d-flex justify-content-between align-items-center">
                Secondary
                <span class="badge badge-secondary">33</span>
            </a>
            <a href="#" class="list-group-item d-flex justify-content-between align-items-center">
                Success
                <span class="badge badge-success">33</span>
            </a>
            <a href="#" class="list-group-item d-flex justify-content-between align-items-center">
                Info
                <span class="badge badge-info">33</span>
            </a>
            <a href="#" class="list-group-item d-flex justify-content-between align-items-center">
                Warning
                <span class="badge badge-warning">33</span>
            </a>
            <a href="#" class="list-group-item d-flex justify-content-between align-items-center">
                Danger
                <span class="badge badge-danger">33</span>
            </a>
            <a href="#" class="list-group-item d-flex justify-content-between align-items-center">
                Light
                <span class="badge badge-light">33</span>
            </a>
            <a href="#" class="list-group-item d-flex justify-content-between align-items-center">
                Dark
                <span class="badge badge-dark">33</span>
            </a>
        </div>
    </div>
</body>

</html>