<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="../../dist/frost-ui.min.css" />
    <script src="../../../FrostCore/dist/frost-core.js"></script>
    <script src="../../../FrostDOM/dist/frost-dom.js"></script>
    <script src="../../dist/frost-ui.js"></script>
</head>

<body>
    <div class="container">
        <h1>Lists</h1>
        <div class="list shadow-sm">
            <div class="list-item">Default</div>
            <div class="list-item list-primary">Primary</div>
            <div class="list-item list-secondary">Secondary</div>
            <div class="list-item list-success">Success</div>
            <div class="list-item list-info">Info</div>
            <div class="list-item list-warning">Warning</div>
            <div class="list-item list-danger">Danger</div>
            <div class="list-item list-light">Light</div>
            <div class="list-item list-dark">Dark</div>
        </div>
        <h4>Links</h4>
        <div class="list shadow-sm">
            <a href="#" class="list-item">Default</a>
            <a href="#" class="list-item active">Active</a>
            <a href="#" class="list-item disabled">Disabled</a>
            <a href="#" class="list-item list-primary">Primary</a>
            <a href="#" class="list-item list-secondary">Secondary</a>
            <a href="#" class="list-item list-success">Success</a>
            <a href="#" class="list-item list-info">Info</a>
            <a href="#" class="list-item list-warning">Warning</a>
            <a href="#" class="list-item list-danger">Danger</a>
            <a href="#" class="list-item list-light">Light</a>
            <a href="#" class="list-item list-dark">Dark</a>
        </div>
        <h4>Tags</h4>
        <div class="list shadow-sm">
            <a href="#" class="list-item d-flex justify-content-between align-items-center">
                Default
                <span class="tag tag-primary">33</span>
            </a>
            <a href="#" class="list-item active d-flex justify-content-between align-items-center">
                Active
                <span class="tag tag-primary">14</span>
            </a>
        </div>
    </div>
</body>

</html>