<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="../../dist/frost-ui.min.css" />
    <script src="../../dist/frost-ui-bundle.js"></script>
</head>

<body>
    <div class="container">
        <h1>List Groups</h1>
        <div class="mb-4">
            <ul class="list-group shadow-sm">
                <li class="list-group-item active">Active Item</li>
                <li class="list-group-item">List Item</li>
                <li class="list-group-item disabled">Disabled Item</li>
            </ul>
        </div>
        <h4>Links</h4>
        <div class="mb-4">
            <div class="list-group shadow-sm">
                <a href="#" class="list-group-item list-group-item-action ripple ripple-dark active">Active Item</a>
                <a href="#" class="list-group-item list-group-item-action ripple ripple-dark">List Item</a>
                <a href="#" class="list-group-item list-group-item-action disabled" tabindex="-1">Disabled Item</a>
            </div>
        </div>
        <h4>Buttons</h4>
        <div class="mb-4">
            <div class="list-group shadow-sm">
                <button type="button" class="list-group-item list-group-item-action ripple ripple-dark active">Active
                    Item</button>
                <button type="button" class="list-group-item list-group-item-action ripple ripple-dark">List
                    Item</button>
                <button type="button" class="list-group-item list-group-item-action disabled" tabindex="-1">Disabled
                    Item</button>
            </div>
        </div>
        <h4>Flush</h4>
        <div class="mb-4">
            <ul class="list-group list-group-flush">
                <li class="list-group-item active">Active Item</li>
                <li class="list-group-item">List Item</li>
                <li class="list-group-item disabled">Disabled Item</li>
            </ul>
        </div>
        <h4>Horizontal</h4>
        <div class="mb-4">
            <ul class="list-group list-group-horizontal">
                <li class="list-group-item">Default</li>
                <li class="list-group-item active">Active</li>
                <li class="list-group-item disabled" aria-disabled="true" tabindex="-1">Disabled</li>
            </ul>
        </div>
        <div class="mb-4">
            <ul class="list-group list-group-horizontal-sm">
                <li class="list-group-item">Default</li>
                <li class="list-group-item active">Active</li>
                <li class="list-group-item disabled" aria-disabled="true" tabindex="-1">Disabled</li>
            </ul>
        </div>
        <div class="mb-4">
            <ul class="list-group list-group-horizontal-md">
                <li class="list-group-item">Default</li>
                <li class="list-group-item active">Active</li>
                <li class="list-group-item disabled" aria-disabled="true" tabindex="-1">Disabled</li>
            </ul>
        </div>
        <div class="mb-4">
            <ul class="list-group list-group-horizontal-lg">
                <li class="list-group-item">Default</li>
                <li class="list-group-item active">Active</li>
                <li class="list-group-item disabled" aria-disabled="true" tabindex="-1">Disabled</li>
            </ul>
        </div>
        <div class="mb-4">
            <ul class="list-group list-group-horizontal-xl">
                <li class="list-group-item">Default</li>
                <li class="list-group-item active">Active</li>
                <li class="list-group-item disabled" aria-disabled="true" tabindex="-1">Disabled</li>
            </ul>
        </div>
        <div class="mb-4">
            <ul class="list-group list-group-horizontal-xxl">
                <li class="list-group-item">Default</li>
                <li class="list-group-item active">Active</li>
                <li class="list-group-item disabled" aria-disabled="true" tabindex="-1">Disabled</li>
            </ul>
        </div>
        <h4>Styles</h4>
        <div class="mb-4">
            <div class="list-group shadow-sm">
                <button class="list-group-item list-group-item-action ripple ripple-dark">Default</button>
                <button
                    class="list-group-item list-group-item-action ripple ripple-dark list-group-item-primary">Primary</button>
                <button
                    class="list-group-item list-group-item-action ripple ripple-dark list-group-item-secondary">Secondary</button>
                <button
                    class="list-group-item list-group-item-action ripple ripple-dark list-group-item-success">Success</button>
                <button
                    class="list-group-item list-group-item-action ripple ripple-dark list-group-item-info">Info</button>
                <button
                    class="list-group-item list-group-item-action ripple ripple-dark list-group-item-warning">Warning</button>
                <button
                    class="list-group-item list-group-item-action ripple ripple-dark list-group-item-danger">Danger</button>
                <button
                    class="list-group-item list-group-item-action ripple ripple-dark list-group-item-light">Light</button>
                <button
                    class="list-group-item list-group-item-action ripple ripple-dark list-group-item-dark">Dark</button>
            </div>
        </div>
        <h4>Badges</h4>
        <div class="mb-4">
            <div class="list-group shadow-sm">
                <button
                    class="list-group-item list-group-item-action ripple ripple-dark d-flex justify-content-between align-items-center">
                    Primary
                    <span class="badge bg-primary">33</span>
                </button>
                <button
                    class="list-group-item list-group-item-action ripple ripple-dark d-flex justify-content-between align-items-center">
                    Secondary
                    <span class="badge bg-secondary">33</span>
                </button>
                <button
                    class="list-group-item list-group-item-action ripple ripple-dark d-flex justify-content-between align-items-center">
                    Success
                    <span class="badge bg-success">33</span>
                </button>
                <button
                    class="list-group-item list-group-item-action ripple ripple-dark d-flex justify-content-between align-items-center">
                    Info
                    <span class="badge bg-info">33</span>
                </button>
                <button
                    class="list-group-item list-group-item-action ripple ripple-dark d-flex justify-content-between align-items-center">
                    Warning
                    <span class="badge bg-warning">33</span>
                </button>
                <button
                    class="list-group-item list-group-item-action ripple ripple-dark d-flex justify-content-between align-items-center">
                    Danger
                    <span class="badge bg-danger">33</span>
                </button>
                <button
                    class="list-group-item list-group-item-action ripple ripple-dark d-flex justify-content-between align-items-center">
                    Light
                    <span class="badge bg-light text-dark">33</span>
                </button>
                <button
                    class="list-group-item list-group-item-action ripple ripple-dark d-flex justify-content-between align-items-center">
                    Dark
                    <span class="badge bg-dark">33</span>
                </button>
            </div>
        </div>
    </div>
</body>

</html>