<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="../../dist/frost-ui.css" />
    <script src="../../dist/frost-ui-bundle.js"></script>
    <style>
        .btn {
            margin-bottom: .25rem;
        }
    </style>
</head>

<body>
    <div class="container">
        <h1>Modals</h1>
        <div class="mb-4">
            <button class="btn ripple btn-primary" role="button" data-ui-toggle="modal" data-ui-target="#modal">Open
                Modal</button>
        </div>
        <div id="modal" class="modal" tabindex="-1" role="dialog" aria-labelledby="modalTitle" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content shadow">
                    <div class="modal-header">
                        <h5 class="modal-title" id="modalTitle">Modal title</h5>
                        <button type="button" class="close" data-ui-dismiss="modal" aria-label="Close">
                            <small class="icon-cancel" aria-hidden="true"></small>
                        </button>
                    </div>
                    <div class="modal-body">
                        <p>This is the body of the modal.</p>
                    </div>
                    <div class="modal-footer">
                        <button class="btn ripple btn-success mb-0" role="button">Save</button>
                        <button class="btn ripple btn-secondary mb-0" role="button" data-ui-dismiss="modal">Cancel</button>
                    </div>
                </div>
            </div>
        </div>

        <h4>Long Content</h4>
        <div class="mb-4">
            <button class="btn ripple btn-primary" role="button" data-ui-toggle="modal" data-ui-target="#modalLong">Open
                Modal</button>
        </div>
        <div id="modalLong" class="modal" tabindex="-1" role="dialog" aria-labelledby="modalLongTitle" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content shadow">
                    <div class="modal-header">
                        <h5 class="modal-title" id="modalLongTitle">Modal title</h5>
                        <button type="button" class="close" data-ui-dismiss="modal" aria-label="Close">
                            <small class="icon-cancel" aria-hidden="true"></small>
                        </button>
                    </div>
                    <div class="modal-body">
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Corrupti voluptas tenetur impedit
                            sit dolor, quasi voluptatem enim earum numquam perferendis nobis dolorem modi non, odio
                            deleniti quia, voluptates laborum commodi.</p>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi distinctio quaerat, hic quis
                            suscipit eligendi ratione ullam! Enim minima quia accusantium nihil itaque, hic eveniet
                            culpa quo inventore voluptas autem?</p>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Distinctio, ad rerum nulla libero
                            cupiditate aut, recusandae sequi voluptates fugiat sapiente ipsum, dignissimos laboriosam!
                            Dignissimos tempora aperiam autem id consequatur ratione.</p>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorem sapiente harum deleniti
                            hic, quibusdam cum, officiis ratione omnis totam accusantium corrupti mollitia in id unde
                            rem aliquam, corporis quia est.</p>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati, ipsum! Non tempora quo
                            ullam eligendi hic, nostrum quisquam sed est totam minus beatae dolorem, error et rem esse
                            perferendis voluptatibus!</p>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. In fuga adipisci excepturi quo,
                            similique saepe corporis porro inventore nihil, perferendis blanditiis, nesciunt ipsum
                            facilis natus. Enim cumque culpa quibusdam? A!</p>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quas exercitationem delectus
                            dolorem ratione doloribus molestias ipsum corrupti neque? Minus nemo nam rerum. Veniam
                            aliquid impedit similique delectus voluptas ipsum. Fuga!</p>
                        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eaque dolor voluptate maxime vero,
                            debitis tenetur hic ea vel veniam cupiditate numquam neque molestias nobis voluptatem
                            doloremque repellat. Quia, sint delectus?</p>
                    </div>
                    <div class="modal-footer">
                        <button class="btn ripple btn-success mb-0" role="button">Save</button>
                        <button class="btn ripple btn-secondary mb-0" role="button" data-ui-dismiss="modal">Cancel</button>
                    </div>
                </div>
            </div>
        </div>

        <h4>Scrollable</h4>
        <div class="mb-4">
            <button class="btn ripple btn-primary" role="button" data-ui-toggle="modal" data-ui-target="#modalScrollable">Open
                Modal</button>
        </div>
        <div id="modalScrollable" class="modal" tabindex="-1" role="dialog" aria-labelledby="modalScrollableTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-scrollable">
                <div class="modal-content shadow">
                    <div class="modal-header">
                        <h5 class="modal-title" id="modalScrollableTitle">Modal title</h5>
                        <button type="button" class="close" data-ui-dismiss="modal" aria-label="Close">
                            <small class="icon-cancel" aria-hidden="true"></small>
                        </button>
                    </div>
                    <div class="modal-body">
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Corrupti voluptas tenetur impedit
                            sit dolor, quasi voluptatem enim earum numquam perferendis nobis dolorem modi non, odio
                            deleniti quia, voluptates laborum commodi.</p>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi distinctio quaerat, hic quis
                            suscipit eligendi ratione ullam! Enim minima quia accusantium nihil itaque, hic eveniet
                            culpa quo inventore voluptas autem?</p>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Distinctio, ad rerum nulla libero
                            cupiditate aut, recusandae sequi voluptates fugiat sapiente ipsum, dignissimos laboriosam!
                            Dignissimos tempora aperiam autem id consequatur ratione.</p>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorem sapiente harum deleniti
                            hic, quibusdam cum, officiis ratione omnis totam accusantium corrupti mollitia in id unde
                            rem aliquam, corporis quia est.</p>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati, ipsum! Non tempora quo
                            ullam eligendi hic, nostrum quisquam sed est totam minus beatae dolorem, error et rem esse
                            perferendis voluptatibus!</p>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. In fuga adipisci excepturi quo,
                            similique saepe corporis porro inventore nihil, perferendis blanditiis, nesciunt ipsum
                            facilis natus. Enim cumque culpa quibusdam? A!</p>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quas exercitationem delectus
                            dolorem ratione doloribus molestias ipsum corrupti neque? Minus nemo nam rerum. Veniam
                            aliquid impedit similique delectus voluptas ipsum. Fuga!</p>
                        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eaque dolor voluptate maxime vero,
                            debitis tenetur hic ea vel veniam cupiditate numquam neque molestias nobis voluptatem
                            doloremque repellat. Quia, sint delectus?</p>
                    </div>
                    <div class="modal-footer">
                        <button class="btn ripple btn-success mb-0" role="button">Save</button>
                        <button class="btn ripple btn-secondary mb-0" role="button" data-ui-dismiss="modal">Cancel</button>
                    </div>
                </div>
            </div>
        </div>

        <h4>Vertically Centered</h4>
        <div class="mb-4">
            <button class="btn ripple btn-primary" role="button" data-ui-toggle="modal" data-ui-target="#modalCentered">Open
                Modal</button>
        </div>
        <div id="modalCentered" class="modal" tabindex="-1" role="dialog" aria-labelledby="modalCenteredTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content shadow">
                    <div class="modal-header">
                        <h5 class="modal-title" id="modalCenteredTitle">Modal title</h5>
                        <button type="button" class="close" data-ui-dismiss="modal" aria-label="Close">
                            <small class="icon-cancel" aria-hidden="true"></small>
                        </button>
                    </div>
                    <div class="modal-body">
                        <p>This is the body of the modal.</p>
                    </div>
                    <div class="modal-footer">
                        <button class="btn ripple btn-success mb-0" role="button">Save</button>
                        <button class="btn ripple btn-secondary mb-0" role="button" data-ui-dismiss="modal">Cancel</button>
                    </div>
                </div>
            </div>
        </div>

        <h4>Tooltips/Popovers</h4>
        <div class="mb-4">
            <button class="btn ripple btn-primary" role="button" data-ui-toggle="modal" data-ui-target="#modalTooltips">Open
                Modal</button>
        </div>
        <div id="modalTooltips" class="modal" tabindex="-1" role="dialog" aria-labelledby="modalTooltipsTitle" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content shadow">
                    <div class="modal-header">
                        <h5 class="modal-title" id="modalTooltipsTitle">Modal title</h5>
                        <button type="button" class="close" data-ui-dismiss="modal" aria-label="Close">
                            <small class="icon-cancel" aria-hidden="true"></small>
                        </button>
                    </div>
                    <div class="modal-body">
                        <h4>Tooltip</h4>
                        <button class="btn ripple btn-secondary" role="button" data-ui-toggle="tooltip" data-ui-title="This is a tooltip">Tooltip</button>
                        <h4>Popover</h4>
                        <button class="btn ripple btn-secondary" role="button" data-ui-toggle="popover" data-ui-content="Popover content would go here.. how cool!">
                            Popover
                        </button>
                    </div>
                    <div class="modal-footer">
                        <button class="btn ripple btn-success mb-0" role="button">Save</button>
                        <button class="btn ripple btn-secondary mb-0" role="button" data-ui-dismiss="modal">Cancel</button>
                    </div>
                </div>
            </div>
        </div>

        <h4>Sizes</h4>
        <div class="mb-4">
            <button class="btn ripple btn-primary" role="button" data-ui-toggle="modal" data-ui-target="#modalSmall">Open
                Small
                Modal</button>
            <button class="btn ripple btn-primary" role="button" data-ui-toggle="modal" data-ui-target="#modalLarge">Open
                Large
                Modal</button>
            <button class="btn ripple btn-primary" role="button" data-ui-toggle="modal" data-ui-target="#modalXL">Open Extra
                Large
                Modal</button>
        </div>
        <div id="modalSmall" class="modal" tabindex="-1" role="dialog" aria-labelledby="modalSmallTitle" aria-hidden="true">
            <div class="modal-dialog modal-sm">
                <div class="modal-content shadow">
                    <div class="modal-header">
                        <h5 class="modal-title" id="modalSmallTitle">Modal title</h5>
                        <button type="button" class="close" data-ui-dismiss="modal" aria-label="Close">
                            <small class="icon-cancel" aria-hidden="true"></small>
                        </button>
                    </div>
                    <div class="modal-body">
                        <p>This is the body of the modal.</p>
                    </div>
                    <div class="modal-footer">
                        <button class="btn ripple btn-success mb-0" role="button">Save</button>
                        <button class="btn ripple btn-secondary mb-0" role="button" data-ui-dismiss="modal">Cancel</button>
                    </div>
                </div>
            </div>
        </div>
        <div id="modalLarge" class="modal" tabindex="-1" role="dialog" aria-labelledby="modalLargeTitle" aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content shadow">
                    <div class="modal-header">
                        <h5 class="modal-title" id="modalLargeTitle">Modal title</h5>
                        <button type="button" class="close" data-ui-dismiss="modal" aria-label="Close">
                            <small class="icon-cancel" aria-hidden="true"></small>
                        </button>
                    </div>
                    <div class="modal-body">
                        <p>This is the body of the modal.</p>
                    </div>
                    <div class="modal-footer">
                        <button class="btn ripple btn-success mb-0" role="button">Save</button>
                        <button class="btn ripple btn-secondary mb-0" role="button" data-ui-dismiss="modal">Cancel</button>
                    </div>
                </div>
            </div>
        </div>
        <div id="modalXL" class="modal" tabindex="-1" role="dialog" aria-labelledby="modalXLTitle" aria-hidden="true">
            <div class="modal-dialog modal-xl">
                <div class="modal-content shadow">
                    <div class="modal-header">
                        <h5 class="modal-title" id="modalXLTitle">Modal title</h5>
                        <button type="button" class="close" data-ui-dismiss="modal" aria-label="Close">
                            <small class="icon-cancel" aria-hidden="true"></small>
                        </button>
                    </div>
                    <div class="modal-body">
                        <p>This is the body of the modal.</p>
                    </div>
                    <div class="modal-footer">
                        <button class="btn ripple btn-success mb-0" role="button">Save</button>
                        <button class="btn ripple btn-secondary mb-0" role="button" data-ui-dismiss="modal">Cancel</button>
                    </div>
                </div>
            </div>
        </div>

        <h4>Sides</h4>
        <div class="mb-4">
            <button class="btn ripple btn-primary" role="button" data-ui-toggle="modal" data-ui-target="#modalLeft">Open Left
                Modal</button>
            <button class="btn ripple btn-primary" role="button" data-ui-toggle="modal" data-ui-target="#modalRight">Open
                Right Modal</button>
            <div id="modalLeft" class="modal modal-left" tabindex="-1" role="dialog" aria-labelledby="modalLeftTitle" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content shadow">
                        <div class="modal-header">
                            <h5 class="modal-title" id="modalLeftTitle">Modal title</h5>
                            <button type="button" class="close" data-ui-dismiss="modal" aria-label="Close">
                                <small class="icon-cancel" aria-hidden="true"></small>
                            </button>
                        </div>
                        <div class="modal-body">
                            <p>This is the body of the modal.</p>
                        </div>
                        <div class="modal-footer">
                            <button class="btn ripple btn-success mb-0" role="button">Save</button>
                            <button class="btn ripple btn-secondary mb-0" role="button" data-ui-dismiss="modal">Cancel</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="modalRight" class="modal modal-right" tabindex="-1" role="dialog" aria-labelledby="modalRightTitle" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content shadow">
                    <div class="modal-header">
                        <h5 class="modal-title" id="modalRightTitle">Modal title</h5>
                        <button type="button" class="close" data-ui-dismiss="modal" aria-label="Close">
                            <small class="icon-cancel" aria-hidden="true"></small>
                        </button>
                    </div>
                    <div class="modal-body">
                        <p>This is the body of the modal.</p>
                    </div>
                    <div class="modal-footer">
                        <button class="btn ripple btn-success mb-0" role="button">Save</button>
                        <button class="btn ripple btn-secondary mb-0" role="button" data-ui-dismiss="modal">Cancel</button>
                    </div>
                </div>
            </div>
        </div>

        <h4>Fullscreen</h4>
        <div class="mb-4">
            <button class="btn ripple btn-primary" role="button" data-ui-toggle="modal" data-ui-target="#modalFullscreen">Open
                Modal</button>
        </div>
        <div id="modalFullscreen" class="modal" tabindex="-1" role="dialog" aria-labelledby="modalFullscreenTitle" aria-hidden="true">
            <div class="modal-dialog modal-fullscreen">
                <div class="modal-content shadow">
                    <div class="modal-header">
                        <h5 class="modal-title" id="modalFullscreenTitle">Modal title</h5>
                        <button type="button" class="close" data-ui-dismiss="modal" aria-label="Close">
                            <small class="icon-cancel" aria-hidden="true"></small>
                        </button>
                    </div>
                    <div class="modal-body">
                        <p>This is the body of the modal.</p>
                    </div>
                    <div class="modal-footer">
                        <button class="btn ripple btn-success mb-0" role="button">Save</button>
                        <button class="btn ripple btn-secondary mb-0" role="button" data-ui-dismiss="modal">Cancel</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
        const tooltips = dom.find('[data-ui-toggle="tooltip"]');
        for (const tooltip of tooltips) {
            UI.Tooltip.init(tooltip);
        }
        const popovers = dom.find('[data-ui-toggle="popover"]');
        for (const popover of popovers) {
            UI.Popover.init(popovers);
        }
    </script>
</body>

</html>