<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="../../dist/frost-ui.min.css" />
    <script src="../../dist/frost-ui-bundle.js"></script>
</head>

<body>
    <div class="container">
        <h1>Nav</h1>
        <div class="mb-4">
            <div class="nav">
                <a href="#" class="nav-link active">Active</a>
                <a href="#" class="nav-link">Link</a>
                <div class="dropdown">
                    <a href="#" id="navDropdown" class="nav-link dropdown-toggle" data-toggle="dropdown"
                        data-reference="parent" aria-haspopup="true" aria-expanded="false">Dropdown</a>
                    <div class="dropdown-menu shadow-sm" aria-labelledby="navDropdown">
                        <a href="#" class="dropdown-item">Link</a>
                        <a href="#" class="dropdown-item">Link</a>
                        <a href="#" class="dropdown-item">Link</a>
                    </div>
                </div>
                <a href="#" class="nav-link disabled" aria-disabled="true" tabindex="-1">Disabled</a>
            </div>
        </div>
        <h4>Fill</h4>
        <div class="mb-4">
            <div class="nav nav-pills nav-fill">
                <a href="#" class="nav-link ripple active">Active</a>
                <a href="#" class="nav-link ripple">Link</a>
                <a href="#" class="nav-link ripple disabled" aria-disabled="true" tabindex="-1">Disabled</a>
            </div>
        </div>
        <h4>Justified</h4>
        <div class="mb-4">
            <div class="nav nav-pills nav-justified">
                <a href="#" class="nav-link ripple active">Active</a>
                <a href="#" class="nav-link ripple">Link</a>
                <a href="#" class="nav-link ripple disabled" aria-disabled="true" tabindex="-1">Disabled</a>
            </div>
        </div>
        <h4>Tabs</h4>
        <div class="mb-4">
            <div class="nav nav-tabs">
                <a href="#" class="nav-link active">Active</a>
                <a href="#" class="nav-link">Link</a>
                <div class="dropdown">
                    <a href="#" id="tabDropdown" class="nav-link dropdown-toggle" data-toggle="dropdown"
                        data-reference="parent" data-spacing="-1">Dropdown</a>
                    <div class="dropdown-menu shadow-sm" aria-labelledby="tabDropdown">
                        <a href="#" class="dropdown-item">Link</a>
                        <a href="#" class="dropdown-item">Link</a>
                        <a href="#" class="dropdown-item">Link</a>
                    </div>
                </div>
                <a href="#" class="nav-link disabled" aria-disabled="true" tabindex="-1">Disabled</a>
            </div>
        </div>
        <h4>Pills</h4>
        <div class="mb-4">
            <div class="nav nav-pills">
                <a href="#" class="nav-link ripple active">Active</a>
                <a href="#" class="nav-link ripple">Link</a>
                <div class="dropdown">
                    <a href="#" id="pillDropdown" class="nav-link dropdown-toggle" data-toggle="dropdown"
                        data-reference="parent" aria-haspopup="true" aria-expanded="false">Dropdown</a>
                    <div class="dropdown-menu shadow-sm" aria-labelledby="pillDropdown">
                        <a href="#" class="dropdown-item">Link</a>
                        <a href="#" class="dropdown-item">Link</a>
                        <a href="#" class="dropdown-item">Link</a>
                    </div>
                </div>
                <a href="#" class="nav-link ripple disabled" aria-disabled="true" tabindex="-1">Disabled</a>
            </div>
        </div>
        <h3>Content Tabs</h3>
        <h4>Tabs</h4>
        <div class="mb-4">
            <div class="nav nav-tabs" role="tablist">
                <a href="#tab1" id="tab1Link" class="nav-link active" data-toggle="tab" role="tab"
                    aria-selected="true">Active</a>
                <a href="#tab2" id="tab2Link" class="nav-link" data-toggle="tab" role="tab"
                    aria-selected="false">Link</a>
                <a href="#tab3" id="tab3Link" class="nav-link disabled" data-toggle="tab" role="tab"
                    aria-selected="false" aria-disabled="true" tabindex="-1">Disabled</a>
            </div>
            <div class="tab-content">
                <div class="tab-pane active" id="tab1" role="tabpanel" aria-labelledby="tab1Link">
                    <p>This is the active tab content.</p>
                </div>
                <div class="tab-pane" id="tab2" role="tabpanel" aria-labelledby="tab2Link">
                    <p>This is the hidden tab content.</p>
                </div>
            </div>
        </div>
        <h4>Pills</h4>
        <div class="mb-4">
            <div class="nav nav-pills" role="tablist">
                <a href="#pillTab1" id="pillTab1Link" class="nav-link ripple active" data-toggle="tab" role="tab"
                    aria-selected="true">Active</a>
                <a href="#pillTab2" id="pillTab2Link" class="nav-link ripple" data-toggle="tab" role="tab"
                    aria-selected="false">Link</a>
                <a href="#pillTab3" id="pillTab3Link" class="nav-link ripple disabled" data-toggle="tab" role="tab"
                    aria-selected="false" aria-disabled="true" tabindex="-1">Disabled</a>
            </div>
            <div class="tab-content">
                <div class="tab-pane active" id="pillTab1" role="tabpanel" aria-labelledby="pillTab1Link">
                    <p>This is the active tab content.</p>
                </div>
                <div class="tab-pane" id="pillTab2" role="tabpanel" aria-labelledby="pillTab2Link">
                    <p>This is the hidden tab content.</p>
                </div>
            </div>
        </div>
        <h4>Vertical Pills</h4>
        <div class="mb-4">
            <div class="row">
                <div class="col-3">
                    <div class="nav flex-column nav-pills" role="tablist" aria-orientation="vertical">
                        <a href="#verticalPillTab1" id="verticalPillTab1Link" class="nav-link ripple active"
                            data-toggle="tab" role="tab">Active</a>
                        <a href="#verticalPillTab2" id="verticalPillTab2Link" class="nav-link ripple" data-toggle="tab"
                            role="tab">Link</a>
                        <a href="#verticalPillTab3" id="verticalPillTab3Link" class="nav-link ripple disabled"
                            data-toggle="tab" role="tab" aria-disabled="true" tabindex="-1">Disabled</a>
                    </div>
                </div>
                <div class="col-9">
                    <div class="tab-content">
                        <div class="tab-pane active" id="verticalPillTab1" role="tabpanel"
                            aria-labelledby="verticalPillTab1Link">
                            <p>This is the active tab content.</p>
                        </div>
                        <div class="tab-pane" id="verticalPillTab2" role="tabpanel"
                            aria-labelledby="verticalPillTab2Link">
                            <p>This is the hidden tab content.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>