<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="../../dist/frost-ui.min.css" />
    <script src="../../../FrostCore/dist/frost-core.js"></script>
    <script src="../../../FrostDOM/dist/frost-dom.js"></script>
    <script src="../../dist/frost-ui.js"></script>
</head>

<body>
    <div class="container">
        <h1>Nav</h1>
        <div class="nav">
            <a href="#" class="nav-link active">Active</a>
            <a href="#" class="nav-link">Link</a>
            <div class="dropdown">
                <a href="#" id="navDropdown" class="nav-link dropdown-toggle" data-toggle="dropdown"
                    data-reference="parent" aria-haspopup="true" aria-expanded="false">Dropdown</a>
                <div class="dropdown-menu shadow-sm" aria-labelledby="navDropdown">
                    <a href="#" class="dropdown-item">Link</a>
                    <a href="#" class="dropdown-item">Link</a>
                    <a href="#" class="dropdown-item">Link</a>
                </div>
            </div>
            <a href="#" class="nav-link disabled" aria-disabled="true" tabindex="-1">Disabled</a>
        </div>
        <h4>Fill</h4>
        <div class="nav nav-pills nav-fill">
            <a href="#" class="nav-link active">Active</a>
            <a href="#" class="nav-link">Link</a>
            <a href="#" class="nav-link disabled" aria-disabled="true" tabindex="-1">Disabled</a>
        </div>
        <h4>Justified</h4>
        <div class="nav nav-pills nav-justified">
            <a href="#" class="nav-link active">Active</a>
            <a href="#" class="nav-link">Link</a>
            <a href="#" class="nav-link disabled" aria-disabled="true" tabindex="-1">Disabled</a>
        </div>
        <h4>Tabs</h4>
        <div class="nav nav-tabs">
            <a href="#" class="nav-link active">Active</a>
            <a href="#" class="nav-link">Link</a>
            <div class="dropdown">
                <a href="#" id="tabDropdown" class="nav-link dropdown-toggle" data-toggle="dropdown"
                    data-reference="parent">Dropdown</a>
                <div class="dropdown-menu shadow-sm" aria-labelledby="tabDropdown">
                    <a href="#" class="dropdown-item">Link</a>
                    <a href="#" class="dropdown-item">Link</a>
                    <a href="#" class="dropdown-item">Link</a>
                </div>
            </div>
            <a href="#" class="nav-link disabled" aria-disabled="true" tabindex="-1">Disabled</a>
        </div>
        <h4>Pills</h4>
        <div class="nav nav-pills">
            <a href="#" class="nav-link active">Active</a>
            <a href="#" class="nav-link">Link</a>
            <div class="dropdown">
                <a href="#" id="pillDropdown" class="nav-link dropdown-toggle" data-toggle="dropdown"
                    data-reference="parent" aria-haspopup="true" aria-expanded="false">Dropdown</a>
                <div class="dropdown-menu shadow-sm" aria-labelledby="pillDropdown">
                    <a href="#" class="dropdown-item">Link</a>
                    <a href="#" class="dropdown-item">Link</a>
                    <a href="#" class="dropdown-item">Link</a>
                </div>
            </div>
            <a href="#" class="nav-link disabled" aria-disabled="true" tabindex="-1">Disabled</a>
        </div>
    </div>
</body>

</html>