<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="../../dist/frost-ui.min.css" />
    <script src="../../dist/frost-ui-bundle.js"></script>
</head>

<body>
    <div class="container">
        <h1>Nav Bars</h1>
        <div class="mb-4">
            <div class="navbar navbar-expand-lg navbar-light bg-light">
                <div class="container-fluid">
                    <div class="navbar-brand">
                        Hello
                    </div>
                    <button class="navbar-toggler" type="button" data-ui-toggle="collapse" data-ui-target="#navbar1" aria-expanded="false" aria-controls="navbar1" aria-label="Open Menu">
                        <span class="navbar-toggler-icon" aria-hidden="true"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbar1">
                        <div class="navbar-nav me-auto mb-2 mb-lg-0">
                            <a href="#" class="nav-link active">
                                Active
                                <span class="visually-hidden">(Current)</span>
                            </a>
                            <a href="#" class="nav-link">
                                Link
                            </a>
                            <div class="dropdown">
                                <a href="#" id="lightDropdown" class="nav-link dropdown-toggle" data-ui-toggle="dropdown" data-ui-reference="parent" aria-haspopup="true" aria-expanded="false">Dropdown</a>
                                <div class="dropdown-menu shadow-sm" aria-labelledby="lightDropdown">
                                    <a href="#" class="dropdown-item">Link</a>
                                    <a href="#" class="dropdown-item">Link</a>
                                    <a href="#" class="dropdown-item">Link</a>
                                </div>
                            </div>
                            <a href="#" class="nav-link disabled" aria-disabled="true" tabindex="-1">Disabled</a>
                        </div>
                        <form class="d-flex">
                            <div class="form-input me-2">
                                <input class="input-filled" type="search" placeholder="Search" aria-label="Search">
                                <span class="ripple-line"></span>
                            </div>
                            <div class="d-flex">
                                <button class="btn ripple btn-outline-dark" type="submit">Search</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <h4>Styles</h4>
        <div class="mb-4">
            <div class="navbar navbar-expand-lg navbar-dark bg-dark">
                <div class="container-fluid">
                    <div class="navbar-brand">
                        Hello
                    </div>
                    <button class="navbar-toggler" type="button" data-ui-toggle="collapse" data-ui-target="#navbar2" aria-expanded="false" aria-controls="navbar2" aria-label="Open Menu">
                        <span class="navbar-toggler-icon" aria-hidden="true"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbar2">
                        <div class="navbar-nav me-auto mb-2 mb-lg-0">
                            <a href="#" class="nav-link active">
                                Active
                                <span class="visually-hidden">(Current)</span>
                            </a>
                            <a href="#" class="nav-link">
                                Link
                            </a>
                            <div class="dropdown">
                                <a href="#" id="darkDropdown" class="nav-link dropdown-toggle" data-ui-toggle="dropdown" data-ui-reference="parent" aria-haspopup="true" aria-expanded="false">Dropdown</a>
                                <div class="dropdown-menu dropdown-menu-dark shadow-sm" aria-labelledby="darkDropdown">
                                    <a href="#" class="dropdown-item">Link</a>
                                    <a href="#" class="dropdown-item">Link</a>
                                    <a href="#" class="dropdown-item">Link</a>
                                </div>
                            </div>
                            <a href="#" class="nav-link disabled" aria-disabled="true" tabindex="-1">Disabled</a>
                        </div>
                        <form class="d-flex">
                            <div class="form-input me-2">
                                <input class="input-filled" type="search" placeholder="Search" aria-label="Search">
                                <span class="ripple-line"></span>
                            </div>
                            <div class="d-flex">
                                <button class="btn ripple btn-outline-light" type="submit">Search</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="mb-4">
            <div class="navbar navbar-expand-lg navbar-dark bg-primary">
                <div class="container-fluid">
                    <div class="navbar-brand">
                        Hello
                    </div>
                    <button class="navbar-toggler" type="button" data-ui-toggle="collapse" data-ui-target="#navbar3" aria-expanded="false" aria-controls="navbar3" aria-label="Open Menu">
                        <span class="navbar-toggler-icon" aria-hidden="true"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbar3">
                        <div class="navbar-nav me-auto mb-2 mb-lg-0">
                            <a href="#" class="nav-link active">
                                Active
                                <span class="visually-hidden">(Current)</span>
                            </a>
                            <a href="#" class="nav-link">
                                Link
                            </a>
                            <div class="dropdown">
                                <a href="#" id="darkDropdown" class="nav-link dropdown-toggle" data-ui-toggle="dropdown" data-ui-reference="parent" aria-haspopup="true" aria-expanded="false">Dropdown</a>
                                <div class="dropdown-menu shadow-sm" aria-labelledby="darkDropdown">
                                    <a href="#" class="dropdown-item">Link</a>
                                    <a href="#" class="dropdown-item">Link</a>
                                    <a href="#" class="dropdown-item">Link</a>
                                </div>
                            </div>
                            <a href="#" class="nav-link disabled" aria-disabled="true" tabindex="-1">Disabled</a>
                        </div>
                        <form class="d-flex">
                            <div class="form-input me-2">
                                <input class="input-filled" type="search" placeholder="Search" aria-label="Search">
                                <span class="ripple-line"></span>
                            </div>
                            <div class="d-flex">
                                <button class="btn ripple btn-outline-light" type="submit">Search</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="mb-4">
            <div class="navbar navbar-expand-lg navbar-dark bg-secondary">
                <div class="container-fluid">
                    <div class="navbar-brand">
                        Hello
                    </div>
                    <button class="navbar-toggler" type="button" data-ui-toggle="collapse" data-ui-target="#navbar4" aria-expanded="false" aria-controls="navbar4" aria-label="Open Menu">
                        <span class="navbar-toggler-icon" aria-hidden="true"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbar4">
                        <div class="navbar-nav me-auto mb-2 mb-lg-0">
                            <a href="#" class="nav-link active">
                                Active
                                <span class="visually-hidden">(Current)</span>
                            </a>
                            <a href="#" class="nav-link">
                                Link
                            </a>
                            <div class="dropdown">
                                <a href="#" id="darkDropdown" class="nav-link dropdown-toggle" data-ui-toggle="dropdown" data-ui-reference="parent" aria-haspopup="true" aria-expanded="false">Dropdown</a>
                                <div class="dropdown-menu shadow-sm" aria-labelledby="darkDropdown">
                                    <a href="#" class="dropdown-item">Link</a>
                                    <a href="#" class="dropdown-item">Link</a>
                                    <a href="#" class="dropdown-item">Link</a>
                                </div>
                            </div>
                            <a href="#" class="nav-link disabled" aria-disabled="true" tabindex="-1">Disabled</a>
                        </div>
                        <form class="d-flex">
                            <div class="form-input me-2">
                                <input class="input-filled" type="search" placeholder="Search" aria-label="Search">
                                <span class="ripple-line"></span>
                            </div>
                            <div class="d-flex">
                                <button class="btn ripple btn-outline-light" type="submit">Search</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="mb-4">
            <div class="navbar navbar-expand-lg navbar-dark bg-success">
                <div class="container-fluid">
                    <div class="navbar-brand">
                        Hello
                    </div>
                    <button class="navbar-toggler" type="button" data-ui-toggle="collapse" data-ui-target="#navbar5" aria-expanded="false" aria-controls="navbar5" aria-label="Open Menu">
                        <span class="navbar-toggler-icon" aria-hidden="true"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbar5">
                        <div class="navbar-nav me-auto mb-2 mb-lg-0">
                            <a href="#" class="nav-link active">
                                Active
                                <span class="visually-hidden">(Current)</span>
                            </a>
                            <a href="#" class="nav-link">
                                Link
                            </a>
                            <div class="dropdown">
                                <a href="#" id="darkDropdown" class="nav-link dropdown-toggle" data-ui-toggle="dropdown" data-ui-reference="parent" aria-haspopup="true" aria-expanded="false">Dropdown</a>
                                <div class="dropdown-menu shadow-sm" aria-labelledby="darkDropdown">
                                    <a href="#" class="dropdown-item">Link</a>
                                    <a href="#" class="dropdown-item">Link</a>
                                    <a href="#" class="dropdown-item">Link</a>
                                </div>
                            </div>
                            <a href="#" class="nav-link disabled" aria-disabled="true" tabindex="-1">Disabled</a>
                        </div>
                        <form class="d-flex">
                            <div class="form-input me-2">
                                <input class="input-filled" type="search" placeholder="Search" aria-label="Search">
                                <span class="ripple-line"></span>
                            </div>
                            <div class="d-flex">
                                <button class="btn ripple btn-outline-light" type="submit">Search</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="mb-4">
            <div class="navbar navbar-expand-lg navbar-dark bg-info">
                <div class="container-fluid">
                    <div class="navbar-brand">
                        Hello
                    </div>
                    <button class="navbar-toggler" type="button" data-ui-toggle="collapse" data-ui-target="#navbar6" aria-expanded="false" aria-controls="navbar6" aria-label="Open Menu">
                        <span class="navbar-toggler-icon" aria-hidden="true"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbar6">
                        <div class="navbar-nav me-auto mb-2 mb-lg-0">
                            <a href="#" class="nav-link active">
                                Active
                                <span class="visually-hidden">(Current)</span>
                            </a>
                            <a href="#" class="nav-link">
                                Link
                            </a>
                            <div class="dropdown">
                                <a href="#" id="darkDropdown" class="nav-link dropdown-toggle" data-ui-toggle="dropdown" data-ui-reference="parent" aria-haspopup="true" aria-expanded="false">Dropdown</a>
                                <div class="dropdown-menu shadow-sm" aria-labelledby="darkDropdown">
                                    <a href="#" class="dropdown-item">Link</a>
                                    <a href="#" class="dropdown-item">Link</a>
                                    <a href="#" class="dropdown-item">Link</a>
                                </div>
                            </div>
                            <a href="#" class="nav-link disabled" aria-disabled="true" tabindex="-1">Disabled</a>
                        </div>
                        <form class="d-flex">
                            <div class="form-input me-2">
                                <input class="input-filled" type="search" placeholder="Search" aria-label="Search">
                                <span class="ripple-line"></span>
                            </div>
                            <div class="d-flex">
                                <button class="btn ripple btn-outline-light" type="submit">Search</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="mb-4">
            <div class="navbar navbar-expand-lg navbar-dark bg-warning">
                <div class="container-fluid">
                    <div class="navbar-brand">
                        Hello
                    </div>
                    <button class="navbar-toggler" type="button" data-ui-toggle="collapse" data-ui-target="#navbar7" aria-expanded="false" aria-controls="navbar7" aria-label="Open Menu">
                        <span class="navbar-toggler-icon" aria-hidden="true"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbar7">
                        <div class="navbar-nav me-auto mb-2 mb-lg-0">
                            <a href="#" class="nav-link active">
                                Active
                                <span class="visually-hidden">(Current)</span>
                            </a>
                            <a href="#" class="nav-link">
                                Link
                            </a>
                            <div class="dropdown">
                                <a href="#" id="darkDropdown" class="nav-link dropdown-toggle" data-ui-toggle="dropdown" data-ui-reference="parent" aria-haspopup="true" aria-expanded="false">Dropdown</a>
                                <div class="dropdown-menu shadow-sm" aria-labelledby="darkDropdown">
                                    <a href="#" class="dropdown-item">Link</a>
                                    <a href="#" class="dropdown-item">Link</a>
                                    <a href="#" class="dropdown-item">Link</a>
                                </div>
                            </div>
                            <a href="#" class="nav-link disabled" aria-disabled="true" tabindex="-1">Disabled</a>
                        </div>
                        <form class="d-flex">
                            <div class="form-input me-2">
                                <input class="input-filled" type="search" placeholder="Search" aria-label="Search">
                                <span class="ripple-line"></span>
                            </div>
                            <div class="d-flex">
                                <button class="btn ripple btn-outline-light" type="submit">Search</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="mb-4">
            <div class="navbar navbar-expand-lg navbar-dark bg-danger">
                <div class="container-fluid">
                    <div class="navbar-brand">
                        Hello
                    </div>
                    <button class="navbar-toggler" type="button" data-ui-toggle="collapse" data-ui-target="#navbar8" aria-expanded="false" aria-controls="navbar8" aria-label="Open Menu">
                        <span class="navbar-toggler-icon" aria-hidden="true"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbar8">
                        <div class="navbar-nav me-auto mb-2 mb-lg-0">
                            <a href="#" class="nav-link active">
                                Active
                                <span class="visually-hidden">(Current)</span>
                            </a>
                            <a href="#" class="nav-link">
                                Link
                            </a>
                            <div class="dropdown">
                                <a href="#" id="darkDropdown" class="nav-link dropdown-toggle" data-ui-toggle="dropdown" data-ui-reference="parent" aria-haspopup="true" aria-expanded="false">Dropdown</a>
                                <div class="dropdown-menu shadow-sm" aria-labelledby="darkDropdown">
                                    <a href="#" class="dropdown-item">Link</a>
                                    <a href="#" class="dropdown-item">Link</a>
                                    <a href="#" class="dropdown-item">Link</a>
                                </div>
                            </div>
                            <a href="#" class="nav-link disabled" aria-disabled="true" tabindex="-1">Disabled</a>
                        </div>
                        <form class="d-flex">
                            <div class="form-input me-2">
                                <input class="input-filled" type="search" placeholder="Search" aria-label="Search">
                                <span class="ripple-line"></span>
                            </div>
                            <div class="d-flex">
                                <button class="btn ripple btn-outline-light" type="submit">Search</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <h4>Scrolling</h4>
        <div class="mb-4">
            <div class="navbar navbar-expand-lg navbar-light bg-light">
                <div class="container-fluid">
                    <div class="navbar-brand">
                        Hello
                    </div>
                    <button class="navbar-toggler" type="button" data-ui-toggle="collapse" data-ui-target="#navbar9" aria-expanded="false" aria-controls="navbar9" aria-label="Open Menu">
                        <span class="navbar-toggler-icon" aria-hidden="true"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbar9">
                        <div class="navbar-nav navbar-nav-scroll me-auto mb-2 mb-lg-0" style="max-height: 100px;">
                            <a href="#" class="nav-link active">
                                Active
                                <span class="visually-hidden">(Current)</span>
                            </a>
                            <a href="#" class="nav-link">
                                Link
                            </a>
                            <div class="dropdown">
                                <a href="#" id="lightDropdown" class="nav-link dropdown-toggle" data-ui-toggle="dropdown" data-ui-reference="parent" aria-haspopup="true" aria-expanded="false">Dropdown</a>
                                <div class="dropdown-menu shadow-sm" aria-labelledby="lightDropdown">
                                    <a href="#" class="dropdown-item">Link</a>
                                    <a href="#" class="dropdown-item">Link</a>
                                    <a href="#" class="dropdown-item">Link</a>
                                </div>
                            </div>
                            <a href="#" class="nav-link disabled" aria-disabled="true" tabindex="-1">Disabled</a>
                        </div>
                        <form class="d-flex">
                            <div class="form-input me-2">
                                <input class="input-filled" type="search" placeholder="Search" aria-label="Search">
                                <span class="ripple-line"></span>
                            </div>
                            <div class="d-flex">
                                <button class="btn ripple btn-outline-dark" type="submit">Search</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>