<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="../../dist/frost-ui.min.css" />
    <script src="../../../FrostCore/dist/frost-core.js"></script>
    <script src="../../../FrostDOM/dist/frost-dom.js"></script>
    <script src="../../dist/frost-ui.js"></script>
</head>

<body>
    <div class="container">
        <h1>Nav Bar</h1>
        <div class="position-relative">
            <div class="navbar navbar-expand-lg navbar-dark bg-dark">
                <div class="navbar-brand">
                    Hello
                </div>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar1"
                    aria-expanded="false" aria-controls="navbar1" aria-label="Open Menu">
                    <span class="navbar-toggler-icon" aria-hidden="true"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbar1">
                    <div class="navbar-nav">
                        <a href="#" class="nav-link active">
                            Active
                            <span class="sr-only">(Current)</span>
                        </a>
                        <a href="#" class="nav-link">
                            Link
                        </a>
                        <div class="dropdown">
                            <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown"
                                data-reference="parent">Dropdown</a>
                            <div class="dropdown-menu shadow-sm">
                                <a href="#" class="dropdown-item">Link</a>
                                <a href="#" class="dropdown-item">Link</a>
                                <a href="#" class="dropdown-item">Link</a>
                            </div>
                        </div>
                        <a href="#" class="nav-link disabled" aria-disabled="true" tabindex="-1">Disabled</a>
                    </div>
                </div>
            </div>
        </div>
        <br />

        <div class="position-relative">
            <div class="navbar navbar-expand-lg navbar-light bg-light">
                <div class="navbar-brand">
                    Hello
                </div>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar2"
                    aria-expanded="false" aria-controls="navbar2" aria-label="Open Menu">
                    <span class="navbar-toggler-icon" aria-hidden="true"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbar2">
                    <div class="navbar-nav">
                        <a href="#" class="nav-link active">
                            Active
                            <span class="sr-only">(Current)</span>
                        </a>
                        <a href="#" class="nav-link">
                            Link
                        </a>
                        <div class="dropdown">
                            <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown"
                                data-reference="parent">Dropdown</a>
                            <div class="dropdown-menu shadow-sm">
                                <a href="#" class="dropdown-item">Link</a>
                                <a href="#" class="dropdown-item">Link</a>
                                <a href="#" class="dropdown-item">Link</a>
                            </div>
                        </div>
                        <a href="#" class="nav-link disabled" aria-disabled="true" tabindex="-1">Disabled</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>