<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="../../dist/frost-ui.min.css" />
    <script src="../../dist/frost-ui-bundle.js"></script>
</head>

<body>
    <div class="container">
        <h1>Pagination</h1>
        <div class="mb-4">
            <div class="pagination">
                <div class="page-item disabled">
                    <a href="#" class="page-link ripple" aria-label="Previous" aria-disabled="true" tabindex="-1">
                        <span class="icon-left" aria-hidden="true"></span>
                    </a>
                </div>
                <div class="page-item active" aria-current="page">
                    <a href="#" class="page-link ripple">
                        1
                        <span class="visually-hidden">(Current)</span>
                    </a>
                </div>
                <div class="page-item">
                    <a href="#" class="page-link ripple">
                        2
                    </a>
                </div>
                <div class="page-item">
                    <a href="#" class="page-link ripple">
                        3
                    </a>
                </div>
                <div class="page-item">
                    <a href="#" class="page-link ripple" aria-label="Next">
                        <span class="icon-right" aria-hidden="true"></span>
                    </a>
                </div>
            </div>
        </div>

        <h4>Sizes</h4>
        <div class="mb-4">
            <div class="pagination pagination-lg">
                <div class="page-item disabled">
                    <a href="#" class="page-link ripple" aria-label="Previous" aria-disabled="true" tabindex="-1">
                        <span class="icon-left" aria-hidden="true"></span>
                    </a>
                </div>
                <div class="page-item active" aria-current="page">
                    <a href="#" class="page-link ripple">
                        1
                        <span class="visually-hidden">(Current)</span>
                    </a>
                </div>
                <div class="page-item">
                    <a href="#" class="page-link ripple">
                        2
                    </a>
                </div>
                <div class="page-item">
                    <a href="#" class="page-link ripple">
                        3
                    </a>
                </div>
                <div class="page-item">
                    <a href="#" class="page-link ripple" aria-label="Next">
                        <span class="icon-right" aria-hidden="true"></span>
                    </a>
                </div>
            </div>
        </div>
        <div class="mb-4">
            <div class="pagination pagination-sm">
                <div class="page-item disabled">
                    <a href="#" class="page-link ripple" aria-label="Previous" aria-disabled="true" tabindex="-1">
                        <span class="icon-left" aria-hidden="true"></span>
                    </a>
                </div>
                <div class="page-item active" aria-current="page">
                    <a href="#" class="page-link ripple">
                        1
                        <span class="visually-hidden">(Current)</span>
                    </a>
                </div>
                <div class="page-item">
                    <a href="#" class="page-link ripple">
                        2
                    </a>
                </div>
                <div class="page-item">
                    <a href="#" class="page-link ripple">
                        3
                    </a>
                </div>
                <div class="page-item">
                    <a href="#" class="page-link ripple" aria-label="Next">
                        <span class="icon-right" aria-hidden="true"></span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</body>

</html>