<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Placeholders</title>
    <link rel="stylesheet" href="../../dist/frost-ui.css" />
    <script src="../../dist/frost-ui-bundle.js"></script>
    <style>
        svg {
            text-anchor: middle;
            user-select: none;
        }
    </style>
</head>

<body>
    <div class="container">
        <h1>Placeholders</h1>
        <div class="d-flex justify-content-around mb-4">
            <div class="card shadow-sm" style="width: 350px;">
                <svg class="card-img-top" width="100%" height="180" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder">
                    <title>Placeholder</title>
                    <rect width="100%" height="100%" fill="#228c22"></rect>
                </svg>
                <div class="card-body">
                    <h5 class="card-title">Card Title</h5>
                    <p class="card-text">This is the body of the card, including several several lines of additional body text.</p>
                    <button class="btn btn-primary btn-lg ripple" type="button">Button</button>
                </div>
            </div>
            <div class="card shadow-sm" style="width: 350px;">
                <svg class="card-img-top" width="100%" height="180" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder">
                    <title>Placeholder</title>
                    <rect width="100%" height="100%" fill="#868e96"></rect>
                </svg>
                <div class="card-body">
                    <h5 class="card-title placeholder-glow">
                        <span class="placeholder col-6"></span>
                    </h5>
                    <p class="card-text placeholder-glow">
                        <span class="placeholder col-7"></span>
                        <span class="placeholder col-4"></span>
                        <span class="placeholder col-4"></span>
                        <span class="placeholder col-6"></span>
                        <span class="placeholder col-8"></span>
                    </p>
                    <button class="btn btn-primary btn-lg disabled placeholder col-5" type="button"></button>
                </div>
            </div>
        </div>

        <h4>Width</h4>
        <div class="mb-4">
            <span class="placeholder col-6"></span>
            <span class="placeholder w-75"></span>
            <span class="placeholder" style="width: 25%;"></span>
        </div>

        <h4>Styles</h4>
        <div class="mb-4">
            <span class="placeholder col-12 bg-primary"></span>
            <span class="placeholder col-12 bg-secondary"></span>
            <span class="placeholder col-12 bg-success"></span>
            <span class="placeholder col-12 bg-info"></span>
            <span class="placeholder col-12 bg-warning"></span>
            <span class="placeholder col-12 bg-danger"></span>
            <span class="placeholder col-12 bg-light"></span>
            <span class="placeholder col-12 bg-dark"></span>
        </div>

        <h4>Sizes</h4>
        <div class="mb-4">
            <span class="placeholder col-12 placeholder-lg"></span>
            <span class="placeholder col-12"></span>
            <span class="placeholder col-12 placeholder-sm"></span>
            <span class="placeholder col-12 placeholder-xs"></span>
        </div>

        <h4>Animation</h4>
        <div class="mb-4">
            <div class="placeholder-glow">
                <span class="placeholder col-12"></span>
            </div>
            <div class="placeholder-wave">
                <span class="placeholder col-12"></span>
            </div>
        </div>
    </div>
</body>

</html>