<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="../../dist/frost-ui.min.css" />
    <script src="../../../FrostCore/dist/frost-core.js"></script>
    <script src="../../../FrostDOM/dist/frost-dom.js"></script>
    <script src="../../dist/frost-ui.js"></script>
</head>

<body>
    <div class="container">
        <h1>Spinner</h1>
        <span class="spinner-border"></span>
        <h4>Styles</h4>
        <span class="spinner-border text-primary"></span>
        <span class="spinner-border text-secondary"></span>
        <span class="spinner-border text-success"></span>
        <span class="spinner-border text-info"></span>
        <span class="spinner-border text-warning"></span>
        <span class="spinner-border text-danger"></span>
        <h4>Sizes</h4>
        <span class="spinner-border spinner-border-sm text-primary"></span>
        <span class="spinner-border spinner-border-sm text-secondary"></span>
        <span class="spinner-border spinner-border-sm text-success"></span>
        <span class="spinner-border spinner-border-sm text-info"></span>
        <span class="spinner-border spinner-border-sm text-warning"></span>
        <span class="spinner-border spinner-border-sm text-danger"></span>
        <hr />
        <h1>Grow</h1>
        <span class="spinner-grow"></span>
        <h4>Styles</h4>
        <span class="spinner-grow text-primary"></span>
        <span class="spinner-grow text-secondary"></span>
        <span class="spinner-grow text-success"></span>
        <span class="spinner-grow text-info"></span>
        <span class="spinner-grow text-warning"></span>
        <span class="spinner-grow text-danger"></span>
        <h4>Sizes</h4>
        <span class="spinner-grow spinner-grow-sm text-primary"></span>
        <span class="spinner-grow spinner-grow-sm text-secondary"></span>
        <span class="spinner-grow spinner-grow-sm text-success"></span>
        <span class="spinner-grow spinner-grow-sm text-info"></span>
        <span class="spinner-grow spinner-grow-sm text-warning"></span>
        <span class="spinner-grow spinner-grow-sm text-danger"></span>
    </div>
</body>

</html>