<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Tabs</title>
    <link rel="stylesheet" href="../../dist/frost-ui.min.css" />
    <script src="../../dist/frost-ui-bundle.js"></script>
</head>

<body>
    <div class="container">
        <h1>Tabs</h1>
        <div class="mb-4">
            <div class="nav nav-tabs" role="tablist">
                <a class="nav-link active" id="tab1Link" data-ui-toggle="tab" href="#tab1" role="tab" aria-selected="true">Active</a>
                <a class="nav-link" id="tab2Link" data-ui-toggle="tab" href="#tab2" role="tab" aria-selected="false">Link</a>
                <a class="nav-link disabled" id="tab3Link" data-ui-toggle="tab" href="#tab3" tabindex="-1" role="tab" aria-selected="false" aria-disabled="true">Disabled</a>
            </div>
            <div class="tab-content">
                <div class="tab-pane active" id="tab1" role="tabpanel" aria-labelledby="tab1Link">
                    <p class="p-2">This is the active tab content.</p>
                </div>
                <div class="tab-pane" id="tab2" role="tabpanel" aria-labelledby="tab2Link">
                    <p class="p-2">This is the hidden tab content.</p>
                </div>
            </div>
        </div>

        <h4>Pills</h4>
        <div class="mb-4">
            <div class="nav nav-pills" role="tablist">
                <a class="nav-link active" id="pillTab1Link" data-ui-toggle="tab" href="#pillTab1" role="tab" aria-selected="true">Active</a>
                <a class="nav-link" id="pillTab2Link" data-ui-toggle="tab" href="#pillTab2" role="tab" aria-selected="false">Link</a>
                <a class="nav-link disabled" id="pillTab3Link" data-ui-toggle="tab" href="#pillTab3" tabindex="-1" role="tab" aria-selected="false" aria-disabled="true">Disabled</a>
            </div>
            <div class="tab-content">
                <div class="tab-pane active" id="pillTab1" role="tabpanel" aria-labelledby="pillTab1Link">
                    <p class="p-2">This is the active tab content.</p>
                </div>
                <div class="tab-pane" id="pillTab2" role="tabpanel" aria-labelledby="pillTab2Link">
                    <p class="p-2">This is the hidden tab content.</p>
                </div>
            </div>
        </div>

        <h4>Vertical Pills</h4>
        <div class="mb-4">
            <div class="row">
                <div class="col-3">
                    <div class="nav flex-column nav-pills" role="tablist" aria-orientation="vertical">
                        <a class="nav-link active" id="verticalPillTab1Link" data-ui-toggle="tab" href="#verticalPillTab1" role="tab">Active</a>
                        <a class="nav-link" id="verticalPillTab2Link" data-ui-toggle="tab" href="#verticalPillTab2" role="tab">Link</a>
                        <a class="nav-link disabled" id="verticalPillTab3Link" data-ui-toggle="tab" href="#verticalPillTab3" tabindex="-1" role="tab" aria-disabled="true">Disabled</a>
                    </div>
                </div>
                <div class="col-9">
                    <div class="tab-content">
                        <div class="tab-pane active" id="verticalPillTab1" role="tabpanel" aria-labelledby="verticalPillTab1Link">
                            <p class="p-2">This is the active tab content.</p>
                        </div>
                        <div class="tab-pane" id="verticalPillTab2" role="tabpanel" aria-labelledby="verticalPillTab2Link">
                            <p class="p-2">This is the hidden tab content.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>