<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="../../dist/frost-ui.css" />
    <script src="../../dist/frost-ui-bundle.js"></script>
</head>

<body>
    <div class="container">
        <h1>Toasts</h1>
        <div class="mb-4">
            <div class="toast shadow-sm show" role="alert" aria-live="assertive" aria-atomic="true" data-toggle="toast">
                <div class="toast-header">
                    <strong class="me-auto">Toast</strong>
                    <button type="button" class="close" data-dismiss="toast" aria-label="Close">
                        <small class="icon-cancel" aria-hidden="true"></small>
                    </button>
                </div>
                <div class="toast-body">
                    This is the toast content.
                </div>
            </div>
        </div>

        <h4>Stacking</h4>
        <div class="mb-4">
            <div class="toast-container">
                <div class="toast shadow-sm show" role="alert" aria-live="assertive" aria-atomic="true"
                    data-toggle="toast">
                    <div class="toast-header">
                        <strong class="me-auto">Toast</strong>
                        <button type="button" class="close" data-dismiss="toast" aria-label="Close">
                            <small class="icon-cancel" aria-hidden="true"></small>
                        </button>
                    </div>
                    <div class="toast-body">
                        This is the toast content.
                    </div>
                </div>
                <div class="toast shadow-sm show" role="alert" aria-live="assertive" aria-atomic="true"
                    data-toggle="toast">
                    <div class="toast-header">
                        <strong class="me-auto">Toast</strong>
                        <button type="button" class="close" data-dismiss="toast" aria-label="Close">
                            <small class="icon-cancel" aria-hidden="true"></small>
                        </button>
                    </div>
                    <div class="toast-body">
                        This is the toast content.
                    </div>
                </div>
            </div>
        </div>

        <h4>Styles</h4>
        <div class="mb-4">
            <div class="toast shadow-sm d-flex align-items-center text-white bg-primary border-0 show" role="alert"
                aria-live="assertive" aria-atomic="true" data-toggle="toast">
                <div class="toast-body">
                    This is the toast content.
                </div>
                <button type="button" class="close ms-auto me-2" data-dismiss="toast" aria-label="Close">
                    <span class="icon-cancel" aria-hidden="true"></span>
                </button>
            </div>
        </div>
    </div>
</body>

</html>