[data-toggle="dropdown"]::after {
    margin-left: .5rem;
    content: @arrow-down;
}

[data-placement="top"] [data-toggle="dropdown"]::after,
[data-placement="top"][data-toggle="dropdown"]::after {
    content: @arrow-up;
}

[data-placement="right"] [data-toggle="dropdown"]::after,
[data-placement="right"][data-toggle="dropdown"]::after {
    content: @arrow-right;
}

[data-placement="left"] [data-toggle="dropdown"]::after,
[data-placement="left"][data-toggle="dropdown"]::after {
    content: @arrow-left;
}

.open .dropdown-menu {
    display: block;
    overflow: hidden;
}

.dropdown-menu {
    display: none;
    position: absolute;
    z-index: @z-dropdown;
    background-color: @white;
    border: @border-size @border-style @border-color;
    border-radius: @border-radius;

    & > :first-child {
        border-top-left-radius: inherit;
        border-top-right-radius: inherit;
    }

    & > :last-child {
        border-bottom-left-radius: inherit;
        border-bottom-right-radius: inherit;
    }
}

.dropdown-item {
    display: block;
    padding: (@spacing / 4) (@spacing * 2);
    width: 100%;
    border: 0;
    background-color: @white;
    text-align: left;

    button&,
    &[href] {
        &:hover,
        &:focus {
            background-color: rgba(0, 0, 0, .1);
            text-decoration: none;
        }
    }

    &.active {
        background-color: @link;
        .text-color(@link);

        button&,
        &[href] {
            &:hover,
            &:focus {
                background-color: darken(@link, 5%);
            }
        }
    }

    &.disabled {
        opacity: @disabled-opacity;
        pointer-events: none;
    }
}

.dropdown-header {
    display: block;
    padding: (@spacing / 2) @spacing;
    margin-bottom: 0;
    font-size: .875rem;
    color: @dark;
    white-space: nowrap;
}

.dropdown-divider {
    height: 0;
    margin: (@spacing / 2) 0;
    overflow: hidden;
    border-top: @border-size @border-style @border-color;
}