.modal-open {
    overflow: hidden;

    & .modal {
        overflow-x: hidden;
        overflow-y: auto;
    }
}

.modal,
.modal-backdrop {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.modal-backdrop {
    background-color: @border-color;
    z-index: @z-modal-backdrop;
}

.modal {
    z-index: @z-modal;
    display: none;
    overflow: hidden;

    &.show {
        display: block;
    }
}

.modal-dialog {
    position: relative;
    width: auto;
    margin: (@spacing / 2) auto;
    max-width: 500px;
    pointer-events: none;

    &.modal-sm {
        max-width: 300px;
    }

    &.modal-lg {
        max-width: 800px;
    }

    &.modal-xl {
        max-width: 1140px;
    }
}

.modal-dialog-scrollable {
    display: flex;
    max-height: calc(100% - @spacing);

    & .modal-content {
        max-height: calc(100vh - @spacing);
        overflow: hidden;
    }

    & .modal-header,
    & .modal-footer {
        flex-shrink: 0;
    }

    & .modal-body {
        overflow-y: auto;
    }
}

.modal-dialog-centered {
    display: flex;
    align-items: center;
    min-height: calc(100% - @spacing);
}

.modal-content {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 100%;
    pointer-events: auto;
    background-color: @white;
    border: @border-size @border-style @border-color;
    border-radius: @border-radius;
    box-shadow: @shadow-lg;
}

.modal-header {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding: @spacing;
    border-bottom: @border-size @border-style @border-color;
}

.modal-body {
    padding: @spacing;
}

.modal-footer {
    padding: @spacing;
    border-top: @border-size @border-style @border-color;
}

@media (min-width: @break-xs) {
    .modal-dialog {
        margin: (@spacing * 2) auto;
    }

    .modal-dialog-scrollable {
        max-height: calc(100% - (@spacing * 3));
    }

    .modal-dialog-scrollable .modal-content {
        max-height: calc(100vh - (@spacing * 5));
    }

    .modal-dialog-centered {
        min-height: calc(100% - (@spacing * 4));
    }
}