.mix-text(@b: -) {
    .text@{b}left {
        text-align: left !important;
    }

    .text@{b}center {
        text-align: center !important;
    }

    .text@{b}right {
        text-align: right !important;
    }

    .text@{b}justify {
        text-align: justify !important;
    }
}

.mix-text();

.align-baseline {
    vertical-align: baseline !important;
}

.align-top {
    vertical-align: top !important;
}

.align-middle {
    vertical-align: middle !important;
}

.align-bottom {
    vertical-align: bottom !important;
}

.align-text-top {
    vertical-align: text-top !important;
}

.align-text-bottom {
    vertical-align: text-bottom !important;
}

@media (min-width: @break-xs) {
    .mix-text(-sm-);
}

@media (min-width: @break-sm) {
    .mix-text(-md-);
}

@media (min-width: @break-md) {
    .mix-text(-lg-);
}

@media (min-width: @break-lg) {
    .mix-text(-xl-);
}

@media (min-width: @break-xl) {
    .mix-text(-xxl-);
}