.mix-border(@n, @i: 0) when (@i =< @n) {
    .border-@{i} {
        border-width: (@border-size * @i) !important;
    }

    .mix-border(@n, (@i + 1));
}

.mix-border-radius(@n, @i: 0) when (@i =< @n) {
    .rounded-@{i} {
        border-radius: (@border-radius / 2 * @i) !important;
    }

    .mix-border-radius(@n, (@i + 1));
}

.border {
    border: @border-size @border-style @border-color !important;
}

.border-top {
    border-top: @border-size @border-style @border-color !important;
}

.border-end {
    border-right: @border-size @border-style @border-color !important;
}

.border-bottom {
    border-bottom: @border-size @border-style @border-color !important;
}

.border-start {
    border-left: @border-size @border-style @border-color !important;
}

.mix-border(5);

.border-top-0 {
    border-top: 0 !important;
}

.border-start-0 {
    border-right: 0 !important;
}

.border-bottom-0 {
    border-bottom: 0 !important;
}

.border-end-0 {
    border-left: 0 !important;
}

.rounded {
    border-radius: @border-radius !important;
}

.rounded-top {
    border-top-left-radius: @border-radius !important;
    border-top-right-radius: @border-radius !important;
}

.rounded-end {
    border-top-right-radius: @border-radius !important;
    border-bottom-right-radius: @border-radius !important;
}

.rounded-bottom {
    border-bottom-left-radius: @border-radius !important;
    border-bottom-right-radius: @border-radius !important;
}

.rounded-start {
    border-top-left-radius: @border-radius !important;
    border-bottom-left-radius: @border-radius !important;
}

.rounded-circle {
    border-radius: 50% !important;
}

.rounded-pill {
    border-radius: 5rem !important;
}

.mix-border-radius(3);