.mix-border(@n, @i: 0) when (@i =< @n) {
    .border-@{i} {
        border-width: (@border-size * @i) !important;
    }

    .mix-border(@n, (@i + 1));
}

.border {
    border: @border-size @border-style @border-color !important;
}

.border-top {
    border-top: @border-size @border-style @border-color !important;
}

.border-right {
    border-right: @border-size @border-style @border-color !important;
}

.border-bottom {
    border-bottom: @border-size @border-style @border-color !important;
}

.border-left {
    border-left: @border-size @border-style @border-color !important;
}

.mix-border(5);

.border-top-0 {
    border-top: 0 !important;
}

.border-right-0 {
    border-right: 0 !important;
}

.border-bottom-0 {
    border-bottom: 0 !important;
}

.border-left-0 {
    border-left: 0 !important;
}

.rounded {
    border-radius: @border-radius !important;
}

.rounded-sm {
    border-radius: (@border-radius * .75) !important;
}

.rounded-lg {
    border-radius: (@border-radius * 1.25) !important;
}

.rounded-top {
    border-top-left-radius: @border-radius !important;
    border-top-right-radius: @border-radius !important;
}

.rounded-right {
    border-top-right-radius: @border-radius !important;
    border-bottom-right-radius: @border-radius !important;
}

.rounded-bottom {
    border-bottom-left-radius: @border-radius !important;
    border-bottom-right-radius: @border-radius !important;
}

.rounded-left {
    border-top-left-radius: @border-radius !important;
    border-bottom-left-radius: @border-radius !important;
}

.rounded-circle {
    border-radius: 50% !important;
}

.rounded-pill {
    border-radius: (@spacing * 5) !important;
}

.rounded-0 {
    border-radius: 0 !important;
}