.mix-color(@name) {
    .bg-@{name} {
        background-color: @@name !important;
    }

    .text-@{name} {
        color: @@name !important;
    }

    .border-@{name} {
        border-color: @@name !important;
    }
}

.mix-color(white);
.mix-color(black);

.mix-color(primary);
.mix-color(secondary);
.mix-color(success);
.mix-color(info);
.mix-color(warning);
.mix-color(danger);
.mix-color(light);
.mix-color(dark);

.text-muted {
    color: tint(@text, @text-lighter);
}

.text-body {
    color: @text !important;
}

.text-black-50 {
    color: fade(@black, 50%) !important;
}

.text-white-50 {
    color: fade(@white, 50%) !important;
}

.bg-transparent {
    background-color: transparent !important;
}

.bg-gradient {
    background-image: linear-gradient(180deg, rgba(255, 255, 255, 0.25), rgba(255, 255, 255, 0)) !important;
}