.mix-color(@name) {
    .bg-@{name} {
        background-color: @@name !important;
    }

    .text-@{name} {
        color: @@name !important;
    }

    .border-@{name} {
        border-color: @@name !important;
    }
}

.mix-color(white);
.mix-color(black);

.mix-color(primary);
.mix-color(secondary);
.mix-color(success);
.mix-color(info);
.mix-color(warning);
.mix-color(danger);
.mix-color(light);
.mix-color(dark);

.text-muted {
    .text-lighter(@text);
}