.mix-color(@name) {
    .bg-@{name} {
        background-color: @@name !important;
    }

    .text-@{name} {
        color: @@name !important;
    }

    .border-@{name} {
        border-color: @@name !important;
    }
}

.text-color(@background) {
    @luma: unit(luma(@background));
    @result: if((@luma < 55), @white, @black);
    color: @result;
}

.mix-color(white);
.mix-color(black);

.mix-color(primary);
.mix-color(secondary);
.mix-color(success);
.mix-color(info);
.mix-color(warning);
.mix-color(danger);
.mix-color(light);
.mix-color(dark);

.text-muted {
    color: lighten(@text, 50%);
}