.mix-cols(@n, @b: -, @i: 1) when (@i =< @n) {
    @width: (@i * 100% / @n);

    .col@{b}@{i} {
        flex: 0 0 @width;
        max-width: @width;
    }

    .offset@{b}@{i} {
        margin-left: @width;
    }

    .order@{b}@{i} {
        order: @i;
    }

    .mix-cols(@n, @b, (@i + 1));
}

.mix-cols(@grid-size);

@media (min-width: @break-xs) {
    .mix-cols(@grid-size, -sm-);
}

@media (min-width: @break-sm) {
    .mix-cols(@grid-size, -md-);
}

@media (min-width: @break-md) {
    .mix-cols(@grid-size, -lg-);
}

@media (min-width: @break-lg) {
    .mix-cols(@grid-size, -xl-);
}