.mix-display(@b: -) {
    .d@{b}inline {
        display: inline !important;
    }

    .d@{b}inline-block {
        display: inline-block !important;
    }

    .d@{b}block {
        display: block !important;
    }

    .d@{b}table {
        display: table !important;
    }

    .d@{b}table-cell {
        display: table-cell !important;
    }

    .d@{b}table-row {
        display: table-row !important;
    }

    .d@{b}flex {
        display: flex !important;
    }

    .d@{b}inline-flex {
        display: inline-flex !important;
    }

    .d@{b}none {
        display: none !important;
    }
}

.mix-display();

@media (min-width: @break-xs) {
    .mix-display(-sm-);
}

@media (min-width: @break-sm) {
    .mix-display(-md-);
}

@media (min-width: @break-md) {
    .mix-display(-lg-);
}

@media (min-width: @break-lg) {
    .mix-display(-xl-);
}

@media (min-width: @break-xl) {
    .mix-display(-xxl-);
}

@media only print {
    .mix-display(-print-);
}