.mix-display(@b: -) {
    .d@{b}none {
        display: none !important;
    }

    .d@{b}inline {
        display: inline !important;
    }

    .d@{b}inline-block {
        display: inline-block !important;
    }

    .d@{b}block {
        display: block !important;
    }

    .d@{b}table {
        display: table !important;
    }

    .d@{b}table-cell {
        display: table-cell !important;
    }

    .d@{b}table-row {
        display: table-row !important;
    }

    .d@{b}flex {
        display: flex !important;
    }

    .d@{b}inline-flex {
        display: inline-flex !important;
    }
}

.visible {
    visibility: visible;
}

.invisible {
    visibility: hidden;
}