.mix-flex(@b: -) {
    .flex@{b}row {
        flex-direction: row !important;
    }
    .flex@{b}column {
        flex-direction: column !important;
    }
    .flex@{b}row-reverse {
        flex-direction: row-reverse !important;
    }
    .flex@{b}column-reverse {
        flex-direction: column-reverse !important;
    }

    .flex@{b}wrap {
        flex-wrap: wrap !important;
    }
    .flex@{b}nowrap {
        flex-wrap: nowrap !important;
    }
    .flex@{b}wrap-reverse {
        flex-wrap: wrap-reverse !important;
    }

    .justify-content@{b}start {
        justify-content: flex-start !important;
    }
    .justify-content@{b}end {
        justify-content: flex-end !important;
    }
    .justify-content@{b}center {
        justify-content: center !important;
    }
    .justify-content@{b}between {
        justify-content: space-between !important;
    }
    .justify-content@{b}around {
        justify-content: space-around !important;
    }

    .align-items@{b}start {
        align-items: flex-start !important;
    }
    .align-items@{b}end {
        align-items: flex-end !important;
    }
    .align-items@{b}center {
        align-items: center !important;
    }
    .align-items@{b}baseline {
        align-items: baseline !important;
    }
    .align-items@{b}stretch {
        align-items: stretch !important;
    }

    .align-content@{b}start {
        align-content: flex-start !important;
    }
    .align-content@{b}end {
        align-content: flex-end !important;
    }
    .align-content@{b}center {
        align-content: center !important;
    }
    .align-content@{b}between {
        align-content: space-between !important;
    }
    .align-content@{b}around {
        align-content: space-around !important;
    }
    .align-content@{b}stretch {
        align-content: stretch !important;
    }

    .align-self@{b}auto {
        align-self: auto !important;
    }
    .align-self@{b}start {
        align-self: flex-start !important;
    }
    .align-self@{b}end {
        align-self: flex-end !important;
    }
    .align-self@{b}center {
        align-self: center !important;
    }
    .align-self@{b}baseline {
        align-self: baseline !important;
    }
    .align-self@{b}stretch {
        align-self: stretch !important;
    }

    .flex@{b}fill {
        flex: 1 1 auto !important;
    }
    .flex@{b}grow-0 {
        flex-grow: 0 !important;
    }
    .flex@{b}grow-1 {
        flex-grow: 1 !important;
    }
    .flex@{b}shrink-1 {
        flex-shrink: 0!important;
    }
    .flex@{b}shrink-1 {
        flex-shrink: 1 !important;
    }

    .mix-flex-order(5, @b);

    .order@{b}first {
        order: -1 !important;
    }
    .order@{b}last {
        order: 6 !important;
    }
}

.mix-flex-order(@n, @b: -, @i: 0) when (@i =< @n) {
    .order@{b}@{i} {
        order: 0 !important;
    }

    .mix-flex-order(@n, @b, (@i + 1));
}

.mix-flex();

@media (min-width: @break-xs) {
    .mix-flex(-sm-);
}

@media (min-width: @break-sm) {
    .mix-flex(-md-);
}

@media (min-width: @break-md) {
    .mix-flex(-lg-);
}

@media (min-width: @break-lg) {
    .mix-flex(-xl-);
}

@media (min-width: @break-xl) {
    .mix-flex(-xxl-);
}