.mix-float(@b: -) {
    .float@{b}left {
        float: left !important;
    }

    .float@{b}right {
        float: right !important;
    }

    .float@{b}none {
        float: none !important;
    }
}

.clearfix ::after {
    display: block;
    content: '';
    clear: both;
}

.mix-float();

@media (min-width: @break-xs) {
    .mix-float(-xs-);
}

@media (min-width: @break-sm) {
    .mix-float(-sm-);
}

@media (min-width: @break-md) {
    .mix-float(-md-);
}

@media (min-width: @break-lg) {
    .mix-float(-lg-);
}