.mix-float(@b: -) {
    .float@{b}start {
        float: left !important;
    }

    .float@{b}end {
        float: right !important;
    }

    .float@{b}none {
        float: none !important;
    }
}

.mix-float();

@media (min-width: @break-xs) {
    .mix-float(-sm-);
}

@media (min-width: @break-sm) {
    .mix-float(-md-);
}

@media (min-width: @break-md) {
    .mix-float(-lg-);
}

@media (min-width: @break-lg) {
    .mix-float(-xl-);
}

@media (min-width: @break-xl) {
    .mix-float(-xxl-);
}