.icon-cancel::before {
    content: @cancel;
}

.icon-tick::before {
    content: @tick;
}

.icon-dot::before {
    content: @dot;
}

.icon-arrow-up::before {
    content: @arrow-up;
}

.icon-arrow-right::before {
    content: @arrow-right;
}

.icon-arrow-down::before {
    content: @arrow-down;
}

.icon-arrow-left::before {
    content: @arrow-left;
}

.icon-sort::before {
    content: @sort;
}

.icon-sort-asc::before {
    content: @sort-asc;
}

.icon-sort-desc::before {
    content: @sort-desc;
}

.icon-folder-open::before {
    content: @folder-open;
}

.icon-upload::before {
    content: @upload;
}

.icon-download::before {
    content: @download;
}

.icon-copy::before {
    content: @copy;
}

.icon-cut::before {
    content: @cut;
}

.icon-calendar::before {
    content: @calendar;
}

.icon-clock::before {
    content: @clock;
}