.icon-cancel {
    content: @cancel;
}

.icon-tick {
    content: @check-tick;
}

.icon-dot {
    content: @radio-dot;
}

.icon-up {
    content: @arrow-up;
}

.icon-right {
    content: @arrow-right;
}

.icon-down {
    content: @arrow-down;
}

.icon-left {
    content: @arrow-left;
}

.icon-sort {
    content: @sort;
}

.icon-sort-asc {
    content: @sort-asc;
}

.icon-sort-desc {
    content: @sort-desc;
}

.icon-folder-open {
    content: @folder-open;
}

.icon-upload {
    content: @upload;
}

.icon-download {
    content: @download;
}

.icon-calendar::before {
    content: @calendar;
}