.icon-cancel::before {
    content: @cancel;
}

.icon-tick::before {
    content: @check-tick;
}

.icon-dot::before {
    content: @radio-dot;
}

.icon-up::before {
    content: @arrow-up;
}

.icon-right::before {
    content: @arrow-right;
}

.icon-down::before {
    content: @arrow-down;
}

.icon-left::before {
    content: @arrow-left;
}

.icon-sort::before {
    content: @sort;
}

.icon-sort-asc::before {
    content: @sort-asc;
}

.icon-sort-desc::before {
    content: @sort-desc;
}

.icon-folder-open::before {
    content: @folder-open;
}

.icon-upload::before {
    content: @upload;
}

.icon-download::before {
    content: @download;
}

.icon-calendar::before {
    content: @calendar;
}