.mix-position(@n, @i: 0) when (@i < @n) {
    @amount: (100 / (@n - 1)) * @i;

    .top-@{amount} {
        top: unit(@amount, ~'%') !important;
    }

    .end-@{amount} {
        right: unit(@amount, ~'%') !important;
    }

    .bottom-@{amount} {
        bottom: unit(@amount, ~'%') !important;
    }

    .start-@{amount} {
        left: unit(@amount, ~'%') !important;
    }

    .mix-position(@n, (@i + 1));
}

.position-static {
    position: static !important;
}

.position-relative {
    position: relative !important;
}

.position-absolute {
    position: absolute !important;
}

.position-fixed {
    position: fixed !important;
}

.position-sticky {
    position: sticky !important;
}

.mix-position(3);

.translate-middle {
    transform: translateX(-50%) translateY(-50%) !important;
}