.ripple {
    position: relative;
    overflow: hidden;
}

.ripple-effect {
    position: absolute;
    width: 2px;
    height: 2px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.5);
    pointer-events: none;
}