.mix-sizing(@n, @b: -, @i: 1) when (@i =< @n) {
    @size: 100 / @n * @i;
    @amount: 1% * @size;

    .w@{b}@{size} {
        width: @amount !important;
    }

    .h@{b}@{size} {
        height: @amount !important;
    }

    .mix-sizing(@n, @b, (@i + 1));
}

.create-sizing(@n, @b: -) {
    @size: 100;

    .w@{b}auto {
        width: auto !important;
    }

    .h@{b}auto {
        height: auto !important;
    }

    .vw@{b}@{size} {
        width: 100vw !important;
    }

    .vh@{b}@{size} {
        height: 100vh !important;
    }

    .min-vw@{b}@{size} {
        min-width: 100vw !important;
    }

    .min-vh@{b}@{size} {
        min-height: 100vh !important;
    }

    .mw@{b}@{size} {
        max-width: 100% !important;
    }

    .mh@{b}@{size} {
        max-height: 100% !important;
    }

    .mix-sizing(@n, @b);
}

.create-sizing(4);