.mix-spacing(@n, @b: -, @i: 0) when (@i =< @n) {
    @amount: (@spacing / 4) * @i;

    .p@{b}@{i} {
        padding: @amount !important;
    }
    .pt@{b}@{i},
    .py@{b}@{i} {
        padding-top: @amount !important;
    }
    .pr@{b}@{i},
    .px@{b}@{i} {
        padding-right: @amount !important;
    }
    .pb@{b}@{i}, 
    .py@{b}@{i} {
        padding-bottom: @amount !important;
    }
    .pl@{b}@{i},
    .px@{b}@{i} {
        padding-left: @amount !important;
    }

    .m@{b}@{i} {
        margin: @amount;
    }
    .mt@{b}@{i},
    .my@{b}@{i} {
        margin-top: @amount !important;
    }
    .mr@{b}@{i},
    .mx@{b}@{i} {
        margin-right: @amount !important;
    }
    .mb@{b}@{i},
    .my@{b}@{i} {
        margin-bottom: @amount !important;
    }
    .ml@{b}@{i},
    .mx@{b}@{i} {
        margin-left: @amount !important;
    }

    .m@{b}n@{i} {
        margin: -@amount;
    }
    .mt@{b}n@{i},
    .my@{b}n@{i} {
        margin-top: -@amount !important;
    }
    .mr@{b}n@{i},
    .mx@{b}n@{i} {
        margin-right: -@amount !important;
    }
    .mb@{b}n@{i},
    .my@{b}n@{i} {
        margin-bottom: -@amount !important;
    }
    .ml@{b}n@{i},
    .mx@{b}n@{i} {
        margin-left: -@amount !important;
    }

    .gap@{b}@{i} {
        gap: @amount !important;
    }

    .mix-spacing(@n, @b, (@i + 1));
}

.create-spacing(@n, @b: -) {
    .m@{b}auto {
        margin: auto !important;
    }
    .mt@{b}auto,
    .my@{b}auto {
        margin-top: auto !important;
    }
    .mr@{b}auto,
    .mx@{b}auto {
        margin-right: auto !important;
    }
    .mb@{b}auto,
    .my@{b}auto {
        margin-bottom: auto !important;
    }
    .ml@{b}auto,
    .mx@{b}auto {
        margin-left: auto !important;
    }

    .mix-spacing(@n, @b);
}

.create-spacing(5);

@media (min-width: @break-xs) {
    .create-spacing(5, -sm-);
}

@media (min-width: @break-sm) {
    .create-spacing(5, -md-);
}

@media (min-width: @break-md) {
    .create-spacing(5, -lg-);
}

@media (min-width: @break-lg) {
    .create-spacing(5, -xl-);
}

@media (min-width: @break-xl) {
    .create-spacing(5, -xxl-);
}

@media only print {
    .create-spacing(5, -print-);
}