.text-wrap {
    white-space: normal !important;
}

.text-nowrap {
    white-space: nowrap !important;
}

.text-truncate {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.text-break {
    word-break: break-word !important;
    overflow-wrap: break-word !important;
}

.text-lowercase {
    text-transform: lowercase !important;
}

.text-uppercase {
    text-transform: uppercase !important;
}

.text-capitalize {
    text-transform: capitalize !important;
}

.font-weight-bold {
    font-weight: @font-weight-bold !important;
}

.font-weight-bolder {
    font-weight: @font-weight-bolder !important;
}

.font-weight-normal {
    font-weight: @font-weight !important;
}

.font-weight-light {
    font-weight: @font-weight-light !important;
}

.font-weight-lighter {
    font-weight: @font-weight-lighter !important;
}

.font-italic {
    font-style: italic !important;
}

.text-monospace {
    font-family: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace !important;
}

.text-reset {
    color: inherit !important;
}

.text-decoration-none {
    text-decoration: none !important;
}


.blockquote {
    margin-bottom: @spacing;
    font-size: 1.25rem;
}

.blockquote-footer {
    display: block;
    font-size: 80%;
    color: #6c757d;

    &::before {
        content: "\2014 \00A0";
    }
}

.heading-1 {
    font-size: 6rem;
    font-weight: 300;
    line-height: 1.2;
}

.heading-2 {
    font-size: 5.5rem;
    font-weight: 300;
    line-height: 1.2;
}

.heading-3 {
    font-size: 4.5rem;
    font-weight: 300;
    line-height: 1.2;
}

.heading-4 {
    font-size: 3.5rem;
    font-weight: 300;
    line-height: 1.2;
}

.lead {
    font-size: 1.25rem;
    font-weight: 300;
}