.text-nowrap {
    white-space: nowrap !important;
}

.text-truncate {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.text-lowercase {
    text-transform: lowercase !important;
}

.text-uppercase {
    text-transform: uppercase !important;
}

.text-capitalize {
    text-transform: capitalize !important;
}

.text-hide {
    font-size: 0px;
    line-height: 0;
    font-family: a;
    color: transparent;
    text-shadow: none;
    background-color: transparent;
    border: 0;
}

.blockquote {
    margin-bottom: @spacing;
    font-size: 1.25rem;
}

.blockquote-footer {
    display: block;
    font-size: 80%;
    color: #6c757d;

    &::before {
        content: "\2014 \00A0";
    }
}

.heading-1 {
    font-size: 6rem;
    font-weight: 300;
    line-height: 1.2;
}

.heading-2 {
    font-size: 5.5rem;
    font-weight: 300;
    line-height: 1.2;
}

.heading-3 {
    font-size: 4.5rem;
    font-weight: 300;
    line-height: 1.2;
}

.heading-4 {
    font-size: 3.5rem;
    font-weight: 300;
    line-height: 1.2;
}

.lead {
    font-size: 1.25rem;
    font-weight: 300;
}