.mix-alert(@color) {
    .bg-lighter(@color);
    .text-darker(@color);

    .alert-link {
        .text-darkest(@color);
    }
}

.alert {
    position: relative;
    padding: @spacing;
    margin-bottom: @spacing;
    border: @border-size @border-style @border-color;
    border-radius: @border-radius;

    .close {
        position: absolute;
        top: 0;
        right: 0;
        padding: @spacing;
        color: inherit;
    }
}

.alert-dismissable {
    padding-right: (@spacing * 2) + @font-size;
}

.alert-heading {
    color: inherit;
}

.alert-link {
    font-weight: @font-weight-bold;
}

.alert-primary {
    .mix-alert(@primary);
}

.alert-secondary {
    .mix-alert(@secondary);
}

.alert-success {
    .mix-alert(@success);
}

.alert-info {
    .mix-alert(@info);
}

.alert-warning {
    .mix-alert(@warning);
}

.alert-danger {
    .mix-alert(@danger);
}

.alert-light {
    .mix-alert(@light);
}

.alert-dark {
    .mix-alert(@dark);
}