.badge {
    display: inline-block;
    padding: .35em .65em;
    font-size: .75em;
    font-weight: @font-weight-bolder;
    line-height: 1;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    color: @white;
    border-radius: @border-radius;
}

.badge:empty {
    display: none;
}

.btn .badge {
    position: relative;
    top: -@border-size;
}