.badge {
    display: inline-block;
    padding: (@spacing * .35) (@spacing * .65);
    font-size: 75%;
    font-weight: @font-weight-bold;
    line-height: 1;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    color: @white;
    border-radius: @border-radius;
}

.badge:empty {
    display: none;
}

.btn .badge {
    position: relative;
    top: -1px;
}