.breadcrumb {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    margin-bottom: @spacing;
    padding: @half-spacing @spacing;
    background-color: @light;
    border: @border-size @border-style @border-color;
    border-radius: @border-radius;
}

.crumb {
    display: inline-flex;
    margin: 0;

    &.active {
        color: @dark;
    }

    &:not(:last-child)::after {
        display: inline-block;
        padding: 0 @half-spacing;
        color: @divider-color;
        content: @breadcrumb-divider;
    }
}