.breadcrumb {
    display: flex;
    flex-wrap: wrap;
    padding: (@spacing / 2) @spacing;
    margin-bottom: @spacing;
    list-style: none;
    background-color: @light;
    border: @border-size @border-style @border-color;
    border-radius: @border-radius;
}

.breadcrumb-item {
    display: flex;

    &.active {
        color: @dark;
    }

    + .breadcrumb-item {
        padding-left: (@spacing / 2);

        &::before {
            display: inline-block;
            padding-right: (@spacing / 2);
            color: @divider-color;
            content: @breadcrumb-divider;
        }
    }
}