.breadcrumb {
    display: flex;
    flex-wrap: wrap;
    margin: 0 0 @spacing 0;
    list-style: none;
}

.breadcrumb-item {
    display: flex;

    &.active {
        color: @secondary;
    }

    + .breadcrumb-item {
        padding-left: (@spacing / 2);

        &::before {
            display: inline-block;
            padding-right: (@spacing / 2);
            color: @divider-color;
            content: @breadcrumb-divider;
        }
    }
}