.btn-group, .btn-group-vertical {
    display: inline-flex;
}

.btn-group {
    & > .btn:not(.btn-link) {
        &:not(:first-child) {
            margin-left: -@border-size;
            border-top-left-radius: 0;
            border-bottom-left-radius: 0;
            border-left: 0;
        }

        &:not(:last-child):not(.dropdown-toggle) {
            border-top-right-radius: 0;
            border-bottom-right-radius: 0;
            border-right: 0;
        }
    }
}

.btn-group-toggle {
    & > .btn input[type="checkbox"],
    & > .btn input[type="radio"],
    & > .btn-group > .btn input[type="checkbox"],
    & > .btn-group > .btn input[type="radio"] {
        position: absolute;
        clip: rect(0,0,0,0);
        pointer-events: none;
    }
}

.btn-group-vertical {
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;

    & > .btn:not(.btn-link) {
        &:not(:first-child) {
            margin-top: -@border-size;
            border-top-right-radius: 0;
            border-top-left-radius: 0;
            border-top: 0;
        }

        &:not(:last-child):not(.dropdown-toggle) {
            border-bottom-right-radius: 0;
            border-bottom-left-radius: 0;
            border-bottom: 0;
        }
    }
}

.btn-group-lg > .btn,
.btn-lg {
    padding: (@spacing / 3) @spacing;
    font-size: 1.25rem;
}

.btn-group-sm > .btn,
.btn-sm {
    font-size: .8rem;
}

.btn-toolbar {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}