.btn-group, .btn-group-vertical {
    display: inline-flex;
    margin-bottom: @spacing;

    & > .btn:not(.btn-link) {
        margin-bottom: 0;
    }
}

.btn-group {
    & > .btn:not(.btn-link) {
        &:not(:first-child) {
            margin-left: -@border-size;
            border-top-left-radius: 0;
            border-bottom-left-radius: 0;
        }

        &:not(:last-child):not(.dropdown-toggle) {
            border-top-right-radius: 0;
            border-bottom-right-radius: 0;
        }

        &.dropdown-toggle::after {
            margin-left: 0;
        }
    }
}

.btn-group-vertical {
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;

    & > .btn:not(.btn-link) {
        &:not(:first-child) {
            border-top-right-radius: 0;
            border-top-left-radius: 0;
        }

        &:not(:last-child):not(.dropdown-toggle) {
            border-bottom-right-radius: 0;
            border-bottom-left-radius: 0;
        }
    }
}

.btn-group-lg > .btn,
.btn-lg {
    padding: (@spacing / 3) @spacing;
    font-size: 1.25rem;
    line-height: 1.5;
}

.btn-group.sm > .btn,
.btn-sm {
    font-size: .8rem;
    line-height: 1;
}

.btn-toolbar {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}