.mix-btn(@color) {
    background-color: @color;
    .text-color(@color);

    .btn-check:checked + &,
    &.active,
    &.active:hover {
        .bg-darker(@color);
    }

    .btn-check:checked + &:focus,
    &.active:focus,
    &:hover {
        .bg-dark(@color);
        .text-color(@color);
    }

    .btn-check:focus + &,
    &:focus {
        .bg-light(@color);
    }
}

.mix-btn-outline(@color) {
    background-color: transparent;
    color: @color;
    border-color: @color;

    .btn-check:checked + &,
    &.active,
    &.active:hover {
        background-color: transparent;
        .text-dark(@color);
        .border-dark(@color);
    }

    .btn-check:checked + &:focus,
    &.active:focus,
    &:hover {
        background-color: @color;
        .text-color(@color);
        border-color: @border-color;
    }

    .btn-check:focus + &,
    &:focus {
        .bg-light(@color);
        .text-color(@color);
        border-color: @border-color;
    }
}

.btn {
    display: inline-block;
    font-family: @font-family;
    font-weight: @font-weight;
    line-height: @line-height;
    color: @text;
    text-align: center;
    text-decoration: none;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    user-select: none;
    background-color: transparent;
    border: @border-size @border-style @border-color;
    padding: (@spacing / 4) (@spacing / 2);
    font-size: 1rem;
    border-radius: @border-radius;
    transition: all @transition-time @transition-type;
    transition-property: color background-color box-shadow;
    
    &:hover {
        color: @text;
        text-decoration: none;
    }

    .btn-check:focus + &,
    &:focus {
        outline: 0;
        box-shadow: @shadow-sm;
    }

    .btn-check:checked + &,
    .btn-check:active + &,
    &:active,
    &.active {
        box-shadow: @shadow;
    }

    &:disabled,
    &.disabled,
    fieldset:disabled & {
        opacity: @disabled-opacity;
        pointer-events: none;
    }
}

.btn-link {
    color: @link;
    border-color: transparent;
    text-decoration: none;

    &:hover {
        .text-light(@link);
        text-decoration: underline;
    }

    &:focus {
        border-color: @border-color;
        text-decoration: underline;
    }

    &:disabled,
    &.disabled {
        color: @secondary;
    }
}

.btn-lg {
    padding: (@spacing / 3) @spacing;
    font-size: @font-size-lg;
}

.btn-sm {
    font-size: @font-size-sm;
}

.btn-block {
    display: block;
    width: 100%;

    + .btn-block {
        margin-top: @spacing / 2;
    }
}

.btn-primary {
    .mix-btn(@primary);
}

.btn-secondary {
    .mix-btn(@secondary);
}

.btn-success {
    .mix-btn(@success);
}

.btn-info {
    .mix-btn(@info);
}

.btn-warning {
    .mix-btn(@warning);
}

.btn-danger {
    .mix-btn(@danger);
}

.btn-light {
    .mix-btn(@light);
}

.btn-dark {
    .mix-btn(@dark);
}

.btn-outline-primary {
    .mix-btn-outline(@primary);
}

.btn-outline-secondary {
    .mix-btn-outline(@secondary);
}

.btn-outline-success {
    .mix-btn-outline(@success);
}

.btn-outline-info {
    .mix-btn-outline(@info);
}

.btn-outline-warning {
    .mix-btn-outline(@warning);
}

.btn-outline-danger {
    .mix-btn-outline(@danger);
}

.btn-outline-light {
    .mix-btn-outline(@light);
}

.btn-outline-dark {
    .mix-btn-outline(@dark);
}