.mix-btn(@color) {
    background-color: @color;
    .text-color(@color);

    &.active,
    &.active:hover {
        background-color: darken(@color, 20%);
    }

    &:hover:not(:disabled) {
        background-color: darken(@color, 10%);
        .text-color(@color);
    }
}

.mix-btn-outline(@color) {
    background-color: transparent;
    color: @color;
    border-color: @color;

    &.active ,
    &.active:hover {
        background-color: transparent;
        color: darken(@color, 20%);
        border-color: darken(@color, 20%);
    }

    &:hover {
        background-color: @color;
        .text-color(@color);
        border-color: @border-color;
    }
}

.btn {
    display: inline-block;
    padding: @quarter-spacing @half-spacing;
    margin-bottom: @spacing;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    font-size: 1rem;
    line-height: @line-height;
    background-color: transparent;
    border: @border-size @border-style @border-color;
    border-radius: @border-radius;
    transition: color @transition-time @transition-type,
        background-color @transition-time @transition-type,
        box-shadow @transition-time @transition-type;

    &:hover {
        z-index: @z-hover;
    }

    &:focus {
        outline: 0;
        z-index: @z-focus;
        box-shadow: @shadow-xs;
    }

    &:active {
        box-shadow: @shadow;
    }

    &:active,
    &.active,
    &.active:hover {
        z-index: @z-active;
    }

    &:not(.btn-link):hover {
        text-decoration: none;
    }

    button& {
        outline: 0;
        cursor: pointer;

        &:disabled {
            opacity: @disabled-opacity;
            cursor: not-allowed;
        }
    }

    &.disabled {
        opacity: @disabled-opacity;
        pointer-events: none;
    }
}

.btn-pill {
    padding-left: @spacing;
    padding-right: @spacing;
    border-radius: @penta-spacing;

    &.btn-sm {
        padding-left: @half-spacing;
        padding-right: @half-spacing;
    }
}

.btn-block {
    display: block;
    width: 100%;
}

.btn-link {
    border: 0;
    border-radius: 0;
    color: @link;
    box-shadow: none !important;

    &:hover {
        box-shadow: none;
        text-decoration: underline;
    }
}

.btn-primary {
    .mix-btn(@primary);
}

.btn-secondary {
    .mix-btn(@secondary);
}

.btn-success {
    .mix-btn(@success);
}

.btn-info {
    .mix-btn(@info);
}

.btn-warning {
    .mix-btn(@warning);
}

.btn-danger {
    .mix-btn(@danger);
}

.btn-light {
    .mix-btn(@light);
}

.btn-dark {
    .mix-btn(@dark);
}

.btn-outline-primary {
    .mix-btn-outline(@primary);
}

.btn-outline-secondary {
    .mix-btn-outline(@secondary);
}

.btn-outline-success {
    .mix-btn-outline(@success);
}

.btn-outline-info {
    .mix-btn-outline(@info);
}

.btn-outline-warning {
    .mix-btn-outline(@warning);
}

.btn-outline-danger {
    .mix-btn-outline(@danger);
}

.btn-outline-light {
    .mix-btn-outline(@light);
}

.btn-outline-dark {
    .mix-btn-outline(@dark);
}