.card-rows {
    margin-bottom: @spacing;

    & .card {
        margin-bottom: 0;

        &:not(:first-child) {
            border-top-left-radius: 0;
            border-top-right-radius: 0;
            border-top: @border-size @border-style @border-color;
        }

        &:not(:last-child) {
            border-bottom-left-radius: 0;
            border-bottom-right-radius: 0;
        }
    }
}

.card-group,
.card-deck {
    display: flex;
    flex-direction: column;
    border-radius: @border-radius;
    margin-bottom: @spacing;

    & .card {
        margin-bottom: 0;
    }
}

.card-columns  .card {
    margin-bottom: @spacing;
}

.accordion {
    margin-bottom: @spacing;
    border-radius: @border-radius;

    & > .card {
        overflow: hidden;

        &:first-of-type {
            border-bottom: 0;
            border-bottom-right-radius: 0;
            border-bottom-left-radius: 0;
        }

        &:not(:first-of-type):not(:last-of-type) {
            border-bottom: 0;
            border-radius: 0;
        }

        &:last-of-type {
            border-top-left-radius: 0;
            border-top-right-radius: 0;

            & .card-header {
                margin-bottom: -@border-size;
            }
        }
    }
}

@media(min-width: @break-sm) {
    .card-group,
    .card-deck {
        flex-flow: row wrap;

        & .card {
            display: flex;
            flex: 1 0 0%;
        }
    }

    .card-group .card {
        &:not(:first-child) {
            border-top-left-radius: 0;
            border-bottom-left-radius: 0;
            margin-left: -@border-size;
        }
    
        &:not(:last-child) {
            border-top-right-radius: 0;
            border-bottom-right-radius: 0;
        }
    }
    
    .card-deck .card {
        &:not(:first-child) {
            margin-left: @spacing / 2;
        }
    
        &:not(:last-child) {
            margin-right: @spacing / 2;
        }
    }

    .card-columns {
        column-count: 3;
        column-gap: @spacing;
        orphans: 1;
        widows: 1;

        & .card {
            display: inline-block;
            width: 100%;
        }
    }    
}