.card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: @white;
    background-clip: border-box;
    border: @border-size @border-style @border-color;
    border-radius: @border-radius;

    > hr {
        margin-right: 0;
        margin-left: 0;
    }
    
    > .list-group {
        border-top: inherit;
        border-bottom: inherit;

        &:first-child {
            border-top-left-radius: calc(@border-radius - @border-size);
            border-top-right-radius: calc(@border-radius - @border-size);
        }
    
        &:last-child {
            border-bottom-left-radius: calc(@border-radius - @border-size);
            border-bottom-right-radius: calc(@border-radius - @border-size);
        }
    }

    > .card-header + .list-group,
    > .list-group + .card-footer {
        border-top: 0;
    }
}

.card-header {
    padding: (@spacing / 2) @spacing;
    margin-bottom: 0;
    background-color: rgba(0, 0, 0, .075);
    border-bottom: @border-size @border-style @border-color;

    &:first-child {
        border-radius: calc(@border-radius - @border-size) calc(@border-radius - @border-size) 0 0;
    }
}

.card-footer {
    padding: (@spacing / 2) @spacing;
    background-color: rgba(0, 0, 0, .05);
    border-top: @border-size @border-style @border-color;

    &:last-child {
        border-radius: 0 0 calc(@border-radius - @border-size) calc(@border-radius - @border-size);
    }
}

.card-body {
    flex: 1 1 auto;
    padding: @spacing;
}

.card-title {
    margin-bottom: @spacing / 4;
}

.card-subtitle {
    margin-top: -(@spacing / 3);
    margin-bottom: 0;
}

.card-text:last-child {
    margin-bottom: 0;
}

.card-link + .card-link {
    margin-left: @spacing;
}

.card-img-overlay {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 1.25rem;
    border-radius: calc(@border-radius - @border-size);
}

.card-img {
    width: 100%;
}

.card-img-top {
    &:extend(.card-img);
    border-top-left-radius: calc((@spacing / 4) - @border-size);
    border-top-right-radius: calc((@spacing / 4) - @border-size);
}

.card-img-bottom {
    &:extend(.card-img);
    border-bottom-right-radius: calc((@spacing / 4) - @border-size);
    border-bottom-left-radius: calc((@spacing / 4) - @border-size);
}