.carousel {
    position: relative;
    background-color: @dark;
}

.carousel-inner {
    position: relative;
    width: 100%;
    overflow: hidden;
}

.carousel-item {
    display: none;
    backface-visibility: hidden;

    &:not(.active) {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
    }

    &.active {
        position: relative;
        display: block;
        width: 100%;
    }
}

.carousel-control-prev,
.carousel-control-next {
    position: absolute;
    top: 0;
    bottom: 0;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: @spacing;
    color: @light;
    text-align: center;
    opacity: 0.5;
    font-size: 2em;

    &:hover,
    &:focus {
        color: @light;
        text-decoration: none;
        outline: 0;
        opacity: 1;
    }
}

.carousel-control-prev {
    left: 0;
}

.carousel-control-next {
    right: 0;
}

.carousel-control-prev-arrow::before {
    content: @arrow-left;
}

.carousel-control-next-arrow::before {
    content: @arrow-right;
}

.carousel-indicators {
    position: absolute;
    right: 0;
    bottom: 1rem;
    left: 0;
    z-index: 2;
    display: flex;
    justify-content: center;
    padding-left: 0;
    margin-right: @spacing * 2;
    margin-left: @spacing * 2;
    align-items: center;
    list-style: none;

    li {
        box-sizing: content-box;
        flex: 0 1 auto;
        width: 1.5rem;
        height: @spacing / 4;
        margin-right: @spacing / 4;
        margin-left: @spacing / 4;
        text-indent: -999px;
        cursor: pointer;
        background-color: @light;
        background-clip: padding-box;
        border-top: 10px solid transparent;
        border-bottom: 10px solid transparent;
        border-radius: @border-radius;
        opacity: 0.5;
    }

    .active {
        opacity: 1;
    }
}

.carousel-caption {
    position: absolute;
    right: 15%;
    bottom: @spacing * 2;
    left: 15%;
    padding-top: @spacing;
    padding-bottom: @spacing;
    color: @light;
    text-align: center;
}

.carousel-dark {
    background-color: @light;

    .carousel-control-prev,
    .carousel-control-next,
    .carousel-caption {
        color: @dark;
    }

    .carousel-indicators li {
        background-color: @dark;
    }
}