.dropdown-toggle {
    + .dropdown-menu {
        top: 100%;
    }

    &::after {
        margin-left: .5rem;
        content: @arrow-down;
    }
}

.dropdown-toggle-split::after {
    margin-left: 0;
}

[data-placement="top"] {
    + .dropdown-menu {
        top: auto;
        bottom: 100%;
    }

    &.dropdown-toggle::after {
        content: @arrow-up;
    }
}

[data-placement="right"] {
    + .dropdown-menu {
        top: 0;
        right: auto;
        left: 100%;
    }

    &.dropdown-toggle::after {
        content: @arrow-right;
    }
}

[data-placement="left"] {
    + .dropdown-menu {
        top: 0;
        right: 100%;
        left: auto;
    }

    &.dropdown-toggle::after {
        content: @arrow-left;
    }
}

.dropdown-menu {
    position: absolute;
    z-index: @z-dropdown;
    display: none;
    min-width: @spacing * 10;
    padding: (@spacing / 2) 0;
    margin: (@spacing / 8) 0 0;
    font-size: 1rem;
    color: @dark;
    text-align: left;
    list-style: none;
    background-color: @white;
    border: @border-size @border-style @border-color;
    border-radius: @border-radius;

    &.show {
        display: block;
        overflow: hidden;
    }
}

.dropdown-item {
    display: block;
    width: 100%;
    padding: (@spacing / 4) @spacing;
    clear: both;
    font-weight: @font-weight;
    color: @text;
    text-align: inherit;
    white-space: nowrap;
    background-color: transparent;
    border: 0;

    &:first-child {
        border-top-left-radius: inherit;
        border-top-right-radius: inherit;
    }

    &:last-child {
        border-bottom-left-radius: inherit;
        border-bottom-right-radius: inherit;
    }

    &:hover,
    &:focus {
        color: @text;
        text-decoration: none;
        background-color: rgba(0, 0, 0, .1);
    }

    &:active,
    &.active {
        .text-color(@link);
        background-color: @link;
    }

    &:disabled,
    &.disabled {
        opacity: @disabled-opacity;
        pointer-events: none;
    }
}

.dropdown-menu-dark {
    color: @light;
    background-color: @dark;

    .dropdown-item {
        color: @light;
    }
}

.dropdown-header {
    display: block;
    padding: (@spacing / 2) @spacing;
    margin-bottom: 0;
    font-size: .875rem;
    color: @dark;
    white-space: nowrap;
}

.dropdown-divider {
    height: 0;
    margin: (@spacing / 2) 0;
    overflow: hidden;
    border-top: @border-size @border-style @border-color;
}

.dropdown-item-text {
    display: block;
    padding: (@spacing / 4) @spacing;
    color: @text;
}