.mix-list(@color) {
    @background: tint(lighten(@color, 20%), 70%);
    background-color: @background;
    color: darken(@color, 10%);

    &[href]:hover {
        background-color: darken(@background, 5%);
        color: darken(@color, 20%);
    }
}

ul.list {
    list-style: none;
    padding: 0;
}

.list {
    margin-bottom: @spacing;
    border: @border-size @border-style @border-color;
    border-radius: @border-radius;
    background-color: @white;

    & > :first-child {
        border-top-left-radius: inherit;
        border-top-right-radius: inherit;
    }

    & > :last-child {
        border-bottom-left-radius: inherit;
        border-bottom-right-radius: inherit;
    }
}

.list-item {
    width: 100%;
    position: relative;     
    padding: (@spacing / 2) @spacing;
    margin-top: -@border-size;
    border: 0;
    border-bottom: @border-size @border-style @border-color;
    border-top: @border-size @border-style @border-color;
    background-color: transparent;

    &:first-child {
        border-top: 0;
        margin-top: 0;
    }

    &:last-child {
        border-bottom: 0;
    }

    &:active,
    &.active,
    &.active:hover {
        z-index: 3;
    }

    &:focus {
        z-index: 4;
    }

    &[href] {
        &:focus {
            outline: 0;
            box-shadow: 0 2px 3px 0 rgba(0,0,0,.12), 0 2px 2px 0 rgba(0,0,0,.24);
        }

        &:active {
            box-shadow: 0 4px 5px 0 rgba(0,0,0,.14), 0 1px 10px 0 rgba(0,0,0,.12), 0 2px 4px -1px rgba(0,0,0,.2);
        }
    }

    &.active {
        background-color: @link;
        .text-color(@link);

        &[href]:hover {
            background-color: darken(@link, 5%);
        }
    }

    &.disabled {
        color: rgba(0, 0, 0, .5);
        pointer-events: none;
    }
}

button.list-item,
.list-item[href] {
    display: flex;

    &:hover {
        text-decoration: none;
        background-color: rgba(0, 0, 0, .05);
    }
}

.list-primary {
    .mix-list(@primary);
}

.list-secondary {
    .mix-list(@secondary);
}

.list-success {
    .mix-list(@success);
}

.list-info {
    .mix-list(@info);
}

.list-warning {
    .mix-list(@warning);
}

.list-danger {
    .mix-list(@danger);
}

.list-light {
    .mix-list(@light);
}

.list-dark {
    .mix-list(@dark);
}