.mix-list-group-item(@color) {
    @background: tint(lighten(@color, 20%), 50%);
    background-color: @background;
    color: darken(@color, 25%);

    a&,
    button& {
        &:hover:not(:disabled) {
            background-color: darken(@background, 5%);
            color: darken(@color, 40%);
        }
    }
}

.list-group {
    display: flex;
    flex-direction: column;
    margin-bottom: @spacing;
    border-radius: @border-radius;

    & > :first-child {
        border-top-left-radius: inherit;
        border-top-right-radius: inherit;
    }

    & > :last-child {
        border-bottom-left-radius: inherit;
        border-bottom-right-radius: inherit;
    }
}

ul.list-group {
    list-style: none;
    padding: 0;
    margin-bottom: 0;
}

.list-group-flush {
    border-radius: 0;

    & .list-group-item {
        border-left: 0;
        border-right: 0;

        &:first-child {
            border-top: 0;
        }

        &:last-child {
            border-bottom: 0;
        }
    }
}

.list-group-horizontal {
    flex-direction: row;

    & .list-group-item {

        &:first-child {
            border-top-left-radius: inherit;
            border-bottom-left-radius: inherit;
            border-top-right-radius: 0;
        }

        &:last-child {
            border-top-right-radius: inherit;
            border-bottom-right-radius: inherit;
            border-bottom-left-radius: 0;
        }

        &:not(:last-child) {
            border-bottom: @border-size @border-style @border-color;
            border-right: 0;
        }
    }
}

.list-group-item {
    position: relative;     
    padding: @half-spacing @spacing;
    background-color: transparent;
    border: @border-size @border-style @border-color;
    transition: color @transition-time @transition-type, background-color @transition-time @transition-type, box-shadow @transition-time @transition-type;

    a&,
    button& {
        display: flex;

        &:hover,
        &:focus {
            text-decoration: none;
        }
    
        &:hover:not(:disabled) {
            z-index: @z-hover;
            background-color: @shadow-color;
        }

        &:focus {
            box-shadow: @shadow-xs;
        }

        &:active {
            box-shadow: @shadow;
        }
    }

    &:focus {
        z-index: @z-focus;
    }

    &:active,
    &.active,
    &.active:hover {
        z-index: @z-active;
    }

    &.active {
        background-color: @link;
        .text-color(@link);

        a&,
        button& {
            &:hover:not(:disabled) {
                background-color: darken(@link, 5%);
            }
        }
    }

    &:not(:last-child) {
        border-bottom: 0;
    }

    button& {
        outline: 0;
        cursor: pointer;

        &:disabled {
            opacity: @disabled-opacity;
            cursor: not-allowed;
        }
    }

    &.disabled {
        opacity: @disabled-opacity;
        pointer-events: none;
    }
}

.list-group-item-primary {
    .mix-list-group-item(@primary);
}

.list-group-item-secondary {
    .mix-list-group-item(@secondary);
}

.list-group-item-success {
    .mix-list-group-item(@success);
}

.list-group-item-info {
    .mix-list-group-item(@info);
}

.list-group-item-warning {
    .mix-list-group-item(@warning);
}

.list-group-item-danger {
    .mix-list-group-item(@danger);
}

.list-group-item-light {
    .mix-list-group-item(@light);
}

.list-group-item-dark {
    .mix-list-group-item(@dark);
}