.mix-list-group-item(@color) {
    @background: tint(lighten(@color, 20%), 50%);
    background-color: @background;
    color: darken(@color, 10%);

    &[href]:hover {
        background-color: darken(@background, 5%);
        color: darken(@color, 20%);
    }
}

.list-group {
    margin-bottom: @spacing;
    border-radius: @border-radius;

    & > :first-child {
        border-top-left-radius: inherit;
        border-top-right-radius: inherit;
    }

    & > :last-child {
        border-bottom-left-radius: inherit;
        border-bottom-right-radius: inherit;
    }
}

ul.list-group {
    list-style: none;
    padding: 0;
    margin-bottom: 0;
}

.list-group-flush {
    &:first-child .list-group-item:first-child {
        border-top: 0;
    }

    &:last-child .list-group-item:last-child {
        margin-bottom: 0;
        border-bottom: 0;
    }

    & .list-group-item {
        border-right: 0;
        border-left: 0;
        border-radius: 0;

        &:last-child {
            margin-bottom: -@border-size;
        }
    }
}

.list-group-horizontal {
    flex-direction: row;

    & .list-group-item {
        margin-right: -@border-size;
        margin-bottom: 0;

        &:first-child {
            border-top-left-radius: @border-radius;
            border-bottom-left-radius: @border-radius;
            border-top-right-radius: 0;
        }

        &:last-child {
            margin-right: 0;
            border-top-right-radius: @border-radius;
            border-bottom-right-radius: @border-radius;
            border-bottom-left-radius: 0;
        }
    }
}

.list-group-item {
    width: 100%;
    position: relative;     
    padding: (@spacing / 2) @spacing;
    margin-bottom: -@border-size;
    border: @border-size @border-style @border-color;
    background-color: transparent;
    transition: color @transition-time @transition-type, background-color @transition-time @transition-type, box-shadow @transition-time @transition-type;
    border-bottom: 0;

    &button,
    &[href] {
        display: flex;

        &:hover {
            z-index: @z-hover;
            text-decoration: none;
            background-color: @shadow-color;
        }

        &:focus {
            outline: 0;
            box-shadow: @shadow-xs;
        }

        &:active {
            box-shadow: @shadow;
        }
    }

    &:disabled,
    &.disabled {
        opacity: 0.5;
        pointer-events: none;
    }

    &:active,
    &.active,
    &.active:hover {
        z-index: @z-active;
    }

    &.active {
        background-color: @link;
        .text-color(@link);

        &[href]:hover {
            background-color: darken(@link, 5%);
        }
    }

    &:focus {
        z-index: @z-focus;
    }

    &:first-child {
        margin-top: 0;
    }
}

.list-group-item-primary {
    .mix-list-group-item(@primary);
}

.list-group-item-secondary {
    .mix-list-group-item(@secondary);
}

.list-group-item-success {
    .mix-list-group-item(@success);
}

.list-group-item-info {
    .mix-list-group-item(@info);
}

.list-group-item-warning {
    .mix-list-group-item(@warning);
}

.list-group-item-danger {
    .mix-list-group-item(@danger);
}

.list-group-item-light {
    .mix-list-group-item(@light);
}

.list-group-item-dark {
    .mix-list-group-item(@dark);
}