.mix-modal-fullscreen(@b: ~'') {
    .modal-fullscreen@{b} {
        width: 100vw;
        max-width: none;
        height: 100%;
        margin: 0;

        .modal-content {
            height: 100%;
            border: 0;
            border-radius: 0;
        }

        .modal-header {
            border-radius: 0;
        }

        .modal-body {
            overflow-y: auto;
        }

        .modal-footer {
            border-radius: 0;
        }
    }
}

.modal-open {
    overflow: hidden;

    .modal {
        overflow-x: hidden;
        overflow-y: auto;
    }
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    z-index: @z-modal;
    display: none;
    width: 100%;
    height: 100%;
    overflow: hidden;
    outline: 0;

    &.show {
        display: block;
    }
}

.modal-dialog {
    position: relative;
    width: auto;
    margin: @spacing / 2;
    pointer-events: none;
}

.modal-dialog-scrollable {
    max-height: calc(100% - @spacing);

    .modal-content {
        max-height: 100%;
        overflow: hidden;
    }

    .modal-body {
        overflow-y: auto;
    }
}

.modal-dialog-centered {
    display: flex;
    align-items: center;
    min-height: calc(100% - @spacing);
}

.modal-content {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    color: @text;
    pointer-events: auto;
    background-color: @white;
    background-clip: padding-box;
    border: @border-size @border-style @border-color;
    border-radius: @border-radius;
    box-shadow: @shadow-lg;
    outline: 0;
}

.modal-backdrop {
    position: fixed;
    top: 0;
    left: 0;
    z-index: @z-modal-backdrop;
    width: 100vw;
    height: 100vh;
    background-color: @backdrop-color;
}

.modal-header {
    display: flex;
    flex-shrink: 0;
    align-items: flex-start;
    justify-content: space-between;
    padding: @spacing;
    border-bottom: @border-size @border-style @border-color;
    border-top-left-radius: @border-radius;
    border-top-right-radius: @border-radius;

    .close {
        padding: (@spacing / 2);
        margin: -(@spacing / 2) -(@spacing / 2) -(@spacing / 2) auto;
    }
}

.modal-title {
    margin-bottom: 0;
    line-height: @line-height;
}

.modal-body {
    position: relative;
    flex: 1 1 auto;
    padding: @spacing;
}

.modal-footer {
    display: flex;
    flex-wrap: wrap;
    flex-shrink: 0;
    align-items: center;
    justify-content: flex-end;
    padding: @spacing;
    border-top: @border-size @border-style @border-color;
    border-bottom-left-radius: @border-radius;
    border-bottom-right-radius: @border-radius;

    > * {
        margin: @spacing / 4;
    }
}

.modal-left,
.modal-right {

    .modal-dialog {
        width: @modal-side-width;
        max-width: 80%;
        height: 100%;
        margin: 0;
    }

    .modal-content {
        height: inherit;
        border: 0;
        border-radius: 0;
    }

    .modal-body {
        overflow-y: auto;
    }
}

.modal-left .modal-dialog {
    margin-right: auto;
}

.modal-right .modal-dialog {
    margin-left: auto;
}

@media (min-width: @break-xs) {
    .modal-dialog {
        max-width: @modal-width;
        margin: (@spacing * 2) auto;
    }

    .modal-dialog-scrollable {
        max-height: calc(100% - (@spacing * 3));
    }

    .modal-dialog-scrollable .modal-content {
        max-height: calc(100vh - (@spacing * 5));
    }

    .modal-dialog-centered {
        min-height: calc(100% - (@spacing * 4));
    }

    .modal-sm {
        max-width: @modal-sm-width;
    }
}

@media (min-width: @break-md) {
    .modal-lg,
    .modal-xl {
        max-width: @modal-lg-width;
    }
}

@media (min-width: @break-lg) {
    .modal-xl {
        max-width: @modal-xl-width;
    }
}

.mix-modal-fullscreen();

@media (max-width: @break-xs) {
    .mix-modal-fullscreen(-xs-down);
}

@media (max-width: @break-sm) {
    .mix-modal-fullscreen(-sm-down);
}

@media (max-width: @break-md) {
    .mix-modal-fullscreen(-md-down);
}

@media (max-width: @break-lg) {
    .mix-modal-fullscreen(-lg-down);
}

@media (max-width: @break-xl) {
    .mix-modal-fullscreen(-xl-down);
}