.nav {
    display: flex;
    flex-wrap: wrap;
    margin-left: 0;
    margin-bottom: 0;
    list-style: none;
}

.nav-link {
    display: block;
    padding: (@spacing / 2) @spacing;
    text-decoration: none;
    border-radius: @border-radius;
    transition: all @transition-time @transition-type;
    transition-property: color background-color border-color;

    &:hover {
        text-decoration: none;
        .text-light(@link);
    }

    &:focus {
        text-decoration: none;
        background-color: @light;
    }

    &.disabled {
        opacity: @disabled-opacity;
        pointer-events: none;
        cursor: default;
    }
}

.nav-tabs {
    border-bottom: @border-size @border-style @border-color;

    .nav-link {
        margin-bottom: -@border-size;
        border: @border-size @border-style transparent;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;

        &:hover,
        &:focus {
            border-color: @border-color;
        }
    
        &.disabled {
            background-color: transparent;
            border-color: transparent;
        }
    }

    .nav-link.active,
    .nav-item.show .nav-link {
        color: @text;
        background-color: @white;
        border-color: @border-color @border-color @white;

        &:focus {
            border-color: @link @link @white;
        }
    }

    .dropdown-menu {
        border-top-left-radius: 0;
        border-top-right-radius: 0;
    }
}

.nav-pills {

    .nav-link.active,
    .nav-item.show .nav-link {
        background-color: @link;
        .text-color(@link);

        &:focus {
            .bg-light(@link);
        }
    }
}

.nav-fill {
    > .nav-link,
    .nav-item {
        flex: 1 1 auto;
        text-align: center;
    }
}

.nav-justified {
    > .nav-link,
    .nav-item {
        flex-basis: 0;
        flex-grow: 1;
        text-align: center;
    }
}

.tab-content {
    > .tab-pane {
        display: none;

        &.active {
            display: block;
        }
    }
}

.card-header-tabs {
    margin-left: -(@spacing / 2);
    margin-right: -(@spacing / 2);
    margin-bottom: -(@spacing / 2);
    border-bottom: 0;
}

.card-header-pills {
    margin-left: -(@spacing / 2);
    margin-right: -(@spacing / 2);
}