.nav {
    display: flex;
    margin-bottom: 0;
}

.nav-link {
    display: block;
    padding: @half-spacing @spacing;

    &:hover:not(:focus),
    &:hover:not(.focus),
    &.hover:not(:focus),
    &.hover:not(.focus) {
        text-decoration: none;
    }

    &.disabled {
        opacity: @disabled-opacity;
        pointer-events: none;
    }
}

.nav-fill .nav-link {
    flex: 1 1 auto;
    text-align: center;
}

.nav-justified .nav-link {
    flex-basis: 0;
    flex-grow: 1;
    text-align: center;
}

.nav-pills {
    & .nav-link {
        margin: 0;
        border: @border-size @border-style transparent;
        border-radius: @border-radius;

        &:not(:last-child) {
            margin-right: @quarter-spacing;
        }

        &.active {
            background-color: @link;
            .text-color(@link);

            &:hover,
            &.hover {
                background-color: darken(@link, 5%);
            }
    
            &:focus,
            &.focus {
                z-index: @z-focus;
                box-shadow: @shadow-xs;
                text-decoration: none;
            }
    
            &:active {
                z-index: @z-active;
                box-shadow: @shadow;
            }
        }

        &:hover,
        &.hover {
            z-index: @z-hover;
        }
    }
}

.nav-tabs {
    border-bottom: @border-size @border-style @border-color;

    & .nav-link.active {
        background-color: @white;
        border-color: @border-color;
        border-bottom-color: transparent;
    }

    & .open .nav-link,
    & .nav-link:hover,
    & .nav-link.hover,
    & .nav-link:focus,
    & .nav-link.focus {
        &:not(.active) {
            border-color: @shadow-color;
        }
        border-bottom-color: transparent;
    }

    & .nav-link {
        margin: 0 0 -@border-size;
        background-color: transparent;
        border: @border-size @border-style transparent;
        border-top-left-radius: @border-radius;
        border-top-right-radius: @border-radius;

        &:not(:last-child) {
            margin-right: @spacing / 10;
        }

        &:hover,
        &.hover {
            z-index: @z-hover;
        }

        &:focus,
        &.focus {
            z-index: @z-focus;
            text-decoration: none
        }
    
        &:active,
        &.active {
            z-index: @z-active;
        }
    }
}

.tab-pane {
    display: none;
}

.tab-pane.active {
    display: block;
}

.card-header-tabs {
    margin-left: -@half-spacing;
    margin-right: -@half-spacing;
    margin-bottom: -@half-spacing;
    border-bottom: 0;
}

.card-header-pills {
    margin-left: -@half-spacing;
    margin-right: -@half-spacing;
}
