.mix-navbar() {
    flex-wrap: nowrap;
    justify-content: flex-start;

    .navbar-collapse {
        display: flex !important;
    }

    .navbar-toggler {
        display: none;
    }

    .navbar-nav {
        flex-direction: row;

        .dropdown-menu {
            position: absolute;
        }

        .nav-link {
            padding-left: @spacing / 2;
            padding-right: @spacing / 2;
        }
    }
}

.navbar {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding-top: @spacing / 2;
    padding-bottom: @spacing / 2;

    > .container,
    > .container-fluid,
    > .container-sm,
    > .container-md,
    > .container-lg,
    > .container-xl,
    > .container-xxl {
        display: flex;
        flex-wrap: inherit;
        align-items: center;
        justify-content: space-between;
    }
}

.navbar-brand {
    padding-top: @spacing / 4;
    padding-bottom: @spacing / 4;
    margin-right: @spacing;
    font-size: @font-size-lg;
    white-space: nowrap;
}

.navbar-nav {
    display: flex;
    flex-direction: column;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;

    .nav-link {
        padding-right: 0;
        padding-left: 0;

        &.disabled {
            opacity: @disabled-opacity;
            pointer-events: none;
        }
    }

    .dropdown-menu {
        position: static;
    }
}

.navbar-text {
    padding-top: @spacing / 2;
    padding-bottom: @spacing / 2;
}

.navbar-collapse {
    flex-grow: 1;
    align-items: center;
    width: 100%;
}

.navbar-toggler {
    padding: (@spacing / 4) (@spacing / 2);
    font-size: @font-size-lg;
    line-height: 1;
    background-color: transparent;
    border: @border-size @border-style transparent;
    border-radius: @border-radius;

    &:focus {
        outline: 0;
    }

    .navbar-toggler-icon {
        position: relative;
        top: -@border-size;
    }
}

.navbar-toggler-icon::before {
    content: @navbar-toggle;
}

.navbar-light {
    .navbar-brand {
        color: @black;
    }

    .navbar-nav {
        .nav-link {
            color: fade(@black, 70%);

            &:hover {
                color: fade(@black, 90%);
            }

            &:focus {
                color: @black;
                background-color: fade(@black, @bg-fade);
            }
        }

        .nav-link.active,
        .show > .nav-link {
            color: @black;
        }
    }

    .navbar-text {
        color: tint(@color, @text-lighter);
    }

    .navbar-toggler:focus {
        background-color: fade(@black, @bg-fade);
    }
}

.navbar-dark {
    .navbar-brand ,
    .navbar-toggler {
        color: @white;
    }

    .navbar-nav {
        .nav-link {
            color: fade(@white, 70%);

            &:hover {
                color: fade(@white, 90%);
            }

            &:focus {
                color: @white;
                background-color: fade(@white, @bg-fade);
            }
        }

        .nav-link.active,
        .show > .nav-link {
            color: @white;
        }
    }

    .navbar-text {
        color: shade(@white, @text-darker);
    }

    .navbar-toggler:focus {
        background-color: fade(@white, @bg-fade);
    }
}

.navbar-expand {
    .mix-navbar();
}

@media (min-width: @break-xs) {
    .navbar-expand-sm {
        .mix-navbar();
    }
}

@media (min-width: @break-sm) {
    .navbar-expand-md {
        .mix-navbar();
    }
}

@media (min-width: @break-md) {
    .navbar-expand-lg {
        .mix-navbar();
    }
}

@media (min-width: @break-lg) {
    .navbar-expand-xl {
        .mix-navbar();
    }
}