.pagination {
    display: flex;
    padding-left: 0;
    list-style: none;
    border-radius: @border-radius;
}

.pagination-sm .page-link {
    padding: (@spacing / 4) (@spacing / 2);
    font-size: .875rem;
    line-height: 1.5;
}

.pagination-lg .page-link {
    padding: (@spacing * .75) (@spacing * 1.5);
    font-size: 1.25rem;
    line-height: 1.5;
}

.page-item {
    &.active .page-link {
        z-index: 1;
        color: @white;
        background-color: @link;
        border-color: @link;
    }

    &.disabled .page-link {
        color: @secondary;
        pointer-events: none;
        cursor: auto;
        background-color: @white;
    }

    &:first-child .page-link {
        margin-left: 0;
        border-top-left-radius: @border-radius;
        border-bottom-left-radius: @border-radius;
    }

    &:last-child .page-link {
        border-top-right-radius: @border-radius;
        border-bottom-right-radius: @border-radius;
    }
}

.page-link {
    position: relative;
    display: block;
    padding: @spacing / 2;
    margin-left: -@border-size;
    line-height: 1.25;
    color: @link;
    background-color: @white;
    border: @border-size @border-style @border-color;
    transition: color @transition-time @transition-type, background-color @transition-time @transition-type, box-shadow @transition-time @transition-type;

    &:hover {
        color: darken(@link, 30%);
        background-color: @light;
        text-decoration: none;
        z-index: @z-hover;
    }

    &:focus {
        outline: 0;
        z-index: @z-focus;
        box-shadow: @shadow-xs;
    }

    &:active {
        z-index: @z-active;
        box-shadow: @shadow;
    }

    &:not(:disabled):not(.disabled) {
        cursor: pointer;
    }
}