.pagination {
    display: flex;
    padding-left: 0;
    list-style: none;
    border-radius: @border-radius;
}

.page-link {
    position: relative;
    display: block;
    background-color: @secondary;
    border: @border-size @border-style @border-color;
    transition: all @transition-time @transition-type;
    transition-property: color, background-color, box-shadow;
    padding: (@spacing / 2);

    &,
    &:hover,
    &:focus {
        .text-color(@secondary);
        text-decoration: none;
    }

    &:hover,
    &:focus,
    &:active,
    &.active {
        z-index: 1;
    }

    &:hover {
        background-color: shade(@secondary, @bg-dark);
    }

    &:focus {
        background-color: tint(@secondary, @bg-light);
        outline: 0;
        box-shadow: @shadow-xs;
    }

    &:active {
        box-shadow: @shadow;
    }
}

.page-item {
    &.active .page-link {
        background-color: shade(@secondary, @bg-darker);

        &:focus {
            background-color: shade(@secondary, @bg-dark);
        }
    }

    &.disabled .page-link {
        opacity: @disabled-opacity;
        pointer-events: none;
    }

    &:first-child .page-link {
        border-top-left-radius: @border-radius;
        border-bottom-left-radius: @border-radius;
    }

    &:last-child .page-link {
        border-top-right-radius: @border-radius;
        border-bottom-right-radius: @border-radius;
    }

    &:not(:first-child) .page-link {
        margin-left: -@border-size;
    }
}

.pagination-sm .page-link {
    padding: (@spacing / 4) (@spacing / 2);
    font-size: @font-size-sm;
    line-height: 1.5;
}

.pagination-lg .page-link {
    padding: (@spacing * .75) (@spacing * 1.5);
    font-size: @font-size-lg;
    line-height: 1.5;
}