.progress {
    display: flex;
    height: @spacing;
    overflow: hidden;
    font-size: .75rem;
    background-color: @light;
    border-radius: @border-radius;
    margin-bottom: @spacing;
}

.progress-bar-striped {
    background-image: linear-gradient(45deg,rgba(255,255,255,.15) 25%,transparent 25%,transparent 50%,rgba(255,255,255,.15) 50%,rgba(255,255,255,.15) 75%,transparent 75%,transparent);
    background-size: 1rem 1rem;
}

.progress-bar-animated {
    -webkit-animation: progress-bar-stripes 1s linear infinite;
    animation: progress-bar-stripes 1s linear infinite;
}

.progress-vertical {
    align-items: flex-end;
    flex-direction: column;
    width: @spacing;
    height: 200px;

    & .progress-bar {
        width: 100%;
        transition: height .6s ease;

        &:first-child {
            margin-top: auto;
        }
    }
}

.progress-bar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: @white;
    text-align: center;
    white-space: nowrap;
    background-color: @primary;
    transition: width .6s ease;
}