@keyframes spinner-border {
    to {
        transform: rotate(360deg);
    }
}

.spinner-border {
    display: inline-flex;
    width: @spacing * 2;
    height: @spacing * 2;
    vertical-align: text-bottom;
    border: .25em solid currentColor;
    border-right-color: transparent;
    border-radius: 50%;
    animation: spinner-border @transition-time-longer @transition-type infinite;
    line-height: 1.5;
}

.spinner-border-sm {
    width: @spacing;
    height: @spacing;
    border-width: .2em;
}

@keyframes spinner-grow {
    0% {
        transform: scale(0);
    }
    50% {
        opacity: 1;
    }
}

.spinner-grow {
    display: inline-block;
    width: @spacing * 2;
    height: @spacing * 2;
    vertical-align: text-bottom;
    background-color: currentColor;
    border-radius: 50%;
    opacity: 0;
    animation: spinner-grow @transition-time-longer @transition-type infinite;
}

.spinner-grow-sm {
    width: @spacing;
    height: @spacing;
}