.table {
    width: 100%;
    margin-bottom: @spacing;

    & th, td {
        border-bottom: @border-size @border-style @border-color;
        padding: .5rem 1rem;
    }

    & th {
        border-bottom-width: (@border-size * 2);
    }
}

.table-bordered {
    & th, td {
       border: @border-size @border-style @border-color;
    }

    & th {
       border-bottom-width: (@border-size * 2);
    }
}

.table-striped {
    & tr:nth-child(even) {
        background-color: @light;
    }
}