.toast {
    width: @toast-width;
    max-width: 100%;
    font-size: @font-size-sm;
    pointer-events: auto;
    color: @text;
    background-color: @toast-color;
    background-clip: padding-box;
    border: @border-size @border-style @border-color;
    border-radius: @border-radius;
    opacity: 0;
    backdrop-filter: blur(10px);

    &:not(:last-child) {
        margin-bottom: @spacing;
    }
    
    &.show {
        display: block;
        opacity: 1;
    }

    &.hide {
        display: none;
    }
}

.toast-container {
    width: max-content;
    max-width: 100%;
    pointer-events: none;

    > :not(:last-child) {
        margin-bottom: @spacing * 0.75;
    }
}

.toast-header {
    display: flex;
    align-items: center;
    padding: (@spacing / 2) (@spacing * 0.75);
    color: @dark;
    background-color: @toast-color;
    background-clip: padding-box;
    border-bottom: @border-size @border-style @shadow-color;
    border-top-left-radius: calc(@border-radius - @border-size);
    border-top-right-radius: calc(@border-radius - @border-size);

    .close {
        padding: (@spacing / 2);
        margin: -(@spacing / 2) -(@spacing / 2) -(@spacing / 2) auto;
    }
}

.toast-body {
    padding: (@spacing * 0.75);
}