.tooltip {
    position: absolute;
    z-index: @z-tooltip;
    display: block;
    margin: 0;
    .reset-text();
    word-wrap: break-word;
    font-size: .875rem;
    opacity: 0;

    &.show {
        opacity: .9;
    }

    .tooltip-arrow {
        position: absolute;
        display: block;
        width: .8rem;
        height: .4rem;
        pointer-events: none;

        &::before {
            position: absolute;
            content: "";
            border-color: transparent;
            border-style: solid;
        }
    }

    &[data-placement="top"] .tooltip-arrow {
        bottom: 0;

        &::before {
            top: 0;
            border-width: .4rem .4rem 0;
            border-top-color: @black;
        }
    }

    &[data-placement="right"] .tooltip-arrow {
        left: 0;

        &::before {
            right: 0;
            border-width: .4rem .4rem .4rem 0;
            border-right-color: @black;
        }
    }

    &[data-placement="bottom"] .tooltip-arrow {
        top: 0;

        &::before {
            bottom: 0;
            border-width: 0 .4rem .4rem;
            border-bottom-color: @black;
        }
    }

    &[data-placement="left"] .tooltip-arrow {
        right: 0;

        &::before {
            left: 0;
            border-width: .4rem 0 .4rem .4rem;
            border-left-color: @black;
        }
    }
}

.tooltip-inner {
    max-width: 200px;
    padding: (@spacing / 4) (@spacing / 2);
    color: @white;
    text-align: center;
    background-color: @black;
    border-radius: @border-radius;
}