.tooltip {
    position: absolute;
    z-index: @z-tooltip;
    display: block;
    margin: 0;
    .reset-text();
    word-wrap: break-word;
    font-size: @font-size-sm;
    opacity: 0;

    &.show {
        opacity: .9;
    }

    .tooltip-arrow {
        position: absolute;
        display: block;
        width: @tooltip-arrow-size;
        height: @tooltip-arrow-size / 2;
        pointer-events: none;

        &::before {
            position: absolute;
            content: "";
            border-color: transparent;
            border-style: solid;
        }
    }

    &[data-ui-placement="top"] .tooltip-arrow {
        bottom: 0;

        &::before {
            top: 0;
            border-width: (@tooltip-arrow-size / 2) (@tooltip-arrow-size / 2) 0;
            border-top-color: @black;
        }
    }

    &[data-ui-placement="right"] .tooltip-arrow {
        left: 0;

        &::before {
            right: 0;
            border-width: (@tooltip-arrow-size / 2) (@tooltip-arrow-size / 2) (@tooltip-arrow-size / 2) 0;
            border-right-color: @black;
        }
    }

    &[data-ui-placement="bottom"] .tooltip-arrow {
        top: 0;

        &::before {
            bottom: 0;
            border-width: 0 (@tooltip-arrow-size / 2) (@tooltip-arrow-size / 2);
            border-bottom-color: @black;
        }
    }

    &[data-ui-placement="left"] .tooltip-arrow {
        right: 0;

        &::before {
            left: 0;
            border-width: (@tooltip-arrow-size / 2) 0 (@tooltip-arrow-size / 2) (@tooltip-arrow-size / 2);
            border-left-color: @black;
        }
    }
}

.tooltip-inner {
    max-width: @tooltip-width;
    padding: (@spacing / 4) (@spacing / 2);
    color: @white;
    text-align: center;
    background-color: @black;
    border-radius: @border-radius;
}